@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic&subset=latin-ext,latin");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
body {
  background: #fff;
}
body {
  font-size: 100%;
  font-family: "Lato", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.01rem;
  padding: 0;
  margin: 0;
}
hr {
  border: 0;
  height: 1px;
  margin: 1em 0;
  background: linear-gradient(to right, #fff, #aaa, #fff);
  width: 100%;
}
hr.wyd-violet {
  background: linear-gradient(to right, #fff, #5b0ec5, #fff);
}
.hidden {
  display: none;
}
a {
  border: none;
  text-decoration: none;
  color: initial;
}
a:hover {
  border: none;
  text-decoration: none;
  color: initial;
}
a:visited {
  opacity: 1;
}
.italic {
  font-style: italic;
}
.straight {
  font-style: normal;
}
.nav--lang {
  margin: 0 1rem;
  padding: 0.2rem 0;
  font-size: 13px;
  font-size: 0.809rem;
  text-align: right;
  line-height: 1rem;
  color: #aaa;
  border-bottom: 1px solid #c3c3c3;
}
.nav--lang li {
  display: inline-block;
}
.nav--lang a {
  color: #aaa;
  font-weight: bold;
  padding: 0 0.429rem;
}
.nav--lang a.is-current {
  color: #222;
}
.nav--lang li:last-child a {
  padding-right: 0;
}
#cookies-message {
  padding: 0.618rem 1rem;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.618em;
  border-bottom: 1px solid #aaa;
  text-align: center;
  position: fixed;
  top: 0px;
  background-color: #ddd;
  background: rgba(221,221,221,0.93);
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 1rem #aaa;
}
#accept-cookies-checkbox {
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #2ecc40;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: "Lato", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  margin-left: 1rem;
}
#accept-cookies-checkbox:hover,
#accept-cookies-checkbox:focus {
  background-color: #2cc23d;
  color: #f7f7f7;
}
#accept-cookies-checkbox:active {
  background-color: #29b83a;
}
h1 {
  font-size: 30px;
  font-size: 1.888rem;
  text-rendering: optimizelegibility;
  line-height: 1em;
  text-align: center;
  font-weight: normal;
  -webkit-font-feature-settings: "liga", "dlig";
     -moz-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
  margin: 1.618rem 1rem;
}
.nav--main {
  margin: 1rem 1rem;
  font-size: 14px;
  font-size: 0.9rem;
}
.nav--main ul {
  padding: 0;
}
.nav--main li {
  display: inline-block;
}
.nav--main li a {
  font-weight: bold;
  color: #888;
  margin: 0;
  margin-right: 0.858rem;
  padding-bottom: 2px;
}
.nav--main li a.is-current {
  color: #ed1c24;
  border-bottom: 2px solid #ed1c24;
}
.nav--main li:first-child a {
  margin-left: 0;
}
.nav--main li:last-child a {
  margin-right: 0;
}
.content--main {
  margin: 1.618rem 1rem;
  clear: both;
}
.content--main p a,
.tile--content p a,
.content--main li a,
.tile--content li a,
.content--main label a,
.tile--content label a,
.content--main figcaption a,
.tile--content figcaption a,
.content--main address a,
.tile--content address a {
  color: #0e87c5;
  text-decoration: none;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
}
.content--main p a:hover,
.tile--content p a:hover,
.content--main li a:hover,
.tile--content li a:hover,
.content--main label a:hover,
.tile--content label a:hover,
.content--main figcaption a:hover,
.tile--content figcaption a:hover,
.content--main address a:hover,
.tile--content address a:hover {
  border-bottom: 1px solid;
}
.content--main p a:hover,
.tile--content p a:hover,
.content--main li a:hover,
.tile--content li a:hover,
.content--main label a:hover,
.tile--content label a:hover,
.content--main figcaption a:hover,
.tile--content figcaption a:hover,
.content--main address a:hover,
.tile--content address a:hover {
  color: #0c73a7;
}
.content--main p a:visited,
.tile--content p a:visited,
.content--main li a:visited,
.tile--content li a:visited,
.content--main label a:visited,
.tile--content label a:visited,
.content--main figcaption a:visited,
.tile--content figcaption a:visited,
.content--main address a:visited,
.tile--content address a:visited {
  opacity: 0.8;
}
.content--wrapper {
  clear: both;
  overflow: hidden;
}
.footer--main {
  clear: both;
  margin: 1.618rem 1rem;
}
.footer--main p {
  text-align: center;
  font-style: italic;
  font-size: 13px;
  font-size: 0.809rem;
}
.footer--main p,
.footer--main a {
  color: #888;
}
h2 {
  font-size: 24px;
  font-size: 1.528rem;
  font-weight: 300;
  line-height: 0;
  margin: 0 auto;
  padding-top: 0.794rem;
  color: #ed1c24;
  border-bottom: 1px solid #ed1c24;
}
h2 span {
  background: #fff;
  padding-right: 1rem;
}
h3 {
  font-size: 20px;
  font-size: 1.236rem;
  font-weight: bold;
  line-height: 1.618em;
  margin: 0 auto;
  padding-top: 0.794rem;
}
p,
address {
  font-size: 16px;
  font-size: 1rem;
  margin: 0.655rem 0;
}
blockquote {
  font-size: 16px;
  font-size: 1rem;
  margin: 0.655rem 2.618rem;
}
h2+section {
  padding-top: 0.794rem;
}
p,
li,
address,
blockquote {
  line-height: 1.618rem;
}
.tile--row {
  width: 100%;
  clear: both;
  margin-top: 1em;
  display: block;
  margin-bottom: 1em;
  text-align: center;
}
.tile--row.tile--row {
  margin: 0;
}
.tile {
  display: block;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
.tile--image {
  height: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  vertical-align: middle;
}
.tile--image img {
  width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}
.tile--caption {
  display: table;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: #fff;
  font-size: 1.236rem;
  text-shadow: 0 0 0.25em #000;
  text-shadow: 0 0 0.25em rgba(0,0,0,0.9);
  width: 100%;
  padding: 2rem 1rem 1rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.3) 100%);
}
.tile:hover .tile--caption {
  text-decoration: underline;
}
.tile--3-2 {
  padding-top: 65.74%;
}
.tile--3-2 .tile--caption {
  font-size: 26px;
  font-size: 1.618rem;
  font-weight: 700;
}
.tile--1-1 .tile--caption {
  font-size: 16px;
  font-size: 1rem;
}
.tile--2-2 {
  padding-top: 100%;
}
.tile--2-2 .tile--caption {
  font-weight: 700;
}
.tile--2-1 {
  padding-top: 47.82%;
}
.tile--3-2 {
  padding-top: 65.74%;
}
.tile--1-1,
.tile--2-2 {
  width: 47.5%;
  padding-top: 47.5%;
  display: inline-block;
  margin-right: 5%;
}
.tile--2-2.tile--mobile-ending {
  width: 100%;
  padding-top: 100%;
}
.tile--mobile-ending {
  margin-right: 0;
}
.tile--content {
  float: none;
  display: block;
}
.js-hide .tile--content {
  margin-top: 1.618em;
}
.link--tile {
  display: block;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
.link--tile .link--tile__image {
  height: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  vertical-align: middle;
}
.link--tile .link--tile__image img {
  width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}
.link--tile .link--tile__caption {
  display: table;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: #fff;
  font-size: 1.236rem;
  text-shadow: 1px 1px 2px #000;
  width: 100%;
  padding: 2rem 1rem 1rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 100%);
}
.link--tile .link--tile__caption.no-shadow {
  background: #fff;
}
.link--tile:hover .link--tile__caption {
  text-decoration: underline;
}
figure {
  margin: 1.618rem 0 0.618rem;
  text-align: center;
}
figure figcaption {
  font-style: italic;
  margin-top: 1rem;
}
figure img {
  margin: 0 auto;
}
.content--lyrics {
  overflow: hidden;
  float: left;
  width: 47.5%;
}
.content--lyrics+.content--lyrics {
  margin-left: 5%;
}
.content--lyrics p {
  padding-left: 1rem;
  text-indent: -1rem;
}
.italic {
  font-style: italic;
}
.strong {
  font-weight: bold;
}
.pull-right {
  float: right;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.wyd-red {
  color: #ed1c24;
}
.wyd-yellow {
  color: #f9b00b;
}
.wyd-blue {
  color: #0e87c5;
}
.wyd-violet {
  color: #5b0ec5;
}
.content--news {
  background: #fffdf8;
  border: 1px solid #f9b00b;
  box-shadow: 0 0 0.655em #fab823;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 1em 0.655em 0 0.655em;
}
.content--news ul {
  list-style-type: none;
  padding-left: 0;
}
.content--forms {
  background: #faf7fe;
  border: 1px solid #5b0ec5;
  box-shadow: 0 0 0.655em #6810e1;
}
.news--dates li {
  font-weight: 700;
  font-size: 0.809em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #888;
  border-bottom: 1px solid #aaa;
}
.news--links li {
  font-weight: 400;
  font-size: 1em;
  text-transform: none;
  letter-spacing: 0;
  color: #333;
  padding: 0.382em 0;
  border-bottom: none;
}
iframe,
img {
  max-width: 100%;
}
form {
  margin-top: 0.802rem;
}
.content--map {
  width: 100%;
}
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week'],
textarea {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  border: solid 1px #bbb;
  border-radius: 0.2em;
  outline: none;
  padding: 0.45em;
  background: #fff;
  color: #555;
  width: 100%;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  transition: all .3s ease;
  font-family: "Lato", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  transition: none;
  box-sizing: border-box;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(14,135,197,0.7);
  border: 1px solid #2e7da5;
  outline: none;
}
label {
  line-height: 1.5em;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-size: 0.9rem;
  line-height: 1.618rem;
  color: #555;
}
input[type=submit] {
  font-size: 18px;
  padding: 14px 30px;
  border-radius: 4px;
  background-color: #2ecc40;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-family: "Lato", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #2cc23d;
  color: #f7f7f7;
}
input[type=submit]:active {
  background-color: #29b83a;
}
.actions {
  text-align: right;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.618rem;
  margin: 0.618rem 0.618rem 0.618rem 0;
}
.field+.field,
.field+.actions {
  margin-top: 1rem;
}
p.news--date {
  padding-bottom: 1em;
  font-style: italic;
  color: #999;
  border-bottom: 1px solid #bbb;
}
.page--violet h2,
.page--violet .nav--main a.is-current {
  color: #5b0ec5;
  border-color: #5b0ec5;
}
.page--blue h2,
.page--blue .nav--main a.is-current {
  color: #0e87c5;
  border-color: #0e87c5;
}
.page--yellow h2,
.page--yellow .nav--main a.is-current {
  color: #f9b00b;
  border-color: #f9b00b;
}
.content--image__1_1 {
  max-width: 40%;
}
.registration-option {
  border: 1px solid #5b0ec5;
  border-radius: 1em;
  padding: 0 1em 1em 1em;
  margin: 1em auto;
}
.registration-option h4 {
  text-align: center;
}
.registration-option .registration-option--details p,
.registration-option .registration-option--details li {
  font-size: 0.809em;
}
.registration-option .registration-option--linkWrapper {
  text-align: center;
  font-weight: bold;
}
.hidden-1,
.hidden-2,
.hidden-3 {
  display: none;
}
.registration-form p {
  text-align: center;
  font-size: 1.382em;
  margin-top: 1.618em;
  line-height: 1.618em;
}
.registration-form #age {
  font-style: italic;
  color: #aaa;
  font-size: 1em;
  margin-top: 0;
}
.registration-form label {
  text-transform: none;
  font-size: 1em;
}
.registration-form input[type=text] {
  text-align: center;
}
.registration-form .registration-form-options label,
.registration-form input[type=text] {
  border-radius: 0.2em;
  border: 1px solid #5b0ec5;
  text-transform: none;
  padding: 1em;
  margin: 1em auto;
  cursor: pointer;
  transition: all 0.1s;
}
.registration-form .registration-form-options label:hover,
.registration-form input[type=text]:hover {
  box-shadow: 0 0.056em 0.382em rgba(91,14,197,0.7);
  transition: all 0.1s;
}
.registration-form .registration-form-options {
  text-align: center;
  vertical-align: 0;
}
.registration-form .registration-form-options input[type=radio] {
  display: none;
}
.registration-form .registration-form-options input[type=radio]:checked + label {
  box-shadow: inset 0 0.09em 0.382em rgba(91,14,197,0.7);
  transition: all 0.1s;
}
.registration-form .registration-form-options input[type=radio]:checked + label:hover {
  box-shadow: inset 0 0.09em 0.382em rgba(91,14,197,0.4);
  transition: all 0.1s;
}
@media only screen and (min-width: 30rem) {
  .nav--sidebar {
    overflow: hidden;
  }
  .nav--sidebar .link--tile {
    width: 47.5%;
    padding-top: 26%;
    float: left;
  }
  .nav--sidebar .link--tile:nth-child(2n) {
    margin-left: 5%;
  }
}
@media only screen and (min-width: 37rem) {
  .registration-form .registration-form-options label {
    box-sizing: border-box;
    display: inline-block;
    width: 47%;
    margin-right: 2.5%;
  }
  .registration-form .registration-form-options-wrapper {
    display: -ms-flexbox;
    display: box;
    display: flex;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav--lang,
  .content--main,
  .nav--main,
  .header--main {
    width: 35rem;
    margin: 0 auto;
  }
  .nav--main {
    text-align: center;
  }
  h2 {
    text-align: center;
    margin-bottom: 0.618rem;
  }
  h2 span {
    padding-left: 1rem;
  }
  .content--main {
    overflow: hidden;
  }
  .content--text {
    width: 33rem;
    float: none;
    margin: 0 auto;
  }
  .nivo-lightbox-wrap {
    left: 7%;
    right: 7%;
  }
  .nivo-lightbox-content .content--text {
    width: 29rem;
  }
  .content--text-w-center {
    float: none;
    margin: 0 auto;
  }
  .tile {
    display: inline-block;
    margin-right: 1em;
  }
  .tile:last-child {
    margin-right: 0;
  }
  .tile--3-2 {
    width: 20.6rem;
    padding-top: 13.4rem;
  }
  .tile--2-2,
  .tile--2-2.tile--mobile-ending {
    width: 13.4rem;
    padding-top: 13.4rem;
  }
  .tile--2-1 {
    width: 13.4rem;
    padding-top: 6.2rem;
  }
  .tile--1-1 {
    width: 6.2rem;
    padding-top: 6.2rem;
  }
  .fs-0 {
    font-size: 0;
  }
  .tile--column {
    display: inline-block;
    margin-right: 0.99em;
    font-size: 16px;
    font-size: 1rem;
  }
  .tile--column:last-child {
    margin-right: 0;
  }
  .tile--column .tile {
    display: block;
    margin-right: 0;
  }
  .tile--column--1 {
    width: 6.2rem;
  }
  .tile--column--2 {
    width: 13.4em;
  }
  .tile--wide-ending {
    clear: right;
    margin-right: 0;
  }
}
@media only screen and (min-width: 41rem) {
  .nav--lang,
  .content--main,
  .nav--main,
  .header--main {
    width: 39rem;
    margin: 0 auto;
  }
  .tile--3-2 {
    width: 23rem;
    padding-top: 15rem;
  }
  .tile--2-2,
  .tile--2-2.tile--mobile-ending {
    width: 15rem;
    padding-top: 15rem;
  }
  .tile--2-1 {
    width: 15rem;
    padding-top: 7rem;
  }
  .tile--1-1 {
    width: 7rem;
    padding-top: 7rem;
  }
  .tile--column--1 {
    width: 7rem;
  }
  .tile--column--2 {
    width: 15rem;
  }
}
@media only screen and (min-width: 53rem) {
  .content--65 {
    width: 60%;
    padding-right: 5%;
    display: table-cell;
  }
  .content--35 {
    width: 35%;
    display: table-cell;
    vertical-align: middle;
  }
  .content--75 {
    width: 75%;
    padding-right: 5%;
    display: table-cell;
  }
  .content--25 {
    width: 25%;
    display: table-cell;
    vertical-align: middle;
  }
  .nav--lang,
  .content--main,
  .header--main {
    width: 51rem;
    clear: both;
  }
  h1 {
    width: auto;
    float: left;
    margin-left: 0;
    text-align: left;
  }
  .nav--main {
    margin-top: 1.5rem;
    float: right;
    width: auto;
  }
  .content--text {
    float: left;
  }
  .content--text.content--text-w-center {
    float: none;
  }
  .nav--sidebar {
    width: 16rem;
    margin-left: 2rem;
    margin-top: 1.794rem;
    float: left;
  }
  .nav--sidebar .link--tile {
    width: 100%;
    padding-top: 56.25%;
  }
  .nav--sidebar .link--tile:nth-child(2n) {
    margin-left: 0;
  }
  .media {
    overflow: hidden;
    zoom: 1;
  }
  .media > * {
    display: inline-block;
    overflow: hidden;
  }
  .media > *:first-child {
    float: left;
    margin-right: 1rem;
  }
  .media > *:nth-child(3) {
    float: right;
    margin-left: 1rem;
  }
  .media figure {
    margin-top: 1rem;
  }
  .media h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .media > p {
    display: block;
    float: none !important;
    margin-top: 0;
  }
  .tile {
    display: inline-block;
    margin-right: 1em;
  }
  .tile:last-child {
    margin-right: 0;
  }
  .tile--3-2 {
    width: 30.2em;
    padding-top: 19.8em;
  }
  .tile--2-2,
  .tile--2-2.tile--mobile-ending {
    width: 19.8em;
    padding-top: 19.8em;
  }
  .tile--2-1 {
    width: 19.8em;
    padding-top: 9.4em;
  }
  .tile--1-1 {
    width: 9.4em;
    padding-top: 9.4em;
  }
  .fs-0 {
    font-size: 0;
  }
  .tile--column {
    display: inline-block;
    margin-right: 0.99em;
    font-size: 16px;
    font-size: 1rem;
  }
  .tile--column:last-child {
    margin-right: 0;
  }
  .tile--column .tile {
    display: block;
    margin-right: 0;
  }
  .tile--column--1 {
    width: 9.4em;
  }
  .tile--column--2 {
    width: 19.8em;
  }
  .tile--wide-ending {
    clear: right;
    margin-right: 0;
  }
}
@media only screen and (min-width: 59em) {
  .nivo-lightbox-wrap {
    left: 10%;
    right: 10%;
  }
  .nav--lang,
  .content--main,
  .header--main {
    width: 57rem;
  }
  .content--text,
  .nivo-lightbox-content .content--text {
    width: 35rem;
  }
  .nav--sidebar {
    width: 20rem;
  }
  .content--map {
    height: 20rem;
  }
  .tile--3-2 {
    width: 33.8em;
    padding-top: 22.2em;
  }
  .tile--2-2,
  .tile--2-2.tile--mobile-ending {
    width: 22.2em;
    padding-top: 22.2em;
  }
  .tile--2-1 {
    width: 22.2em;
    padding-top: 10.6em;
  }
  .tile--1-1 {
    width: 10.6em;
    padding-top: 10.6em;
  }
  .tile--column--1 {
    width: 10.6em;
  }
  .tile--column--2 {
    width: 22.2em;
  }
}
@media print {
  .nav--lang,
  .nav--main,
  .footer--main {
    visibility: hidden;
  }
  .content--main {
    visibility: visible;
  }
  @page {
    margin-top: 0.75in;
    margin-bottom: 0.75in;
  }
  .content--main {
    max-width: 4.95in;
    margin: 0 auto;
  }
  body {
    color: #222;
    orphans: 2;
    widows: 2;
  }
  figure,
  img,
  a {
    page-break-inside: avoid;
  }
}
.es .header--main h1 {
  float: none;
  text-align: center;
  width: 100%;
}
.es nav.nav--main {
  display: none;
}
