---
title: "Subskrypcja organizatorów"
description: "Jesteś organizatorem lokalnej kalasantyńskiej grupy? Przybędziesz z grupą młodych ludzi do Polski w 2016 roku? Chciałbyś otrzymywać aktualne informacje i ogłoszenia do swojej skrzynki mailowej?"
---

extends /layouts/pl

block content
  h2
    span Subskrypcja organizatorów
  section.content--text.content--text-w-center
    figure
      img(src="/img/exemplary_group.jpg")
      figcaption Przykładowa grupa z ich organizatorem – o. Rafaelem Capo SchP (<a href="http://instagram.com/p/y8hm-jyoFm/">Źródło</a>)
    p Jesteś organizatorem lokalnej kalasantyńskiej grupy? Przybędziesz z grupą młodych ludzi do Polski w 2016 roku? Chciałbyś otrzymywać <strong>aktualne informacje i ogłoszenia</strong> do swojej skrzynki mailowej?
    p Wypełnij poniższy formularz, za każdym razem gdy pojawią się jakieś informacje ważne dla organizatorów – <strong>wyślemy te informacje na maila</strong>.
    p.italic Dodatkowo będziemy wiedzieć ilu ludzi się spodziewać i na ile przygotowywać. ;)
    form(action="/organiser_subscribe.php", method="post")
      .field
        label(for="form--name") Jak się <strong>nazywasz</strong>?
        input(type="text", name="name", id="form--name", placeholder="Ojciec Jan Kowalski SP")
      .field
        label(for="form--email") Twój <strong>adres e-mail</strong>?
        input(type="email", name="email", id="form--email", placeholder="kowalskisp@gmail.com")
      .field
        label(for="form--city") Jakie <strong>miasto</strong> będziesz reprezentował podczas ŚDM 2016?
        input(type="text", name="city", id="form--city", placeholder="Lublin, Polska")
      .field
        label(for="form--people") <strong>Z iloma ludźmi</strong> spodziewasz się przyjechać na ŚDM 2016 (orientacyjnie)?
        input(type="text", name="people", id="form--people", placeholder="50")
      .field
        label W których wydarzeniach zamierzacie wziąć udział?
        label(for="form--days_in_diocese")
          input(type="checkbox", name="days_in_diocese", id="form--days_in_diocese")
          |Dni w Diecezji (20 – 25 lipca)
        label(for="form--calasantian_day")
          input(type="checkbox", name="calasantian_day", id="form--calasantian_day")
          |Dzień Kalasantyński w Krakowie 27 lipca.
      .actions
        input(type="submit", value="Zapisz mnie")
