---
title: "Zapisano Cię!"
---

extends /layouts/pl

block content
  h2
    span Zapisano Cię!
  section.content--text.content--text-w-center
    h3 Dziękujemy!
    p Zostałeś zapisany i za każdym razem, gdy pojawi się jakaś ważna informacja – wyślemy Ci ją na maila!
    p
      a(href="/pl/") Przejdź na stronę główną.