---
title: "Nasz program"
description: "Chcielibyśmy przeżyć ten Światowy Dzień Młodzieży w 2016 roku jako grupa Calasanz, skupiająca całą młodzież związaną z osobą św. Józefa Kalasancjusza, duszpasterstwami prowadzonymi przez pijarów i wspólnoty Rodziny Kalasantyńskiej na całym świecie."
body_class: "page--yellow"
---

extends /layouts/pl

block content
  h2
    span Nasz program
  section.content--text.content--text-w-center
    p Chcielibyśmy przeżyć ten Światowy Dzień Młodzieży w 2016 roku jako <strong>grupa Calasanz</strong>, skupiająca całą młodzież związaną z osobą św. Józefa Kalasancjusza, duszpasterstwami prowadzonymi przez pijarów i wspólnoty Rodziny Kalasantyńskiej na całym świecie. 
    p Dlatego przygotowujemy <strong>specjalny program podczas ŚDM 2016 w Polsce</strong>, na który już teraz zapraszamy. Nasza propozycja składa się z dwóch etapów:
    br/
    .content--lyrics
      a.link--tile(href=loc._program+"/"+loc._days_in_diocese_in_bolszewo+".html")
        .link--tile__image
          img(src="/img/days_in_diocese_thumb.jpg")
        .link--tile__caption Dni w Diecezji
          br/
          | (20–25 lipca 2016 r.)
    .content--lyrics
      a.link--tile(href=loc._program+"/"+loc._calasantian_day_in_cracow+".html")
        .link--tile__image
          img(src="/img/calasantian_day_thumb.jpg")
        .link--tile__caption Dzień Kalasantyński
          br/
          | (27 lipca 2016 r.)