---
title: "Rejestracja na ŚDM w Krakowie"
description: ""
body_class: "page--violet sdm-registration-form"
---

extends /layouts/pl

block content
  h2
    span Rejestracja na ŚDM w Krakowie
  section.content--text.content--text-w-center
    p Jesteś uczniem Gimnazjum lub Liceum Pijarów w Krakowie? Absolwentem tych szkół? Jesteś z nimi związany w inny sposób?
    p Chcesz się zarejestrować, żeby wziąć udział w
      strong  Światowych Dniach Młodzieży w Krakowie
      |  od 26 do 31 lipca 2016 r.?
    p.strong Jeżeli tak, odpowiedz na pytania, które pozwolą Cię przydzielić do konkretnej grupy.
    noscript
      p Twoja przeglądarka nie uruchamia Javascriptu. Nie będzie pytań, nadal jednak możesz przeglądnąć opcje rejestracji.
    hr.wyd-violet
    form.registration-form
      #current_student.field.registration-form-options.hidden
        p
          strong Jesteś uczniem Gimnazjum lub Liceum w Krakowie?
        .registration-form-options-wrapper
          input(type="radio", name="current_student", id="current_student--yes", value="1")
          label(for="current_student--yes")
            | Tak
          input(type="radio", name="current_student", id="current_student--no", value="0")
          label(for="current_student--no")
            | Nie
      #alumnus.field.registration-form-options.hidden
        p
          strong Jesteś absolwentem Gimnazjum lub Liceum w Krakowie?
        .registration-form-options-wrapper
          input(type="radio", name="alumnus", id="alumnus--yes", value="1")
          label(for="alumnus--yes")
            | Tak
          input(type="radio", name="alumnus", id="alumnus--no", value="0")
          label(for="alumnus--no")
            | Nie
      #other_connection.field.registration-form-options.hidden
        p
          strong Jesteś w inny sposób związany ze szkołami pijarskimi w Krakowie?
        .registration-form-options-wrapper
          input(type="radio", name="other_connection", id="other_connection--yes", value="1")
          label(for="other_connection--yes")
            | Tak
          input(type="radio", name="other_connection", id="other_connection--no", value="0")
          label(for="other_connection--no")
            | Nie
      #birthdate.field.hidden
        label(for="form--birthdate")
          p Kiedy się urodziłeś?
        input(type="text", name="birthdate", id="form--birthdate", placeholder="np. 13 czerwiec 1995", required).datepicker
        p#age.hidden Ukończonych lat w dniu rozpoczęcia Światowych Dni Młodzieży (24. sierpnia 2016): 
          span
      #lodging.field.registration-form-options.hidden
        p
          strong Potrzebujesz zamieszkać w szkole w czasie ŚDM?
        .registration-form-options-wrapper
          input(type="radio", name="lodging", id="lodging--yes", value="1")
          label(for="lodging--yes")
            | Tak
          input(type="radio", name="lodging", id="lodging--no", value="0")
          label(for="lodging--no")
            | Nie
      #participation.field.registration-form-options.hidden
        p
          | Chcesz uczestniczyć w dniach: 
          br
          strong 25–31.07
          | , czy 
          strong 30–31.07
          | ?
        .registration-form-options-wrapper
          input(type="radio", name="participation", id="form-participation--full", value="full")
          label(for="form-participation--full")
            | 25–31.07
          input(type="radio", name="participation", id="form-participation--part", value="part")
          label(for="form-participation--part")
            | 30–31.07
    h3#chosenOption Opcje rejestracji
    #nonAuthorized.registration-option.hidden-1
      p Nie rejestrujemy osób niepełnoletnich, które nie są uczniami lub absolwentami pijarskimi.
    #globalRegister.registration-option.hidden-1
      p Przejdź do strony <a href="http://www.krakow2016.com/">krakow2016.com</a>, żeby uzyskać więcej informacji lub napisz maila na adres <a href="mailto:sdm@calasanz2016.com">sdm@calasanz2016.com</a>.
    #tooOld.registration-option.hidden-1
      p Udział w ŚDM jest proponowany osobom do 30 roku życia. Jeżeli chcesz się zarejestrować w grupie pijarskiej, napisz maila na adres 
        a(href="mailto:sdm@calasanz2016.com") sdm@calasanz2016.com
        | .
    #tooYoung.registration-option.hidden-1
      p Niestety, w tym roku nie możesz być zarejestrowany/a na ŚDM z powodu ograniczenia wieku.
    #infoA2nocleg1.registration-option
      h4 INFO A2 NOCLEG1
      .registration-option--details
        p Jesteś uczniem Gimnazjum lub Liceum Pijarów w Krakowie lub absolwentem tego Gimnazjum, nie masz ukończonych 18 lat, chcesz wziąć udział w Światowych Dniach Młodzieży przez cały tydzień i mieszkać w budynku Liceum (ul. Akacjowa 5) lub Gimnazjum (ul. Dzielskiego 1) w Krakowie.
        p
          strong Jeżeli te stwierdzenia są prawdziwe, czytaj dalej.
          br
          | Jeżeli coś się w nich nie zgadza, wyślij maila na adres: sdm@calasanz2016.com.
        p Zostaniesz zarejestrowany w grupie: <strong>SCHP28 KRK [nr]</strong> w ramach makrogrupy Archidiecezji Krakowskiej [nr].
        p Opiekunem grupy jest o. Przemysław Suchy (mail: <a href="mailto:nocleg@calasanz2016.com">nocleg@calasanz2016.com</a>). <strong>Zapoznaj się z <a href="./Regulamin.pdf">regulaminem, obowiązującym w tej grupie</a>.</strong>
        p Opłata wynosi:
        ul
          li 531 zł — pakiet pielgrzyma A2 ze zniżką 10% dla grup z Polski (przekażemy organizatorom ŚDM), więcej informacji na stronie <a href="http://www.krakow2016.com/pakiet-pielgrzyma">http://www.krakow2016.com/pakiet-pielgrzyma</a>.
          li 43 zł — równowartość 10 Euro obowiązkowej składki na Fundusz Solidarnościowy (przekażemy organizatorom ŚDM),
          li 50 zł — koszt śniadań w miejscu noclegu (kwota jest dla organizatorów noclegu).
        p czyli w sumie <strong>624 zł</strong>.
        p
          strong Jeżeli chcesz się zarejestrować:
        ol
          li Wypełnij <a href="#" class="form_link" target="_blank">formularz ⧉</a>.
          li Zostaw w sekretariacie Liceum Ogólnokształcącego Zakonu Pijarów podpisaną przez Twoich rodziców/prawnych opiekunów zgodę na udział w ŚDM (tekst do ściągnięcia tutaj [ZK1]).
          li Przelej podaną kwotę na konto: Kolegium Zakonu Pijarów, 68 1600 1013 1846 1965 9000 0004 lub wpłać ją w gotówce u o. Edwarda Kryściaka SP w Liceum.
        p Po wykonaniu tych czynności otrzymasz mailem potwierdzenie dokonania rejestracji.
        p 25 lipca od godz. 8.00 możesz zgłosić się w Liceum Ogólnokształcącym Zakonu Pijarów przy ul. Akacjowej 5 w Krakowie. Tam otrzymasz nocleg oraz pakiet uczestnika zawierający plecak, wejściówkę na imprezy centralne, materiały, ubezpieczenie oraz bony żywnościowe (obiad 25.07 musisz zapewnić sobie we własnym zakresie!)
    #infoA2nocleg2.registration-option
      h4 INFO A2 NOCLEG2
      .registration-option--details
        p Masz ukończone 18 lat, chcesz wziąć udział w Światowych Dniach Młodzieży przez cały tydzień i mieszkać w budynku Liceum (ul. Akacjowa 5) lub Gimnazjum (ul. Dzielskiego 1) w Krakowie.
        p
          strong Jeżeli te stwierdzenia są prawdziwe, czytaj dalej.
          br
          | Jeżeli coś się w nich nie zgadza, wyślij maila na adres: sdm@calasanz2016.com.
        p Zostaniesz zarejestrowany w grupie: <strong>SCHP28 KRK [nr]</strong> w ramach makrogrupy Archidiecezji Krakowskiej [nr].
        p Opiekunem grupy jest o. Przemysław Suchy (mail: <a href="mailto:nocleg@calasanz2016.com">nocleg@calasanz2016.com</a>). <strong>Zapoznaj się z <a href="./Regulamin.pdf">regulaminem, obowiązującym w tej grupie</a>.</strong>
        p Opłata wynosi:
        ul
          li 531 zł — pakiet pielgrzyma A2 ze zniżką 10% dla grup z Polski (przekażemy organizatorom ŚDM), więcej informacji na stronie <a href="http://www.krakow2016.com/pakiet-pielgrzyma">http://www.krakow2016.com/pakiet-pielgrzyma</a>.
          li 43 zł — równowartość 10 Euro obowiązkowej składki na Fundusz Solidarnościowy (przekażemy organizatorom ŚDM),
          li 50 zł — koszt śniadań w miejscu noclegu (kwota jest dla organizatorów noclegu).
        p czyli w sumie <strong>624 zł</strong>.
        p
          strong Jeżeli chcesz się zarejestrować:
        ol
          li Wypełnij formularz <a href="#" class="form_link" target="_blank">formularz ⧉</a>.
          li Zaczekaj na potwierdzenie mailem przyjęcia Twojego zgłoszenia.
          li Przelej podaną kwotę na konto: Kolegium Zakonu Pijarów, 68 1600 1013 1846 1965 9000 0004 lub wpłać ją w gotówce u o. Edwarda Kryściaka SP w Liceum.
        p Po wykonaniu tych czynności otrzymasz mailem potwierdzenie dokonania rejestracji.
        p 25 lipca od godz. 8.00 możesz zgłosić się w Liceum Ogólnokształcącym Zakonu Pijarów przy ul. Akacjowej 5 w Krakowie. Tam otrzymasz nocleg oraz pakiet uczestnika zawierający plecak, wejściówkę na imprezy centralne, materiały, ubezpieczenie oraz bony żywnościowe (obiad 25.07 musisz zapewnić sobie we własnym zakresie!)
    #info20.registration-option
      h4 SCHP20 KRK A4 od 18
      .registration-option--details
        p Masz ukończone 18 lat, chcesz wziąć udział w Światowych Dniach Młodzieży przez cały tydzień i masz zapewnione mieszkanie oraz wyżywienie.
        p
          strong Jeżeli te stwierdzenia są prawdziwe, czytaj dalej.
          br
          | Jeżeli coś się w nich nie zgadza, wyślij maila na adres: sdm@calasanz2016.com.
        p Zostaniesz zarejestrowany w grupie: <strong>SCHP20 KRK A4 od 18 (P-3036-00-7426) w ramach makrogrupy Calasanz2016 (P-3036-00)</strong>.
        p Opiekunem grupy jest o. Edward Kryściak (mail: <a href="mailto:szkola@calasanz2016.com">szkola@calasanz2016.com</a>). Zastępcą opiekuna grupy jest Patrycja Kieblesz.
        p Opłata wynosi:
        ul
          li 190 zł — za pakiet pielgrzyma A4 (przekażemy organizatorom ŚDM), więcej informacji na stronie <a href="http://www.krakow2016.com/pakiet-pielgrzyma">http://www.krakow2016.com/pakiet-pielgrzyma</a>.
          li 43 zł — równowartość 10 Euro obowiązkowej składki na Fundusz Solidarnościowy (przekażemy organizatorom ŚDM).
        p czyli w sumie <strong>233 zł</strong>.
        p
          strong Jeżeli chcesz się zarejestrować:
        ol
          li Wypełnij formularz <a href="#" class="form_link" target="_blank">formularz ⧉</a>.
          li Przelej podaną kwotę na konto: Kolegium Zakonu Pijarów, 68 1600 1013 1846 1965 9000 0004 lub wpłać ją w gotówce u o. Edwarda Kryściaka SP w Liceum.
        p Po wykonaniu tych czynności otrzymasz mailem potwierdzenie dokonania rejestracji.
        p 25 lipca od godz. 8.00 w Liceum Ogólnokształcącym Zakonu Pijarów przy ul. Akacjowej 5 w Krakowie otrzymasz pakiet uczestnika zawierający plecak, wejściówkę na imprezy centralne, materiały oraz ubezpieczenie.
    #info21.registration-option
      h4 SCHP21 KRK C od 18
      .registration-option--details
        p Masz ukończone 18 lat, chcesz wziąć udział w czuwaniu i Mszy Świętej z papieżem Franciszkiem w ramach Światowych Dniach Młodzieży. Sam zorganizujesz sobie jedzenie.
        p
          strong Jeżeli te stwierdzenia są prawdziwe, czytaj dalej.
          br
          | Jeżeli coś się w nich nie zgadza, wyślij maila na adres: sdm@calasanz2016.com.
        p Zostaniesz zarejestrowany w grupie: <strong>SCHP21 KRK C od 18 (P-3036-00-7427) w ramach makrogrupy Calasanz2016 (P-3036-00)</strong>.
        p Opiekunem grupy jest o. Edward Kryściak (mail: <a href="mailto:szkola@calasanz2016.com">szkola@calasanz2016.com</a>). Zastępcą opiekuna grupy jest Patrycja Kieblesz.
        p Opłata wynosi:
        ul
          li 150 zł — za pakiet pielgrzyma A4 (przekażemy organizatorom ŚDM), więcej informacji na stronie <a href="http://www.krakow2016.com/pakiet-pielgrzyma">http://www.krakow2016.com/pakiet-pielgrzyma</a>.
          li 43 zł — równowartość 10 Euro obowiązkowej składki na Fundusz Solidarnościowy (przekażemy organizatorom ŚDM).
        p czyli w sumie <strong>193 zł</strong>.
        p
          strong Jeżeli chcesz się zarejestrować:
        ol
          li Wypełnij formularz <a href="#" class="form_link" target="_blank">formularz ⧉</a>.
          li Przelej podaną kwotę na konto: Kolegium Zakonu Pijarów, 68 1600 1013 1846 1965 9000 0004 lub wpłać ją w gotówce u o. Edwarda Kryściaka SP w Liceum.
        p Po wykonaniu tych czynności otrzymasz mailem potwierdzenie dokonania rejestracji.
        p 25 lipca od godz. 8.00 w Liceum Ogólnokształcącym Zakonu Pijarów przy ul. Akacjowej 5 w Krakowie otrzymasz pakiet uczestnika zawierający plecak, wejściówkę na imprezy centralne, materiały oraz ubezpieczenie.
    #info22.registration-option
      h4 SCHP22 KRK A4 do 18
      .registration-option--details
        p Jesteś uczniem Gimnazjum czy Liceum Pijarów w Krakowie lub absolwentem tego Gimnazjum, nie masz ukończonych 18 lat, chcesz wziąć udział w Światowych Dniach Młodzieży razem z innymi grupami pijarskimi przez cały tydzień i masz zapewnione mieszkanie oraz wyżywienie.
        p
          strong Jeżeli te stwierdzenia są prawdziwe, czytaj dalej.
          br
          | Jeżeli coś się w nich nie zgadza, wyślij maila na adres: sdm@calasanz2016.com.
        p Zostaniesz zarejestrowany w grupie: <strong>SCHP22 KRK A4 do 18 (P-3036-00-7428) w ramach makrogrupy Calasanz2016 (P-3036-00)</strong>.
        p Opiekunem grupy jest o. Bartłomiej Koszyk (mail: <a href="mailto:opieka@calasanz2016.com">opieka@calasanz2016.com</a>). Zapoznaj się z <a href="./Regulamin.pdf">regulaminem, obowiązującym w tej grupie</a>.
        p Opłata wynosi:
        ul
          li 190 zł — za pakiet pielgrzyma A4 (przekażemy organizatorom ŚDM), więcej informacji na stronie <a href="http://www.krakow2016.com/pakiet-pielgrzyma">http://www.krakow2016.com/pakiet-pielgrzyma</a>.
          li 43 zł — równowartość 10 Euro obowiązkowej składki na Fundusz Solidarnościowy (przekażemy organizatorom ŚDM).
        p czyli w sumie <strong>233 zł</strong>.
        p
          strong Jeżeli chcesz się zarejestrować:
        ol
          li Wypełnij formularz <a href="#" class="form_link" target="_blank">formularz ⧉</a>.
          li Zostaw w sekretariacie Liceum Ogólnokształcącego Zakonu Pijarów podpisaną przez Twoich rodziców/prawnych opiekunów zgodę na udział w ŚDM (tekst do ściągnięcia tutaj [ZK2]).
          li Przelej podaną kwotę na konto: Kolegium Zakonu Pijarów, 68 1600 1013 1846 1965 9000 0004 lub wpłać ją w gotówce u o. Edwarda Kryściaka SP w Liceum.
        p Po wykonaniu tych czynności otrzymasz mailem potwierdzenie dokonania rejestracji.
        p 25 lipca od godz. 8.00 w Liceum Ogólnokształcącym Zakonu Pijarów przy ul. Akacjowej 5 w Krakowie otrzymasz pakiet uczestnika zawierający plecak, wejściówkę na imprezy centralne, materiały oraz ubezpieczenie.
    #info23.registration-option
      h4 SCHP23 KRK A4 do 18
      .registration-option--details
        p Jesteś uczniem Gimnazjum czy Liceum Pijarów w Krakowie lub absolwentem tego Gimnazjum, nie masz ukończonych 18 lat, chcesz wziąć udział czuwaniu i Mszy Świętej z papieżem Franciszkiem w ramach Światowych Dniach Młodzieży razem z innymi grupami pijarskimi i masz zapewnione wyżywienie.
        p
          strong Jeżeli te stwierdzenia są prawdziwe, czytaj dalej.
          br
          | Jeżeli coś się w nich nie zgadza, wyślij maila na adres: sdm@calasanz2016.com.
        p Zostaniesz zarejestrowany w grupie: <strong>SCHP22 KRK C do 18 (P-3036-00-7429) w ramach makrogrupy Calasanz2016 (P-3036-00)</strong>.
        p Opiekunem grupy jest o. Bartłomiej Koszyk (mail: <a href="mailto:opieka@calasanz2016.com">opieka@calasanz2016.com</a>). Zapoznaj się z <a href="./Regulamin.pdf">regulaminem, obowiązującym w tej grupie</a>.
        p Opłata wynosi:
        ul
          li 150 zł — za pakiet pielgrzyma A4 (przekażemy organizatorom ŚDM), więcej informacji na stronie <a href="http://www.krakow2016.com/pakiet-pielgrzyma">http://www.krakow2016.com/pakiet-pielgrzyma</a>.
          li 43 zł — równowartość 10 Euro obowiązkowej składki na Fundusz Solidarnościowy (przekażemy organizatorom ŚDM).
        p czyli w sumie <strong>193 zł</strong>.
        p
          strong Jeżeli chcesz się zarejestrować:
        ol
          li Wypełnij formularz <a href="#" class="form_link" target="_blank">formularz ⧉</a>.
          li Zostaw w sekretariacie Liceum Ogólnokształcącego Zakonu Pijarów podpisaną przez Twoich rodziców/prawnych opiekunów zgodę na udział w ŚDM (tekst do ściągnięcia tutaj [ZK2]).
          li Przelej podaną kwotę na konto: Kolegium Zakonu Pijarów, 68 1600 1013 1846 1965 9000 0004 lub wpłać ją w gotówce u o. Edwarda Kryściaka SP w Liceum.
        p Po wykonaniu tych czynności otrzymasz mailem potwierdzenie dokonania rejestracji.
        p 25 lipca od godz. 8.00 w Liceum Ogólnokształcącym Zakonu Pijarów przy ul. Akacjowej 5 w Krakowie otrzymasz pakiet uczestnika zawierający plecak, wejściówkę na imprezy centralne, materiały oraz ubezpieczenie.
