---
title: "Rejestracja na ŚDM w Krakowie"
description: ""
body_class: "page--violet sdm-registration-form"
---

extends /layouts/pl

block content
  h2
    span Rejestracja na ŚDM w Krakowie
  section.content--text.content--text-w-center
    p Jesteś uczniem Zespołu Szkół Pijarskich w Krakowie? Może absolwentem? Czujesz się związany z Duszpasterstwem Pijarów w Krakowie?
    p Chciałbyś oficjalnie zarejestrować się jako uczestnik obchodów
      strong  Światowych Dni Młodzieży 2016 w Krakowie
      | ?
    p.strong Odpowiedz na kilka pytań, aby przejść do formularza rejestracji.
    br
    hr.wyd-violet
    form.registration-form
      .field
        label(for="form--birthdate")
          p Kiedy się urodziłeś?
        input(type="text", name="birthdate", id="form--birthdate", placeholder="np. 13 czerwiec 1995", required).datepicker
        p#age.hidden Ukończonych lat w dniu rozpoczęcia Światowych Dni Młodzieży (24 sierpnia 2016): 
          span
      .field.registration-form-options
        p
          strong W czym chciałbyś uczestniczyć
          br
          |  w ramach wykupionego Pakietu Pielgrzyma?
        .registration-form-options-wrapper
          input(type="radio", name="participation", id="form-participation--a", value="A")
          label(for="form-participation--a")
            |We
            strong  wszystkich
            |  wydarzeniach od 25 lipca do 1 sierpnia.
          input(type="radio", name="participation", id="form-participation--c", value="C")
          label(for="form-participation--c")
            strong Tylko
            |  w Czuwaniu i Mszy Św. na zakończenie ŚDM – 30 i 31 lipca.
      .field.registration-form-options
        p Co wolisz?
        .registration-form-options-wrapper
          input(type="radio", name="details", id="form-details--required", value="required")
          label(for="form-details--required")
            | Uczestniczyć
            strong  obowiązkowo
            |  i pod opieką w całym programie ŚDM, ale
            strong  w Pakiecie wykupić wyżywienie.
          input(type="radio", name="details", id="form-details--optional", value="optional")
          label(for="form-details--optional")
            | Uczestniczyć
            strong  dobrowolnie
            |  w katechezach porannych Liceum/Wieczysta, w Dniu Kalasantyńskim i we wspólnym wyjściu na Campus Misericordiae, ale
            strong  nie wykupić w Pakiecie Pielgrzyma wyżywienia.
    h3 Możliwe opcje rejestracji
    #tooYoung.registration-option.hidden-1
      h4 Nie znaleziono możliwości rejestracji
      p Przykro nam, ale niestety jesteś za młody/młoda, aby wziąć z nami udział w Światowych Dniach Młodzieży.
      p.strong Zapraszamy następnym razem! :)
    #tooOld.registration-option.hidden-1
      h4 Nie znaleziono możliwości rejestracji
      p Przykro nam, ale niestety nie możemy zarejestrować Cię do uczestnictwa w Światowych Dniach Młodzieży.
      p.strong Jesteśmy pewni, że i tak sobie poradzisz.
    #schp20.registration-option
      h4 Grupa SCHP20 KRK A4 od 18 w Calasanz2016
      .registration-option--details
        p
          strong Uczestnicy:
          |  Uczniowie LOZP, absolwenci obu szkół, w praktyce – każdy, kto się zgłosi.
        p
          strong Pakiet:
          |  A4
        p
          strong Program:
          |  Uczestniczą dobrowolnie w katechezach porannych Liceum/Wieczysta, w Dniu Kalasantyńskim i we wspólnym wyjściu na Campus Misericordiae.
        p
          strong Opiekun:
          |  Ojciec Edward Kryściak SchP
      p.registration-option--linkWrapper
        a(href="#").registration-option--link Rejestruję się!
    #schp21.registration-option
      h4 Grupa SCHP21 KRK A4 od 18 w Calasanz2016
      .registration-option--details
        p
          strong Uczestnicy:
          |  Uczniowie LOZP, absolwenci obu szkół, w praktyce – każdy, kto się zgłosi.
        p
          strong Pakiet:
          |  C
        p
          strong Program:
          |  Uczestniczą dobrowolnie w katechezach porannych Liceum/Wieczysta, w Dniu Kalasantyńskim i we wspólnym wyjściu na Campus Misericordiae.
        p
          strong Opiekun:
          |  Ojciec Edward Kryściak SchP
      p.registration-option--linkWrapper
        a(href="#").registration-option--link Rejestruję się!
    #schp22.registration-option
      h4 Grupa SCHP22 KRK A4 od 18 w Calasanz2016
      .registration-option--details
        p
          strong Uczestnicy:
          |  Tylko uczniowie Zespołu Szkół Zakonu Pijarów w Krakowie
        p
          strong Pakiet:
          |  A4
        p
          strong Program:
          |  Uczestniczą obowiązkowo i pod opieką w całym programie ŚDM.
        p
          strong Opiekun:
          |  Diakon Bartłomiej Koszyk SchP
      p.registration-option--linkWrapper
        a(href="#").registration-option--link Rejestruję się!
    #schp23.registration-option
      h4 Grupa SCHP23 KRK A4 od 18 w Calasanz2016
      .registration-option--details
        p
          strong Uczestnicy:
          |  Tylko uczniowie Zespołu Szkół Zakonu Pijarów w Krakowie
        p
          strong Pakiet:
          |  C
        p
          strong Program:
          |  Wychodzą pod naszą opieką na Campus Misericordiae.
        p
          strong Opiekun:
          |  Diakon Bartłomiej Koszyk SchP
      p.registration-option--linkWrapper
        a(href="#").registration-option--link Rejestruję się!
    #schp.registration-option
      h4 Grupa SCHP KRK A4 od 18 w Calasanz2016
      .registration-option--details
        p
          strong Uczestnicy:
          |  Uczniowie obu szkół i absolwenci, ewent. inne osoby związane z naszym duszpasterstwem.
        p
          strong Pakiet:
          |  A2
        p
          strong Program:
          |  Uczestniczą obowiązkowo i pod naszą opieką w całym programie ŚDM.
        p
          strong Opiekun:
          |  Diakon Przemysław Suchy SchP
      p.registration-option--linkWrapper
        a(href="#").registration-option--link Rejestruję się!
    #hosts.registration-option
      h4 Gospodarze
      .registration-option--details
        p Pełnoletni mogą się rejestrować jako wolontariusze ŚDM z przydziałem do parafii na Dzielskiego.
        p Niepełnoletni mogą być zarejestrowani w komitecie parafialnym na Dzielskiego jeśli dostaną gwarancję udziału w imprezach centralnych, w przeciwnym razie – w jednej z powyższych grup. 
        p
          strong Opiekun:
          |  Ojciec Mariusz Siódmiak SchP
      p.registration-option--linkWrapper
        a(href="#").registration-option--link Rejestruję się!
