---
title: "Rejestracja na ŚDM w Krakowie"
description: ""
body_class: "page--violet sdm-registration-form"
---

extends /layouts/pl

block content
  h2
    span Rejestracja na ŚDM w Krakowie
  section.content--text.content--text-w-center
    p Jesteś uczniem Gimnazjum lub Liceum Pijarów w Krakowie? Absolwentem tych szkół? Jesteś z nimi związany w inny sposób?
    p Chcesz się zarejestrować, żeby wziąć udział w
      strong  Światowych Dniach Młodzieży w Krakowie
      |  od 26 do 31 lipca 2016 r.?
    p.strong Jeżeli tak, to uprzejmie informujemy, że czas rejestracji on-line się skończył. W jej sprawie prosimy pisać maila na adres <a href="mailto:sdm@calasanz2016.com">sdm@calasanz2016.com</a>.
    
