---
title: 'Info o ŚDM'
description: "Symbolika loga – Czerwona linia w tle loga to obrys Polski, kraju w którym odbędzie się ten Światowy Dzień Młodzieży. Żółta kropka została umieszczona dokładnie nad Krakowem, miastem…"
body_class: 'page--blue'
---

extends /layouts/pl

block content
  h2
    span Info o ŚDM
  br/
  a.tile.tile--3-2.tile--mobile-ending(href="#tile_1", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_1_pl@2x.png")
    .tile--caption Idea Światowych Dni Młodzieży
  a.tile.tile--2-2.tile--wide-ending(href="#tile_2", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_2_pl@2x.png")
    .tile--caption Program ŚDM
  a.tile.tile--1-1.tile--mobile-ending(href="#tile_3", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_3@2x.png")
    .tile--caption Logo ŚDM
  a.tile.tile--2-1.tile--mobile-ending(href="#tile_4", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_4@2x.jpg")
    .tile--caption Poznaj Kraków
  a.tile.tile--2-1.tile--wide-ending.tile--mobile-ending(href="#tile_5", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_5@2x.jpg")
    .tile--caption Symbole ŚDM
  .tile--row.fs-0
    .tile--column.tile--column--1
      a.tile.tile--1-1(href="#tile_6", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_6@2x.jpg")
        .tile--caption Orędzie Franciszka
      a.tile.tile--1-1.tile--mobile-ending(href="#tile_7", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_7@2x.png")
        .tile--caption Program L4
    .tile--column.tile--column--2
      a.tile.tile--2-2.tile--mobile-ending(href="#tile_8", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_8@2x.jpg")
        .tile--caption Hymn ŚDM
    .tile--column.tile--column--2
      a.tile.tile--2-1.tile--mobile-ending(href="#tile_9", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_9@2x.jpg")
        .tile--caption Modlitwa za ŚDM
      a.tile.tile--2-1.tile--mobile-ending(href="#tile_10", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_10@2x.png")
        .tile--caption Bilet dla Brata
  .js-hide
    .tile--content#tile_1
      h2
        span Idea ŚDM
      section.content--text.content--text-w-center
        h3 Czym są Światowe Dni Młodzieży?
        p Światowe Dni Młodzieży to międzynarodowe spotkania młodych całego świata, którzy razem ze swoimi katechetami, duszpasterzami, biskupami i papieżem gromadzą się w jednym miejscu, by wyznać wiarę w Jezusa Chrystusa.
        h3 Kto jest ich autorem?
        p Pomysłodawcą i pierwszym gospodarzem tych Dni był święty Jan Paweł II, który zgromadził młodych w Rzymie (1984, 1985, 2000), Buenos Aires (1987), Santiago de Compostela (1989), Częstochowie (1991), Denver (1993), Manili (1995), Paryżu (1997) i Toronto (2002).
        h3 ŚDM – Papież i Młodzi. Razem.
        p Po śmierci Jana Pawła II kontynuatorem pięknego dialogu Kościoła z młodymi i wielkim orędownikiem Światowych Dni Młodzieży stał się papież Benedykt XVI, który przewodniczył kolejno spotkaniom w Kolonii (2005), Sydney (2008) i Madrycie (2011). Dzięki posłudze Benedykta XVI Chrystus był ciągle głoszony i adorowany przez młodych całego świata, a Kościół mógł dostrzegać swoje młode i radosne oblicze tak bardzo potrzebne współczesnemu światu.
        p W lipcu 2013 r. (Rio de Janeiro) z młodzieżą spotkał się papież Franciszek. On także ogłosił, że następne spotkanie młodych odbędzie się w 2016 roku w Krakowie, w Polsce.
        h3 Ustanowienie ŚDM
        p Jako datę ustanowienia Światowych Dni Młodzieży przyjmuje się dzień 20 grudnia 1985 r., kiedy to Jan Paweł II na spotkaniu opłatkowym, wobec Kardynałów i Pracowników Kurii Rzymskiej, wyraził pragnienie, by Światowe Dni Młodzieży odbywały się co roku w Niedzielę Palmową jako spotkanie diecezjalne, a co dwa lub trzy lata w wyznaczonym przez niego miejscu jako spotkanie międzynarodowe.
        h3 Wspólnota, formacja i radość wiary
        p Celem organizowanych Dni jest przeżycie wielkiej wspólnoty Kościoła Powszechnego, słuchanie słowa Bożego, sprawowanie sakramentów Pokuty i Eucharystii oraz radosne głoszenie Jezusa Chrystusa jako Pana i Zbawiciela.
        p.italic.align-right <a href="http://sdm.org.pl/index2.php?k=500">Źródło – sdm.org.pl</a>
    .tile--content#tile_2
      h2
        span Program ŚDM
      section.content--text.content--text-w-center
        p Po zakończeniu „Dni w Diecezjach”, wszyscy udają się do diecezji, którą Ojciec Święty wyznaczył jako miejsce przeżywania wydarzeń centralnych (jest to Kraków). Młodzież gromadzi się tam na okres całego tygodnia. W poniedziałek przyjeżdża w dane miejsce, we wtorek uczestniczy w ceremonii otwarcia, w środę, czwartek i piątek bierze udział w katechezach i festiwalu młodych, w sobotę pielgrzymuje na miejsce czuwania i uczestniczy w wieczornym spotkaniu z Papieżem, a w niedzielę bierze udział w uroczystej Mszy św. kończącej dany ŚDM. Wydarzeniom centralnym towarzyszą specjalne strefy spotkań, zwane Strefą Pojednania oraz Expo-vocation.
        p Program Światowego Dnia Młodzieży w Krakowie w 2016 roku można pobrać jako 
          a(href="/img/wyd_info_program_pl.pdf") PDF
          |  lub 
          a(href="/img/wyd_info_program_pl.png") PNG
          |.
        figure
          div(style="width: 100%;padding-top:46.7%;position:relative")
            img(src="/img/wyd_info_program_pl.png", alt="Program ŚDM", style="position:absolute;top:0;left:0")
          figcaption Program ŚDM 2016
        p.italic.align-right <a href="http://sdm.org.pl/index2.php?k=500">Źródło – sdm.org.pl</a>
    .tile--content#tile_3
      h2
        span Logo ŚDM
      section.content--text.content--text-w-center
        figure
          .content--image__1_1(style="padding-top:50%;position:relative;margin:0 auto")
            img(src="/img/official-wyd-logo.png", alt="Oficjalne Logo Światowego Dnia Młodzieży 2016 w Krakowie", style="position:absolute;top:0;left:0")
          figcaption Program ŚDM 2016
        p.strong Logo XXXI Światowego Dnia Młodzieży Kraków 2016 jest ilustracją słów „Błogosławieni miłosierni, albowiem oni miłosierdzia dostąpią” (Mt 5,7), które zostały wybrane na temat przewodni spotkania.
        p Symbolika logotypu łączy w sobie trzy elementy:
        h3 Miejsce spotkania
        p <strong>Polska</strong> – gospodarzem spotkania młodych w 2016 roku jest Polska. Logo zostało wpisane w czerwony kontur Polski (czerwień jest jedną z barw narodowych). Polska to ojczyzna św. Jana Pawła II, gorliwego czciciela i apostoła Bożego Miłosierdzia, inicjatora ŚDM. Tutaj także przyszła na świat św. Siostra Faustyna, przez którą Pan Jezus przypomniał światu orędzie o Bożym Miłosierdziu.
        p <strong>Kraków</strong> – w konturach Polski, w formie żółtego koła, zaznaczono Kraków. To tutaj znajduje się Sanktuarium Bożego Miłosierdzia, do którego od lat młodości pielgrzymował Karol Wojtyła – robotnik, potem ksiądz, biskup i kardynał. Stąd wyruszył on w 1978 roku do Rzymu na konklawe. Jako Jan Paweł II powracał tu podczas wszystkich pielgrzymek do Ojczyzny. W ostatniej z nich, w 2002 roku nazwał to miejsce światowym centrum kultu Bożego Miłosierdzia i tutaj zawierzył świat miłosiernej miłości Boga.
        h3 Główni bohaterowie
        p <strong>Chrystus</strong> – istotą każdego Światowego Dnia Młodzieży jest spotkanie z Chrystusem. Symbolizuje Go krzyż, który stanowi jeden z głównych elementów logo.
        p <strong>Młodzież</strong> – parokrotnie podczas wcześniejszych edycji ŚDM (m.in. w Paryżu, Rzymie i Toronto) symbolem młodzieży w logotypie było kolorowe koło. Podobnie jest w przypadku logo ŚDM Kraków 2016. Żółte koło wpisane w krzyż oznacza więc nie tylko położenie Krakowa na mapie Polski, ale także młodzież całego świata, która zgromadzi się tutaj razem z papieżem Franciszkiem u stóp krzyża.
        h3 Temat spotkania
        p <strong>Miłosierdzie</strong> – głównym tematem XXXI ŚDM jest Boże Miłosierdzie. Jego symbolem jest iskra, o której wspomina św. Faustyna w swoim Dzienniczku:
          blockquote „Gdy modliłam się za Polskę, usłyszałam te słowa: «Polskę szczególnie umiłowałem, […] z niej wyjdzie iskra, która przygotuje świat na ostateczne przyjście moje.»” [Dz. 1732]
        p Promienie iskry widoczne w logotypie nawiązują do znanego obrazu Jezusa Miłosiernego. Z serca Jezusa w tym wizerunku wychodzą dwa promienie: niebieski, który oznacza wodę i czerwony, symbolizujący krew. Podobnie i w logo symbolizują one łaskę, która obejmuje i rozgrzewa młodych z całego świata.
        h3 Barwy logo
        p Kolorystyka logo ŚDM 2016 – <span class="wyd-red">czerwony</span>, <span class="wyd-blue">niebieski</span> i <span class="wyd-yellow">żółty</span> – nawiązuje do oficjalnych barw miasta Krakowa i jego herbu.
        p.italic.align-right <a href="http://www.krakow2016.com/ftp/OPIS_SZCZEGOLOWY_LOGO_SDM_KRAKOW_2016.pdf">Źródło – krakow2016.com</a>
    .tile--content#tile_4
      h2
        span Poznaj Kraków
      section.content--text.content--text-w-center
        figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/_kjuG1sqO1w?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Filmik promujący Światowy Dzień Młodzieży 2016
        figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Ph5PE7BO6qs?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Filmik promujący Kraków
        p.strong Kraków to miasto o tysiącletniej tradycji, dawna siedziba polskich królów i stolica kraju, a dzisiaj ważna europejska metropolia. Krakowskie Stare Miasto jest wyjątkową skarbnicą dzieł sztuki, pamiątek historycznych i zabytkowych obiektów reprezentujących niemal wszystkie style architektoniczne od średniowiecza po współczesność.
        p Sercem miasta od setek lat pozostaje Rynek Główny− największy plac miejski średniowiecznej Europy, zachowany w niezmienionym kształcie od 1257 roku i wpisany na  pierwszą listę Światowego Dziedzictwa UNESCO w roku 1978. Od 600 lat, z wieży Bazyliki Mariackiej, co godzinę, rozlega się też hejnał grany na cztery strony świata. Natomiast stojące pośrodku rynku Sukiennice– średniowieczna hala targowa – są jednym z najlepiej rozpoznawalnych polskich zabytków.
        p Kraków może się również poszczycić drugą (po uniwersytecie praskim) najstarszą w Europie Środkowej uczelnią wyższą – Uniwersytetem Jagiellońskim (studiowali tu m.in.: Mikołaj Kopernik i papież Jan Paweł II) oraz Zamkiem Królewskim na Wawelu − początki rezydencji polskich władców na wzgórzu wawelskim sięgają połowy XI w. Obecnie zamek pełni funkcje muzealne − udostępniając aż 71 sal wystawowych, kryjących m.in. unikatowe zabytki sztuki odrodzenia. Zachwyt wzbudza arkadowy dziedziniec zamku − perła renesansowej architektury.
        p Poza zabytkami Starego Miasta niezmiennie intryguje Kazimierz − miejsce wielowiekowego współistnienia dwóch kultur – chrześcijańskiej i żydowskiej. Przestrzeń wypełniona zabytkami judaizmu o światowym znaczeniu, ale przede wszystkim obszar tętniący życiem − gdzie odbywają się targi staroci i dzieł sztuki, a w klimatycznych knajpkach, restauracjach i pubach pobrzmiewa muzyka na żywo. Monumentalnością  i niezwykłą symetrią wciąż zaskakuje Nowa Huta − najciekawsza i najpełniejsza realizacja zamierzeń architektów epoki socrealizmu.
        p Kraków to również miasto tętniące życiem kulturalnym, w 2000 r. wybrane na Europejską Stolicę Kultury. Rocznie odbywa się tutaj blisko 100 festiwali i innych wydarzeń kulturalnych o międzynarodowej renomie. To także miasto nowoczesnych muzeów, w których zwiedzający mogą stanąć oko w oko z historią.
        p Bez wątpienia Kraków urzeka niepowtarzalną atmosferą − chwilami leniwą, chwilami pełną wydarzeń, ale zawsze wyjątkową i inspirującą.
        p.italic.align-right <a href="http://krakow.pl/odwiedz_krakow/12117,artykul,miasto_krakow.html">Źródło – krakow.pl</a>
    .tile--content#tile_5
      h2
        span Symbole ŚDM
      section.content--text.content--text-w-center
        p Spotkaniom towarzyszą dwa szczególne znaki podarowane przez Jana Pawła II, którymi są <strong>Krzyż Światowych Dni Młodzieży oraz Ikona Matki Bożej Salus Populi Romani</strong>. Znaki te nie tylko są z młodymi podczas ŚDM, ale non-stop krążą po świecie, gromadząc na modlitwie i adoracji setki, a nawet tysiące młodych każdego dnia.
        figure(style="position:relative;width:100%;padding-top:80.15%")
          img(src="/img/wyd_symbols.jpg", alt="Symbole ŚDM", style="position:absolute;top:0;left:0")
          figcaption Symbole Światowego Dnia Młodzieży Kraków 2016
        p W Niedzielę Palmową, 13 kwietnia 2014 r., znaki te Ojciec Święty przekazał w Rzymie polskiej młodzieży i rozpoczęła się peregrynacja Krzyża ŚDM i Ikony MB po polskich diecezjach oraz kilkunastu krajach Europy Wschodniej.
        figure(style="position:relative;width:100%;padding-top:49.29%")
          img(src="/img/wyd_symbols_receiving.jpg", alt="Symbole ŚDM", style="position:absolute;top:0;left:0")
          figcaption Pijarskie reprezentacje odbierające miniaturowe symbole ŚDM w Krakowie
    .tile--content#tile_6
      h2
        span Orędzie Franciszka
      section.content--text.content--text-w-center
        h3 ŚDM – spotkania na temat
        p Każdy ŚDM wymaga dobrego przygotowania pod względem treści, nad którą pochylą się młodzi gromadząc się na kilka dni w grupach językowych. Tematykę corocznych spotkań określa sam Ojciec Święty, kierując do młodych przesłanie zwane <strong>Orędziem</strong>. W czasie ŚDM treści te są pogłębiane podczas trzydniowych spotkań zwanych triduum katechetycznym.
        // http://w2.vatican.va/content/francesco/pl/messages/youth/index.html
        h3 Tekst Orędzia
        p.italic „Błogosławieni czystego serca, albowiem oni Boga oglądać będą” (Mt 5,8)
        h4 Drodzy młodzi,
        p Kontynuujemy naszą duchową pielgrzymkę do Krakowa, gdzie w lipcu 2016 będzie miała miejsce kolejna międzynarodowa edycja Światowego Dnia Młodzieży. Za przewodnik na naszej drodze wybraliśmy ewangeliczne błogosławieństwa. W ubiegłym roku zastanawialiśmy się nad błogosławieństwem ubogich w duchu, umieszczonym w szerszym kontekście „Kazania na Górze”. Wspólnie odkryliśmy rewolucyjne znaczenie błogosławieństw oraz stanowcze wezwanie Jezusa, aby odważnie zaangażować się w przygodę poszukiwania szczęścia. W tym roku będziemy zastanawiać się na szóstym błogosławieństwem: „Błogosławieni czystego serca, albowiem oni Boga oglądać będą” (Mt 5,8).
        h4 1. Pragnienie szczęścia
        p Słowo błogosławieni, czyli szczęśliwi, pojawia się dziewięć razy w tej mowie, będącej pierwszym wielkim kazaniem Jezusa (Mt 5,1-12). Brzmi ono jak refren, przypominający nam o wezwaniu Pana, aby wraz z Nim pokonywać tę drogę, która pomimo wszystkich wyzwań, jest drogą do prawdziwego szczęścia.
        p Tak, drodzy młodzi, dążenie do szczęścia jest wspólne wszystkim ludziom wszystkich czasów i wszystkich grup wiekowych. Bóg zaszczepił w sercu każdego mężczyzny i każdej kobiety niepohamowane pragnienie szczęścia, spełnienia. Czy nie czujecie, że wasze serca są niespokojne i zawsze szukają dobra, które mogłoby ugasić ich pragnienie nieskończoności?
        p Pierwsze rozdziały Księgi Rodzaju ukazują nam wspaniałe błogosławieństwo, do którego jesteśmy powołani, a które polega na doskonałej komunii z Bogiem, z innymi, z przyrodą i z nami samymi. Swobodny dostęp do Boga, do zażyłości z Nim i do Jego wizji był obecny w Bożym planie wobec ludzkości od jej początków i sprawiał, że Boże światło przenikało prawdą i przejrzystością wszystkie ludzkie relacje. W tym stanie pierwotnej czystości nie było „masek”, podstępów, powodów, aby kryć się jedni przed drugimi. Wszystko było przejrzyste i jasne.
        p Kiedy kobieta i mężczyzna ulegają pokusie i zrywają relację ufnej komunii z Bogiem, wówczas w ludzką historię wchodzi grzech (por. Rdz 3). Natychmiast można zauważyć jego konsekwencje także w ich relacjach z samymi sobą, jedno z drugim, z przyrodą. A są one dramatyczne! Pierwotna czystość ulega skażeniu. Od tej pory nie jest już możliwy bezpośredni dostęp do obecności Boga. Wkracza skłonność do ukrywania się, mężczyzna i kobieta muszą zasłonić swoją nagość. Pozbawieni światła, pochodzącego z wizji Pana, postrzegają otaczającą ich rzeczywistość w sposób wypaczony, krótkowzroczny. Wewnętrzny „kompas”, który nimi kierował w poszukiwaniu szczęścia, traci swój punkt odniesienia, a pragnienie władzy, posiadania i żądza przyjemności za wszelką cenę prowadzą ich do otchłani smutku i cierpienia.
        p W psalmach znajdujemy wołanie, które ludzkość kieruje z głębi duszy do Boga: „Kto nam ukaże to, co dobre? Panie, rozjaśnij nas światłem Twego oblicza” (Ps 4,7). Ojciec, w swojej nieskończonej dobroci odpowiada na to błaganie, posyłając swego Syna. W Jezusie Bóg przybiera oblicze człowieka. Poprzez Swoje wcielenie, życie, śmierć i zmartwychwstania zbawia On nas od grzechu i otwiera nowe perspektywy, dotychczas nie do pomyślenia.
        p Drodzy młodzi, w Chrystusie znajduje się więc wypełnienie waszych marzeń o dobru i szczęściu. Tylko On może zaspokoić wasze oczekiwania, tak często zawiedzione fałszywymi obietnicami świata. Jak powiedział św. Jan Paweł II: „To On jest pięknem, które tak was pociąga. To On wzbudza w was pragnienie radykalnych wyborów, które nie pozwala wam iść na kompromisy. To On każe wam zrzucać maski, które zakłamują wasze życie. To On odczytuje w waszych sercach decyzje najbardziej autentyczne, które inni chcieliby zagłuszyć. To Jezus wzbudza w was pragnienie, byście uczynili ze swego życia coś wielkiego” (Czuwanie modlitewne w Tor Vergata, 19 sierpnia 2000: Insegnamenti XXIII/ 2, [2000], 212).
        h4 2. Błogosławieni czystego serca…
        p Teraz spróbujmy przestudiować, jak to błogosławieństwo realizuje się poprzez czystość serca. Najpierw musimy zrozumieć biblijne znaczenie słowa serce. Dla kultury żydowskiej serce jest ośrodkiem uczuć, myśli i intencji osoby ludzkiej. Jeśli Biblia nas uczy, że Bóg nie patrzy na to, co widoczne dla oczu, ale na serce (por. 1 Sm 16,7), to możemy również powiedzieć, że wychodząc od naszego serca, możemy zobaczyć Boga. Dzieje się tak dlatego, że serce wyraża istotę ludzką w jej całości oraz jedności ciała i duszy, w jej zdolności do kochania i bycia kochaną.
        p Natomiast jeśli chodzi o określenie „czyste”, to św. Mateusz ewangelista używa greckiego słowa „katharos”, oznaczającego zasadniczo: czysty, jasny, wolny od substancji zanieczyszczających. W Ewangelii widzimy Jezusa burzącego pewną koncepcję czystości rytualnej związanej z zewnętrznością, zakazującą wszelkich kontaktów z rzeczami czy osobami (w tym trędowatymi i cudzoziemcami), uważanymi za nieczyste. Faryzeuszom, którzy, podobnie jak wielu Żydów w owym czasie, nie jedli nie dokonawszy wcześniej obmycia i zachowywali liczne tradycje związane z obmywaniem przedmiotów, Jezus mówi kategorycznie: „Nic nie wchodzi z zewnątrz w człowieka, co mogłoby uczynić go nieczystym; lecz co wychodzi z człowieka, to czyni człowieka nieczystym. Z wnętrza bowiem, z serca ludzkiego pochodzą złe myśli, nierząd, kradzieże, zabójstwa, cudzołóstwa, chciwość, przewrotność, podstęp, wyuzdanie, zazdrość, obelgi, pycha, głupota” (Mk 7,15.21-22).
        p Na czym w takim razie polega szczęście wypływające z czystego serca? Wychodząc od wymienionej przez Jezusa listy zła, czyniącego człowieka nieczystym, widzimy, że kwestia ta dotyczy szczególnie obszaru naszych relacji. Każdy z nas musi się nauczyć rozpoznawać, co może „zanieczyszczać” jego serce, musi ukształtować sobie prawe i wrażliwe sumienie, zdolne do „rozpoznania, jaka jest wola Boża: co jest dobre, co Bogu przyjemne i co doskonałe” (Rz 12,2). O ile potrzebna jest zdrowa troska o ochronę stworzenia, o czyste powietrze, wodę i żywność, to tym bardziej musimy strzec czystości tego, co jest najcenniejsze: naszych serc i naszych relacji. Ta „ludzka ekologia” pomoże nam oddychać czystym powietrzem, pochodzącym z rzeczy pięknych, z prawdziwej miłości, ze świętości.
        p Pewnego razu zadałem wam pytanie: „Gdzie jest twój skarb, gdzie spoczywa twoje serce?” (por. Wywiad udzielony grupie młodych Belgów, 31 marca 2014). Tak, nasze serca mogą przylgnąć do prawdziwych lub fałszywych skarbów, mogą znaleźć prawdziwe odpocznienie albo się uśpić, stając się leniwymi i odrętwiałymi. Najcenniejszym dobrem, jakie możemy mieć w życiu, jest nasza relacja z Bogiem. Czy jesteście o tym przekonani? Czy zdajecie sobie sprawę z nieocenionej wartości, jaką macie w oczach Boga? Czy wiecie, że jesteście kochani i akceptowani przez Niego bezwarunkowo, takimi jakimi jesteście? Kiedy zanika takie postrzeganie, istota ludzka staje się niezrozumiałą zagadką, ponieważ właśnie świadomość, że jesteśmy bezwarunkowo kochani przez Boga nadaje sens naszemu życiu. Czy pamiętacie rozmowę Jezusa z bogatym młodzieńcem (por. Mk 10,17-22)? Ewangelista Marek zauważa, że Pan spojrzał na niego z miłością (por. w. 21), a następnie zaprosił go do pójścia za Nim, aby znalazł prawdziwy skarb. Droga młodzieży, życzę Wam, aby to spojrzenie Chrystusa, pełne miłości, towarzyszyło wam przez całe życie.
        p Okres młodości jest czasem, kiedy rozwija się wielkie bogactwo uczuciowe obecne w waszych sercach, głębokie pragnienie prawdziwej miłości, pięknej i wspaniałej. Jak wiele siły jest w tej zdolności do kochania i bycia kochanym! Nie pozwólcie, aby ta cenna wartość została sfałszowana, zniszczona lub oszpecona. Dzieje się tak, gdy w nasze relacje zakrada się instrumentalizacja bliźniego dla własnych egoistycznych celów, czasem jedynie jako obiektu przyjemności. Na skutek tego negatywnego doświadczenia serce ulega zranieniu i smutkowi. Proszę was: nie bójcie się prawdziwej miłości, tej, której uczy nas Jezus, a święty Paweł opisuje w następujący sposób: „Miłość cierpliwa jest, łaskawa jest. Miłość nie zazdrości, nie szuka poklasku, nie unosi się pychą; nie dopuszcza się bezwstydu, nie szuka swego, nie unosi się gniewem, nie pamięta złego; nie cieszy się z niesprawiedliwości, lecz współweseli się z prawdą. Wszystko znosi, wszystkiemu wierzy, we wszystkim pokłada nadzieję, wszystko przetrzyma. Miłość nigdy nie ustaje” (1 Kor 13, 4-8).
        p Zachęcając was do ponownego odkrycia piękna ludzkiego powołania do miłości, wzywam was również do buntu przeciwko powszechnej tendencji do banalizowania miłości, zwłaszcza gdy próbuje się ją ograniczyć jedynie do aspektu seksualnego, pozbawiając ją jej podstawowych cech piękna, komunii, wierności i odpowiedzialność. Drodzy młodzi, „w kulturze tymczasowości, względności, wielu głosi, że trzeba «cieszyć się» chwilą, że nie warto angażować się na całe życie, podejmować decyzji ostatecznych, «na zawsze», bo nie wiadomo, co przyniesie przyszłość. Ja natomiast proszę was, abyście byli rewolucyjni, byście szli pod prąd; tak, proszę, abyście w tym względzie buntowali się przeciwko owej kulturze tymczasowości, która w istocie myśli, że nie jesteście zdolni do odpowiedzialności, że nie jesteście w stanie prawdziwie kochać. Ja pokładam ufność w was, młodych, i modlę się za was. Miejcie odwagę «iść pod prąd». Odważcie się także być szczęśliwi” (Spotkanie z wolontariuszami na ŚDM w Rio, 28 lipca 2013).
        p Wy ludzie młodzi jesteście dzielnymi odkrywcami! Jeśli wyruszycie na odkrywanie bogatego nauczania Kościoła w tej dziedzinie, to odkryjecie, że chrześcijaństwo nie polega na serii zakazów, tłumiących nasze pragnienia szczęścia, ale na planie życia, który może zafascynować nasze serca!
        h4 3. …albowiem oni Boga oglądać będą
        p W sercu każdego mężczyzny i każdej kobiety nieustannie rozbrzmiewa zachęta Pana: „Szukaj mojego oblicza!” (por. Ps 27,8). Jednocześnie nieustannie musimy konfrontować się z naszą nieszczęsną kondycją grzeszników. Czytamy o tym na przykład w Księdze Psalmów: „Kto wstąpi na górę Pana, kto stanie w Jego świętym miejscu? Człowiek o rękach nieskalanych i o czystym sercu” (Ps 24, 3-4). Nie powinniśmy się jednak lękać, ani zniechęcać: w Biblii i historii każdego z nas, widzimy, że to Bóg zawsze czyni pierwszy krok. To On nas oczyszcza tak, abyśmy mogli być dopuszczeni do Jego obecności.
        p Prorok Izajasz, gdy Pan go powołał, by przemawiać w Jego imieniu, był przerażony i powiedział: „Biada mi! Jestem zgubiony! Wszak jestem mężem o nieczystych wargach” (Iz 6,5). A jednak Pan go oczyścił, posyłając anioła, który dotknął ust jego i powiedział: „twoja wina jest zmazana, zgładzony twój grzech” (w. 7). W Nowym Testamencie, gdy nad jeziorem Genezaret Jezus powołał swoich pierwszych uczniów i dokonał cudownego połowu ryb, Szymon Piotr upadł Mu do nóg i rzekł: „Odejdź ode mnie, Panie, bo jestem człowiek grzeszny” (Łk 5,8). Na odpowiedź nie trzeba było długo czekać: „Nie bój się, odtąd ludzi będziesz łowił” (w. 10). A gdy jeden z uczniów Jezusa poprosił: „Panie, pokaż nam Ojca, a to nam wystarczy”, to Mistrz odpowiedział: „Kto Mnie zobaczył, zobaczył także i Ojca” (J 14,8-9).
        p Zaproszenie Pana, aby się z Nim spotkać jest więc skierowana do każdego z was, niezależnie od miejsca i sytuacji w jakiej się znajdujecie. Wystarczy tylko „podjąć decyzję, by być gotowymi na spotkanie z Nim, na szukania Go nieustannie każdego dnia. Nie ma powodów, dla których ktoś mógłby uważać, że to zaproszenie nie jest skierowane do niego” (Adhort, ap. Evangelii gaudium, 3). Wszyscy jesteśmy grzesznikami potrzebującymi oczyszczenia przez Pana. Ale wystarczy tylko uczynić mały krok ku Jezusowi, aby odkryć, że On zawsze na nas czeka z otwartymi ramionami, zwłaszcza w sakramencie pojednania, będącym szczególną okazją do spotkania z Bożym miłosierdziem, które oczyszcza i odtwarza nasze serca.
        p Tak, drodzy młodzi, Pan chce się z nami spotkać, być przez nas „widzianym”. Możecie mnie zapytać: „a jak?”. Także święta Teresa z Avila, urodzona w Hiszpanii dokładnie 500 lat temu, już jako mała dziewczynka powiedziała rodzicom: „Chcę widzieć Boga”. Później odkryła drogę modlitwy jako wewnętrznej przyjaźni „z Tym, o którym wiemy, że nas miłuje” (Księga życia, 8,5). Dlatego was pytam: czy się modlicie? Czy wiecie, że możecie rozmawiać z Jezusa, z Ojcem, z Duchem Świętym, tak jak rozmawia się z przyjacielem? I to nie byle jakim przyjacielem, ale najlepszym i najbardziej zaufanym przyjacielem! Doświadczycie, że czynicie to z łatwością. Odkryjecie to, co jeden z wieśniaków z Ars powiedział świętemu Janowi Marii Vianneyowi, tamtejszemu świętemu proboszczowi: modląc się przed tabernakulum „wpatruję się w Niego, a On wpatruje się we mnie” (Katechizm Kościoła Katolickiego, 2715).
        p Po raz kolejny zachęcam was do spotkania z Panem poprzez częste czytanie Pisma Świętego. Jeśli jeszcze nie nabraliście tego zwyczaju, to zacznijcie od Ewangelii. Czytajcie codziennie jeden fragment. Pozwólcie, by Słowo Boże przemawiało do waszych serc, oświecało wasze kroki (por. Ps 119,105). Przekonacie się, że można „zobaczyć” Boga także w obliczu braci, zwłaszcza tych najbardziej zapomnianych: biednych, głodnych, spragnionych, przybyszów, chorych, więźniów (por. Mt 25,31-46). Czy tego kiedykolwiek doświadczyliście? Drodzy młodzi, aby wejść w logikę Królestwa Bożego, musimy uznać siebie za ubogich pośród ubogich. Czyste serce musi być koniecznie także sercem ogołoconym, potrafiącym się uniżyć i dzielić swe życie z najbardziej potrzebującymi.
        p Spotkanie z Bogiem na modlitwie, poprzez czytanie Biblii oraz w życiu braterskim, pomoże wam lepiej poznać Pana i samych siebie. Tak, jak się to stało w przypadku uczniów z Emaus (Łk 24,13-35), głos Jezusa sprawi, że wasze serca zapłoną i otworzą się wasze oczy, aby rozpoznać Jego obecność w waszej historii, odkrywając w ten sposób plan miłości, jaki On ma wobec waszego życia.
        p Niektórzy z was słyszą lub usłyszą Boże powołanie do małżeństwa, do założenia rodziny. Wielu dziś myśli, że to powołanie stało się już „niemodne”, ale to nieprawda! Właśnie z tego powodu, cała wspólnota kościelna przeżywa szczególny okres refleksji na temat powołania i misji rodziny w Kościele i w świecie współczesnym. Ponadto zachęcam was do zastanowienia się nad powołaniem do życia konsekrowanego i kapłaństwa. Jakże to wspaniałe, kiedy widzimy ludzi młodych przyjmujących powołanie, by oddać się całkowicie Chrystusowi i na służbę Jego Kościołowi! Zadajcie sobie pytanie, z czystym sercem i nie lękajcie się tego, o co was prosi Bóg! Poczynając od waszego powiedzenia „tak” na wezwanie Pana, staniecie się nowymi ziarnami nadziei w Kościele i w społeczeństwie. Nie zapomnijcie: wola Boża jest naszym szczęściem!
        h4 4. W drodze do Krakowa
        p „Błogosławieni czystego serca, albowiem oni Boga oglądać będą” (Mt 5,8). Drodzy młodzi, jak widzicie błogosławieństwo to bardzo bezpośrednio dotyka waszego życia i jest gwarancją waszego szczęścia. Dlatego powtarzam raz jeszcze: miejcie odwagę, by być szczęśliwymi!
        p Tegoroczny Światowy Dzień Młodzieży prowadzi do ostatniego etapu drogi przygotowującej na najbliższe wielkie światowe spotkanie z młodzieżą w Krakowie w 2016 roku. Właśnie przed trzydziestu laty święty Jan Paweł II ustanowił w Kościele Światowe Dni Młodzieży. Ta młodzieżowa pielgrzymka poprzez różne kontynenty pod przewodnictwem Następcy Piotra była naprawdę inicjatywą opatrznościową i proroczą. Wspólnie dziękujemy Panu za cenne owoce, jakie ona przyniosła w życiu wielu młodych ludzi na całym świecie! Jak wiele ważnych odkryć – zwłaszcza odkrycie Chrystusa, Drogi, Prawdy i Życia, oraz Kościoła jako wielkiej i gościnnej rodziny! Ileż z tych zgromadzeń wypłynęło zmian życia, jak wiele decyzji powołaniowych! Niech święty Papież, patron Światowych Dni Młodzieży, wstawia się za naszą pielgrzymką do jego Krakowa. A macierzyńskie spojrzenie Maryi, Łaski Pełnej, Całej Pięknej i Całej Czystej niech towarzyszy nam na tej drodze.
        p.italic Watykan, 31 stycznia 2015
          br/
          | Wspomnienie św. Jana Bosko
        p.strong FRANCISZEK
        p.italic.align-right <a href="http://www.krakow2016.com/pl/aktualnosci,pokaz,229,oredzie-papieza-franciszka-do-mlodych-na-xxx-swiatowe-dni-mlodziezy-w-2015-roku">Źródło – krakow2016.com</a>
    .tile--content#tile_7
      h2
        span Program L4
      section.content--text.content--text-w-center
        p.strong Projekt, jak sama nazwa wskazuje, dotyczy chorych. Pragniemy naśladować w ten sposób Jana Pawła II: kiedy czekała go trudna pielgrzymka, wymagające zadanie czy po prostu – wielkie dzieło, prosił o modlitwę osoby chore. Przygotowując Światowe Dni Młodzieży chcemy czynić podobnie.
        p Światowe Dni Młodzieży to nie tylko wielkie przedsięwzięcie organizacyjne, ale też wydarzenie mające ogromne znaczenie dla losów ludzi, dla ich wiary i dlatego – wymagające duchowego wsparcia wszystkich członków Kościoła. Biorąc pod uwagę hasło ŚDM w Krakowie, czyli błogosławieństwo o miłosiernych, pragniemy wspólnie głosić miłosierdzie słowem i czynem.
        p Pragniemy, by plakaty mówiące o projekcie L4 dotarły do parafii i zgromadzeń zakonnych, do szpitali, przychodni, domów opieki i osób przebywających w domach. Chorzy w każdym wieku – otrzymają listy z prośbą o modlitwę i ofiarę w intencji ŚDM. O ich rozniesienie prosimy właśnie młodych: wolontariuszy, młodzież zaangażowaną przy parafiach we wspólnotach. Mamy nadzieję, że efektem tej akcji będzie powstanie przy parafiach grup młodych opiekujących się chorymi systematycznie. W listach zawarta jest też modlitwa dla chorych oraz świadectwa osób, które w swoim życiu cierpienia doświadczyły, ale – nie poddały się zwątpieniu.
        p Oprócz tego, w każdym liście znajduje się deklaracja, którą chorzy mogą wypełnić i odesłać do Biura ŚDM. W ten sposób nazwiska wszystkich biorących udział w projekcie – znajdą się w tzw. Księdze Modlitwy, którą przekażemy Ojcu Świętemu w trakcie Światowych Dni Młodzieży.
        p Kolejne listy w ramach projektu L4 umieszczane będą cyklicznie na stronie internetowej ŚDM.
        h4 Modlitwa Chorych
        p.italic Umiłowany Zbawicielu świata, wraz z niebem i ziemią uwielbiam Twoje Boskie Serce, które pozwoliło się przebić włócznią żołnierza, aby obmyć świat cały Krwią Odkupienia. W tym zdroju Miłości zanurzam młodych całego świata, dziewczęta i chłopców, przygotowujących się do Światowych Dni Młodzieży.
        p.italic Powierzam Ci, Panie, każdego z nich, prosząc, by czas spotkania z Ojcem Świętym był powiewem Twojego Ducha, posiewem łaski i zaczynem dobra. Spraw, by ich umysły były otwarte na prawdę, a serca na Twoją miłość obecną w Słowie, sakramentach, we wspólnocie. Niech to dzieło, które w nich rozpocząłeś, rozszerza się i rośnie. Za nich, Jezu, ofiaruję Ci mój codzienny krzyż cierpienia, bólu i samotności. Zjednocz nas wszystkich w Twojej miłości. Który żyjesz, królujesz i kochasz na wieki wieków. Amen.
        p.italic.align-right <a href="http://www.krakow2016.com/pl/aktualnosci,pokaz,228,czym-jest-tajemniczy-program-l4">Źródło – krakow2016.com</a>
    .tile--content#tile_8
      h2
        span Hymn ŚDM
      section.content--text.content--text-w-center
        figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/eZRsoPmeZXk?rel=0" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0"></iframe>
          figcaption Oficjalny hymn Światowego Dnia Młodzieży Kraków 2016
        figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/5BrV6IvTBEc?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Filmik „making of” hymnu ŚDM
        .content--wrapper
          .content--lyrics
            h3 Tekst hymnu
            p Wznoszę swe oczy ku górom
              br/
              |skąd przyjdzie mi pomoc,
              br/
              |pomoc od Pana, wszak Bogiem On
              br/
              |Miłosiernym jest!
            p Kiedy zbłądzimy Sam szuka nas,
              br/
              |by w swe ramiona wziąć,
              br/
              |rany uleczyć Krwią Swoich Ran,
              br/
              |nowe życie tchnąć!
              br/
              | 
            p.strong Błogosławieni miłosierni,
              br/
              |Albowiem oni miłosierdzia dostąpią!
            p Gdyby nam Pan nie odpuścił win,
              br/
              |Któż ostać by się mógł?
              br/
              |Lecz On przebacza, przeto i my
              br/
              |Czyńmy jak nasz Bóg!
            p Pan Syna Krwią zmazał wszelki dług,
              br/
              |Syn z grobu żywy wstał,
              br/
              |„Panem jest Jezus!” – mówi w nas Duch,
              br/
              |niech to widzi świat!
              br/
              | 
            p [BRIDGE]
            p Więc odrzuć lęk i wiernym bądź,
              br/
              |swe troski w Panu złóż,
              br/
              |i ufaj, bo zmartwychwstał i wciąż
              br/
              |żyje Pan, Twój Bóg!
          .content--lyrics
            h3 Pobierz
            p
              a(href="http://www.krakow2016.com/upload/files/Błogosławieni%20Miłosierni_prymka.pdf") Linia melodyczna (PDF)
            p
              a(href="http://www.krakow2016.com/audio/hymn.mp3") Plik z nagraniem (MP3)
            p
              a(href="http://www.krakow2016.com/audio/hymn.wav") Plik z nagraniem (WAV)
            p
              a(href="http://www.krakow2016.com/upload/files/BŁOGOSŁAWIENI%20MIŁOSIERNI_TEKST.pdf") Plik z tekstem hymnu (PDF)
            p
              a(href="http://www.krakow2016.com/upload/files/hymn%20obsada.doc") Plik z twórcami i wykonawcami hymnu (DOC)
        h3 Historia hymnu
        p Jakub Blycharz, kompozytor i autor hymnu Światowych Dni Młodzieży Kraków 2016, tuż po ogłoszeniu zwycięskiego utworu wspominał w wywiadzie dla nas, że zanim zasiadł do napisania hymnu, szukał inspirującego Słowa w Piśmie Świętym. Otrzymał wtedy obietnicę zawartą w 31. rozdziale Księgi Powtórzonego Prawa o tytule Hymn jako świadek: „Zapiszcie teraz sobie ten oto hymn. Naucz go Izraelitów, włóż im go w usta, aby pieśń ta była dla Mnie świadkiem przeciwko synom Izraela”. 
        p Takie były początki prac nad hymnem, taki też jest charakter całego tekstu pieśni – zakorzenionego w Słowach Pisma Św., podanych w poetyckich parafrazach. Hymn rozpoczynają słowa Psalmu 121(120), który wlewa w nasze serca pokój i pewność, że miłosierny Pan czuwa nad nami i dopełni danej nam obietnicy towarzyszenia człowiekowi „teraz i po wszystkie czasy”. Już w pierwszej zwrotce – pośrodku cytatu ze Starego Testamentu - Bóg określony jest mianem miłosiernego.
        p W drugiej zwrotce znajdujemy odniesienia do przypowieści o zagubionej owcy z Ewangelii św. Łukasza (15,1-7), która wlewa nadzieję w niestrudzone próby Boga odzyskania człowieka ku pełnemu Życiu. Jezus zapewnia w przypowieści o wielkiej radości, jaka panuje w niebie z powodu nawrócenia się każdego grzesznika. Poprzez swoją śmierć na krzyżu, dał nam dostęp do nowego życia – wpisał ludzkość w odwieczny plan zbawienia, dzięki wylanej za nas Świętej Krwi. 
        p Refren hymnu to słowa piątego błogosławieństwa z Kazania na Górze z Ewangelii św. Mateusza (Mt 5,3-10): „Błogosławieni miłosierni, albowiem oni miłosierdzia dostąpią”.
        p To zarazem przesłanie Światowych Dni Młodzieży, które odbędą się w Krakowie – mieście orędzia miłosierdzia św. Faustyny Kowalskiej.
        p Trzecia zwrotka to parafraza słów Psalmu 130 De profundis: „Jeśli zachowasz pamięć o grzechach, Panie, / Panie, któż się ostoi? / Ale Ty udzielasz przebaczenia, / aby Ci służono z bojaźnią”. Postawa Boga w stosunku do nas jest naszą inspiracją do przyjęcia postawy miłosierdzia w relacjach z innymi ludźmi.
        p Kolejna zwrotka oddaje sens ważnych punktów kerygmatu (czyli zbioru podstawowych prawd Ewangelii), które odnoszą się do naszego odkupienia w Chrystusie ukrzyżowanym, pogrzebanym i zmartwychwstałym oraz do przyjęcia przez wiarę Jezusa Chrystusa jako osobistego Pana i Zbawiciela.
        p.italic.align-right <a href="http://www.krakow2016.com/pl/aktualnosci,pokaz,199,premiera-hymnu-xxxi-sdm-krakow-2016-odbyla-sie">Źródło – krakow2016.com</a>
    .tile--content#tile_9
      h2
        span Modlitwa za ŚDM
      section.content--text.content--text-w-center
        :markdown
          „Boże, Ojcze miłosierny,<br />
          który objawiłeś swoją miłość w Twoim Synu Jezusie Chrystusie,<br />
          i wylałeś ją na nas w Duchu Świętym, Pocieszycielu,<br />
          Tobie zawierzamy dziś losy świata i każdego człowieka”.<br />
          Zawierzamy szczególnie<br />
          ludzi młodych ze wszystkich narodów, ludów i języków.<br />
          Prowadź ich bezpiecznie po zawiłych ścieżkach współczesnego świata<br />
          i daj im łaskę owocnego przeżycia Światowych Dni Młodzieży w Krakowie.<br />

          Ojcze niebieski,<br />
          uczyń nas świadkami Twego miłosierdzia.<br />
          Naucz nieść wiarę wątpiącym,<br />
          nadzieję zrezygnowanym,<br />
          miłość oziębłym,<br />
          przebaczenie winnym i radość smutnym.<br />
          Niech iskra miłosiernej miłości,<br />
          którą w nas zapaliłeś,<br />
          stanie się ogniem przemieniającym ludzkie serca<br />
          i odnawiającym oblicze ziemi.

          Maryjo, Matko Miłosierdzia, módl się za nami.<br />
          Święty Janie Pawle II, módl się za nami.
        p.italic.align-right <a href="http://www.krakow2016.com/ftp/OFICJALNA_MODLITWA_SDM_2016.pdf">Źródło – krakow2016.com</a>
    .tile--content#tile_10
      h2
        span Bilet dla Brata
      section.content--text.content--text-w-center
        p.strong W lipcu 2016 r. Polska będzie gospodarzem XXXI Światowych Dni Młodzieży. To wyjątkowe wydarzenie w historii Polski i Kościoła. Pielgrzymi z ponad 200 krajów najpierw przyjadą do wybranego przez siebie regionu, gdzie spędzą Dni w Diecezjach, a następnie spotkają się w Krakowie podczas Wydarzeń Centralnych z udziałem papieża Franciszka. Już dziś rozpoczynają się przygotowania do tego historycznego wydarzenia. Może wziąć w nich udział każdy Polak – niezależnie od wieku, miejsca zamieszkania, możliwości finansowych, czy dotychczasowego zaangażowania w życie Kościoła.
        p Dla wielu młodych ludzi z państw Europy Wschodniej i Zakaukazia Światowe Dni Młodzieży 2016 to najbardziej dostępne z dotychczasowych spotkań młodych – choć wciąż trudne do zrealizowania z przyczyn finansowych. Dla Polaków, to wyjątkowa możliwość pomocy młodzieży ze Wschodu w zrealizowaniu marzenia o przyjeździe do Polski i udziale w Światowych Dniach Młodzieży.Właśnie dlatego powstał Bilet dla Brata – dzieło pomocy pielgrzymom ze Wschodu.
        p Projekt, który jest elementem oficjalnych przygotowań do XXXI ŚDM, powstał dzięki współpracy wolontariuszy i Krajowego Biura Organizacyjnego ŚDM przy Konferencji Episkopatu Polski. Celem wspólnych działań jest:
        ul
          li zaangażowanie jak najszerszego grona osób dobrej woli w przygotowanie tego wydarzenia,
          li promocja inicjatyw kulturalnych, charytatywnych i duszpasterskich – zarówno ogólnopolskich, jak też lokalnych,
          li zebranie funduszy, które zostaną przeznaczone na dofinansowanie udziału w XXXI ŚDM w Polsce młodzieży z trzynastu krajów Europy Wschodniej i Zakaukazia. Te kraje, to: Armenia, Azerbejdżan, Białoruś, Gruzja, Kazachstan, Kirgistan, Litwa, Mołdawia, Rosja, Tadżykistan, Turkmenistan,Ukraina i Uzbekistan.
        p Projekt, trwa od 13 kwietnia 2014 r. do 30 czerwca 2016 r. To znakomita okazja do włączenia się w przygotowania ŚDM w Polsce, zarówno poprzez wsparcie materialne lub promocyjne, jak też przez udział w proponowanych wydarzeniach duszpasterskich i kulturalnych. To również szansa na promocję własnych działań i pomysłów: lokalnych, które będą mogły zaistnieć na dużą skalę, a także ogólnopolskich i międzynarodowych, które mają szansę trafić do nowych odbiorców.
        p Zapraszamy do współpracy i udziału w proponowanych przez nas inicjatywach! Więcej informacji na stronie <a href="http://www.biletdlabrata.pl">biletdlabrata.pl</a>.
        p.italic.align-right <a href="http://www.biletdlabrata.pl/#!idea/c1t0j">Źródło – biletdlabrata.pl</a>

  script(type="text/javascript", src="/js/jquery.min.js")
  script(type="text/javascript", src="/js/nivo-lightbox.min.js")
  script.
    $(document).ready(function(){
        $('a.tile').nivoLightbox();
        $('.js-hide').css('display', 'none');
    });

    
    