---
title: 'Info o ŚDM'
description: "Symbolika loga – Czerwona linia w tle loga to obrys Polski, kraju w którym odbędzie się ten Światowy Dzień Młodzieży. Żółta kropka została umieszczona dokładnie nad Krakowem, miastem…"
body_class: 'page--blue'
---

extends /layouts/pl

block content
  h2
    span Info o ŚDM
  br/
  .tile--row
    a.tile.tile--3-2(href="#")
      .tile--image
        img(src="/img/wyd_info_tile_1.png")
      .tile--caption Idea Światowych Dni Młodzieży
    a.tile.tile--2-2(href="#")
      .tile--image
        img(src="/img/wyd_info_tile_2.png")
      .tile--caption Program ŚDM
  .tile--row
    a.tile.tile--1-1(href="#")
      .tile--image
        img(src="/img/wyd_info_tile_3.png")
      .tile--caption Logo ŚDM
    a.tile.tile--2-1(href="#")
      .tile--image
        img(src="/img/wyd_info_tile_4.jpg")
      .tile--caption Poznaj Kraków
    a.tile.tile--2-1(href="#")
      .tile--image
        img(src="/img/wyd_info_tile_5.jpg")
      .tile--caption Symbole ŚDM
  .tile--row.fs-0
    .tile--column.tile--column--1
      a.tile.tile--1-1(href="#")
        .tile--image
          img(src="/img/wyd_info_tile_6.jpg")
        .tile--caption Orędzie Papieża Franciszka
      a.tile.tile--1-1(href="#")
        .tile--image
          img(src="/img/wyd_info_tile_7.png")
        .tile--caption Program L4
    .tile--column.tile--column--2
      a.tile.tile--2-2(href="#")
        .tile--image
          img(src="/img/wyd_info_tile_8.jpg")
        .tile--caption Hymn ŚDM
    .tile--column.tile--column--2
      a.tile.tile--2-1(href="#")
        .tile--image
          img(src="/img/wyd_info_tile_9.jpg")
        .tile--caption Modlitwa za ŚDM
      a.tile.tile--2-1(href="#")
        .tile--image
          img(src="/img/wyd_info_tile_10.png")
        .tile--caption Bilet dla Brata
    
    