---
title: 'Info o ŚDM'
description: "Symbolika loga – Czerwona linia w tle loga to obrys Polski, kraju w którym odbędzie się ten Światowy Dzień Młodzieży. Żółta kropka została umieszczona dokładnie nad Krakowem, miastem…"
---

extends /layouts/pl

block content
  h2
    span Info o ŚDM
  .media
    figure.wyd-logo
      img(src="/img/official-wyd-logo.png").content--image__1_1
      figcaption Oficjalne logo Światowego Dnia Młodzieży 2016
    h3 Symbolika loga
    p Czerwona linia w tle loga to obrys Polski, kraju w którym odbędzie się ten Światowy Dzień Młodzieży. Żółta kropka została umieszczona dokładnie nad Krakowem, miastem, w którym odbędą się główne uroczystości. To kółko reprezentuje również młodzież. Krzyż symbolizuje Jezusa Chrystusa, a płomienie wyrastające z Krakowa oznaczają Miłosierdzie Boże. Można również zobaczyć trzy oficjalne kolory ŚDM 2016: <span class="wyd-red">czerwony</span>, <span class="wyd-blue">niebieski</span> oraz <span class="wyd-yellow">żółty</span>.
  hr/
  .content--text.content--text-w-center
    h3 Oficjalny Hymn Światowego Dnia Młodzieży 2016
    figure
      <iframe width="560" height="315" src="http://www.youtube.com/embed/eZRsoPmeZXk?rel=0" frameborder="0" allowfullscreen></iframe>
    .content--lyrics
      h4 Polski
      p Wznoszę swe oczy ku górom
        br/
        |skąd przyjdzie mi pomoc,
        br/
        |pomoc od Pana, wszak Bogiem On
        br/
        |Miłosiernym jest!
      p Kiedy zbłądzimy Sam szuka nas,
        br/
        |by w swe ramiona wziąć,
        br/
        |rany uleczyć Krwią Swoich Ran,
        br/
        |nowe życie tchnąć!
        br/
        | 
      p.strong Błogosławieni miłosierni,
        br/
        |Albowiem oni miłosierdzia dostąpią!
      p Gdyby nam Pan nie odpuścił win,
        br/
        |Któż ostać by się mógł?
        br/
        |Lecz On przebacza, przeto i my
        br/
        |Czyńmy jak nasz Bóg!
      p Pan Syna Krwią zmazał wszelki dług,
        br/
        |Syn z grobu żywy wstał,
        br/
        |„Panem jest Jezus!” – mówi w nas Duch,
        br/
        |niech to widzi świat!
        br/
        | 
      p [PRZEJŚCIE]
      p Więc odrzuć lęk i wiernym bądź,
        br/
        |swe troski w Panu złóż,
        br/
        |i ufaj, bo zmartwychwstał i wciąż
        br/
        |żyje Pan, Twój Bóg!

    
    
    