---
title: "Dni w Diecezji"
description: "Dni w Diecezji podczas Światowego Dnia Młodzieży 2016 to czas, podczas którego młodzi ludzie z całego świata są goszczeni w Polskich diecezjach. Chcielibyśmy zaprosić kalasantyńską młodzież do spędzenia Dni w Diecezjach w pijarskiej Parafii w Bolszewie."
body_class: 'page--yellow'
---

extends /layouts/pl

block content
  h2
    span W Diecezji
  br/
  a.tile.tile--3-2.tile--mobile-ending(href="#tile_1", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_1@2x.png")
    .tile--caption Calasanz 2016 w Bolszewie
  a.tile.tile--2-2.tile--wide-ending(href="#tile_2", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_2@2x.jpg")
    .tile--caption Program Dni w Diecezji
  a.tile.tile--1-1.tile--mobile-ending(href="#tile_3", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_3@2x.png")
    .tile--caption Jak dojechać?
  a.tile.tile--2-1.tile--mobile-ending(href="#tile_4", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_4@2x.jpg")
    .tile--caption Poznaj region
  a.tile.tile--2-1.tile--wide-ending(href="#tile_5", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_5@2x.jpg")
    .tile--caption Idea Dni w Diecezji
  .js-hide
    .tile--content#tile_1
      h2
        span Calasanz 2016 w Bolszewie
      section.content--text.content--text-w-center
        p <strong>Dni w Diecezji</strong> podczas Światowego Dnia Młodzieży 2016 to czas, podczas którego młodzi ludzie z całego świata są goszczeni w Polskich diecezjach. Ten etap <strong>rozpoczyna się 20 lipca, a kończy 25 lipca 2016 roku</strong>. Chcielibyśmy zaprosić kalasantyńską młodzież do spędzenia Dni w Diecezjach w <a href="http://bolszewo.pijarzy.pl/">pijarskiej Parafii w Bolszewie</a> (Archidiecezji Gdańskiej).
        p <strong>Bolszewo</strong> to miejscowość znajdująca się na północy Polski, w pięknym regionie Kaszub. Jest atrakcyjnie położona: niedaleko są Morze Bałtyckie i jedno z najpiękniejszych miast świata – Gdańsk. Bolszewo jest blisko do Wejherowa i Gdyni, urokliwych miast, związanych z tradycją i Chrześcijaństwem.
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d147844.13645111403!2d18.17318635!3d54.62046894999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fdb84dc14cfb71%3A0x3d01e0f67a21708f!2sBolszewo!5e0!3m2!1spl!2spl!4v1423584367424" frameborder="0" style="border:0" class="content--map"></iframe>
        p Miejscem naszego spotkania w Bolszewie będzie <strong>Parafia Wniebowzięcia Najświętszej Maryi Panny</strong>, gdzie pracują pijarzy. Młodzież będzie goszczona w rodzinach parafii. 
        figure(style="position:relative;width:100%;padding-top:37.33%")
          img(src="/img/bolszewo.jpg", style="position:absolute;top:0;left:0")
          figcaption Kościół w Bolszewie
        p W czasie Dni w Diecezji czyli tzw. tygodnia misyjnego, chcemy zorganizować dla młodzieży kalasantyńskiej specjalne wydarzenia, które <strong>pomogą we wzajemnym poznaniu się młodych z całego świata</strong>. Włączymy się także w program, jaki zaproponuje Archidiecezja Gdańska.
    .tile--content#tile_2
      h2
        span Program Dni w Diecezji
      section.content--text.content--text-w-center
        p Ramowy i poglądowy plan:
        ul
          li 20 lipca – Dzień przyjazdu
          li 21 lipca – Dzień poznawania regionu
          li 22 lipca – Dzień poznawania regionu
          li 23 lipca – Dzień spotkania grup goszczących w diecezji (Gdańsk)
            ul
              li Litania Narodów
              li Eucharystia Posłania
              li Festiwal Młodych
          li 24 lipca – Dzień w parafii
          li 25 lipca – Dzień posłania do Krakowa
    .tile--content#tile_3
      h2
        span Jak dojechać?
      section.content--text.content--text-w-center
        p Bolszewo znajduje się blisko morza i Trójmiasta. Położone jest w samym sercu Kaszub, tylko 5 km dzieli je od Wejherowa, większego miasta dobrze skomunikowanego z Gdańskiem, gdzie m.in. znajduje się port lotniczy (GDN). Do Wejherowa można dotrzeć także koleją.
        p Z Trójmiastem (Gdańskiem, Sopotem i Gdynią) Wejherowo połączone jest poprzez Szybką Kolej Miejską (SKM) a z Gdańskiem i Sopotem dodatkowo obwodnicą trójmiejską.
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d147844.13645111403!2d18.17318635!3d54.62046894999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fdb84dc14cfb71%3A0x3d01e0f67a21708f!2sBolszewo!5e0!3m2!1spl!2spl!4v1423584367424" frameborder="0" style="border:0" class="content--map"></iframe>
        figure(style="position:relative;width:100%;padding-top:98.5%")
          img(src="/img/bolszewo_map.jpg", alt="Mapa Bolszewa", style="position:absolute;top:0;left:0")
          figcaption Mapa poglądowa okolic Bolszewa
    .tile--content#tile_4
      h2
        span Poznaj region
      section.content--text.content--text-w-center
        p <strong>Kaszuby Północne są jednym z piękniejszych regionów Polski.</strong> Piękna natura, niezliczone jeziora, mnóstwo różnorodnych gatunkowo lasów, sąsiedztwo morza, a nade wszystko gościnność rdzennych mieszkańców, czyli Kaszubów, powoduje, że turyści raz odwiedziwszy te strony, chcą tu wrócić. To tu znajduje się Bolszewo – miejscowość, gdzie od ponad 70 lat pracują pijarzy, prowadząc parafię pw. Wniebowzięcia NMP. To właśnie tutaj będziemy gościć pielgrzymów w ramach Dni w Diecezji.
        figure
          <iframe width="560" height="315" src="https://www.youtube.com/embed/SdewOSTyFBM?rel=0" frameborder="0" allowfullscreen></iframe>
          figcaption Przelot nad naszym pijarskim kościołem w Bolszewie
        p W pobliżu Bolszewa znajduje się jedna z najciekawszych miejscowości Kaszub – <strong>Wejherowo</strong>. Pięknie położona Kalwaria Wejherowska, zabytkowy rynek czy unikatowy zespół pałacowo-parkowy to tylko ułamek tego, co stanowi o turystycznej atrakcyjności tego miasta. Nie bez powodu Wejherowo nazywane jest duchową stolicą Kaszub. Znajdziemy tu bowiem bogactwo wspaniałych obiektów sakralnych, możemy w leśnej scenerii poznać ostatnią drogę Chrystusa na wzgórzach kalwaryjskich,  czy uklęknąć i pomodlić się przed cudownym obrazem Matki Bożej Wejherowskiej. 
        p Niecałe 30 kilometrów dzieli Bolszewo od granic <strong>Trójmiasta: Gdyni, Spotu i Gdańska</strong>. Miasta te, położone nad Zatoką Gdańską u południowych brzegów Morza Bałtyckiego, mają bogatą historię i ciekawą architekturę.
        figure
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TTvmgI-PbGs?rel=0" frameborder="0" allowfullscreen></iframe>
          figcaption Film poklatkowy o Trójmieście 
        p <strong>Gdańsk jest miastem wojewódzkim, jednym z największych w Polsce.</strong> Uznawany jest za symboliczne miejsce wybuchu II wojny światowej oraz początku upadku komunizmu w Europie Środkowej. Na terenie miasta znajdują się liczne zabytki architektury, m.in. największy kościół z cegły – Bazylika Mariacka. Ponad 1000 letni Gdańsk, co roku odwiedzany jest przez tysiące turystów, łączy w sobie tradycje kultury wielu narodów. Jest to raj dla miłośników starej architektury. Można tu w nieskończoność krążyć pośród pięknych kamienic i średniowiecznych zabytków.
        figure
          <iframe width="560" height="315" src="https://www.youtube.com/embed/dtl9c2fPs9Y?rel=0" frameborder="0" allowfullscreen></iframe>
          figcaption Film promocyjny o Gdańsku
    .tile--content#tile_5
      h2
        span Idea Dni w Diecezji
      section.content--text.content--text-w-center
        p.strong Formuła ogólnoświatowych spotkań ŚDM oczywiście ewoluowała w kolejnych latach. Obecnie spotkania międzynarodowe ŚDM przebiegają dwuetapowo: wpierw pielgrzymi przybywają do wszystkich diecezji kraju-gospodarza, gdzie przeżywają tzw. „Dni w Diecezjach”, a następnie udają się do miasta wyznaczonego na spotkanie z Papieżem i tam przez kolejne dni biorą udział w tzw. „Wydarzeniach Centralnych”.
        p Pielgrzymi ŚDM przybywają do wszystkich diecezji kraju-gospodarza, by tam poznawać historię, kulturę a także życie wspólnoty Kościoła lokalnego. Jest to bezcenny czas, wzajemnego poznawania się, ubogacania, zawierania cennych przyjaźni. Wypełniają go wspólne wycieczki, zabawy i zaangażowania w społeczne projekty przygotowane przez organizatorów. Plan według którego przebiegają spotkania w czasie tych dni, a także ich charakter jest odmienny każdej diecezji i zależny od jej specyfiki. Podczas spotkania w roku 2016 Dni w Diecezjach będą trwały od 20 do 25 lipca.
        p Krajowe Biuro Organizacyjne ŚDM zaproponowało, aby poszczególne polskie diecezje przybrały na ten czas konkretną nazwę biblijną, związaną z określonym miejscem lub wydarzeniem historio zbawczym.
        p Przyjęcie takiej koncepcji umożliwi przygotowanie jednej, spójnej linii programowej, a ponadto ułatwi młodym z różnych krajów świata zgłoszenie się do polskiej diecezji nie tylko według kryterium geograficznego, ale co ważniejsze – programowego, by wziąć udział w konkretnej inscenizacji biblijnej.
        p Diecezja, w której będziemy gościć młodzież kalasantyńską będzie nazywała się Kafarnaum.
        figure(style="position:relative;width:100%;padding-top:56.25%")
          img(src="/img/names_of_dioceses.png", style="position:absolute;top:0;left:0")
          figcaption Nazwy biblijne dla Diecezji
  script(type="text/javascript", src="/js/jquery.min.js")
  script(type="text/javascript", src="/js/nivo-lightbox.min.js")
  script.
    $(document).ready(function(){
        $('a.tile').nivoLightbox();
        $('.js-hide').css('display', 'none');
    });
