---
title: "Contatti"
description: "In caso doveste aver bisogno di contattarci personalmente o porre qualsiasi domanda,scrivete una mail a gmg@calasanz2016.com…"
body_class: "page--violet"
---

extends /layouts/it

block content
  h2
    span Contatti
  section.content--text.content--text-w-center
    p!= 'In caso doveste aver bisogno di contattarci personalmente o porre qualsiasi domanda,scrivete una mail a <a href="mailto:'+loc.contact_mail+'">'+loc.contact_mail+'</a>.'
    p Vi invitiamo ancora una volta a seguirci sulle nostre pagine web:
    ul
      li Facebook – <a href="https://www.facebook.com/pages/World-Youth-Day-2016-Calasanz/1563386310596737">Calasanz 2016 – World Youth Day</a>
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FCalasanz-2016-World-Youth-Day%2F1563386310596737&width&height=62&colorscheme=light&show_faces=false&header=false&stream=false&show_border=false&appId=160953877447478" frameborder="0" width="300" height="80"></iframe>
      li Youtube – <a href="https://www.youtube.com/channel/UC0sZy2upruPPYfRGX6ykw1Q">Calasanz2016</a>
      <script src="https://apis.google.com/js/platform.js"></script>
      <p><div class="g-ytsubscribe" data-channelid="UC0sZy2upruPPYfRGX6ykw1Q" data-layout="full" data-count="hidden"></div></p>
      li Twitter – <a href="http://twitter.com/Calasanz2016">@Calasanz2016</a>
      <p><a href="https://twitter.com/Calasanz2016" class="twitter-follow-button" data-show-count="false">Follow @Calasanz2016</a></p> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      li Instagram – <a href="http://instagram.com/calasanz2016">@calasanz2016</a>
      <style>.ig-b- { display: inline-block; }.ig-b- img { visibility: hidden; }.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
      <p><a href="http://instagram.com/calasanz2016?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a></p>
      li Google+ – <a href="https://plus.google.com/117562131475477776496" rel="publisher">Calasanz2016</a>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <p><div class="g-follow" data-annotation="none" data-height="24" data-href="https://plus.google.com/117562131475477776496" data-rel="publisher"></div></p>
    p Indirizzo della Commissione organizzatrice Calasanz2016:
      address <strong class="straight">Komitet Przygotowawczy ŚDM Kraków 2016 – CALASANZ2016</strong>
        br/
        |ul. Dzielskiego 1, 31-465 Kraków, Polska
        br/
        |e-mail: <a href="mailto:gmg@calasanz2016.com">gmg@calasanz2016.com</a>
        br/
        |<a href="http://calasanz2016.com">http://calasanz2016.com</a>