---
title: 'GMG Info'
description: "Cosa sono le giornate Mondiali della Gioventù? Le Giornate Mondiali della Gioventù sono degli incontri internazionali dei giovani da tutto il mondo, i quali, insime alle vostre guide spirituali, episcopali ed insieme al Papa si riuniscono in un unico posto, per esprimere il loro credo in Dio…"
body_class: 'page--blue'
---

extends /layouts/it

block content
  h2
    span GMG Info
  br/
  a.tile.tile--3-2.tile--mobile-ending(href="#tile_1", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_1_it.png")
    .tile--caption L’idea delle GMG
  a.tile.tile--2-2.tile--wide-ending(href="#tile_2", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_2_it.png")
    .tile--caption Il programma delle GMG
  a.tile.tile--1-1.tile--mobile-ending(href="#tile_3", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_3.png")
    .tile--caption Il logo delle GMG
  a.tile.tile--2-1.tile--mobile-ending(href="#tile_4", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_4.jpg")
    .tile--caption Scopri Cracovia
  a.tile.tile--2-1.tile--wide-ending.tile--mobile-ending(href="#tile_5", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_5.jpg")
    .tile--caption I Simboli delle GMG
  .tile--row.fs-0
    .tile--column.tile--column--1
      a.tile.tile--1-1(href="#tile_6", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_6.jpg")
        .tile--caption Il Messaggio di Francesco
      a.tile.tile--1-1.tile--mobile-ending(href="#tile_7", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_7.png")
        .tile--caption Il progetto L4
    .tile--column.tile--column--2
      a.tile.tile--2-2.tile--mobile-ending(href="#tile_8", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_8.jpg")
        .tile--caption L’inno della GMG
    .tile--column.tile--column--2
      a.tile.tile--2-1.tile--mobile-ending(href="#tile_9", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_9.jpg")
        .tile--caption Preghiera per le GMG
      a.tile.tile--2-1.tile--mobile-ending(href="#tile_10", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_10.png")
        .tile--caption Biglietto per il Fratello
  .js-hide
    .tile--content#tile_1
      h2
        span L’idea delle GMG
      section.content--text.content--text-w-center
        h3 Cosa sono le giornate Mondiali della Gioventù?
        p Le Giornate Mondiali della Gioventù sono degli incontri internazionali dei giovani da tutto il mondo, i quali, insime alle vostre guide spirituali, episcopali ed insieme al Papa si riuniscono in un unico posto, per esprimere il loro credo in Dio.
        h3 Chi è il fautore?
        p L’ideatore ed il primo organizzatore delle Giornate era il Santo Giovanni Paolo II, il quale ha radunato i giovani a Roma nei anni: 1984, 1985, 2000; a Buenos Aires nel 1987; a Santiago de Compostela nel 1989; a Parigi nel 1997 e a Toronto nel 2002.
        h3 GMG – il Papa e la Gioventù. Tutti insieme.
        p Dopo la morte di Papa Giovanni Paolo II, il prosecutore del magnifico dialogo tra la Chiesa e la Gioventù è diventato Papa Benedetto XVI, il quale ha tenuto un incontro a Colonia (2005),a Sydney (2008) e a Madrid (2011). Grazie al servizio del Papa Benedetto XVI, Cristo è sempre stato proclamato e adorato dai giovani di tutto il Mondo, e la Chiesa, a sua volta, ha potuto rivelare il proprio volto, giovane e radioso, così fondamentale nella  società al livello mondiale.
        p Nel Luglio del 2013 Papa Franceso ha incontrato la gioventù a Rio de Janeiro. Lui stesso ha anche annunciato che il prossimo incontro con la Gioventù si terrà nel 2016 a Cracovia, in Polonia.
        h3 L’istituzione delle Giornate Mondiali della Gioventù
        p Come data fondamentale per l’instituzione dell’Evento, si considera il 20 dicembre 1985, quando Giovanni Paolo II, durante la divisione dell’eucaristia con i Cardinali e i dipendenti della Curia, ha espresso la volontà perchè le Giornate Mondiali della Gioventù si svolgessero ogni anno, il giorno della Dimenica delle Palme e ogni 2 anni nei posti diversi nel mondo.
        h3 Comunità, formazione e gioia di credere
        p Lo scopo di questi giorni è di vivere insime un’esperienza dellala chiesa odierna, ascoltare le parole di Dio, partecipare ai Sacramenti  e gioiosamente annunciare le verità di Gesù Cristo come il Padre Salvatore.
        p.italic.align-right <a href="http://sdm.org.pl/index2.php?k=500">La fonte – sdm.org.pl</a>
    .tile--content#tile_2
      h2
        span Il programma delle GMG
      section.content--text.content--text-w-center
        p Dopo aver concluso i Giorni in Parrocchia, tutti si recano presso la Diocesi scelta dal Santo Padre come il centrale luogo di incontro, ossia Cracovia. La Gioventù si raduna lì per tutta la settimana. Il lunedì si raggiunge nel posto definito, il martedì si partecipa nella cerimonia di apertura, il mercoledì/giovedì e venerdì si partecipa nelle catechesis e nel festival dei giovani, il sabato è dedicato alla Veglia e l’appuntamento serale con il Santo Padre, la domenica si svolge la Santa Messa che conclude le Giornate Mondiali della Gioventù. L’eventi centrali sono accompagnati dai Luoghi d’Incontri Speciali, chiamati Luoghi di Conciliazione e Expo-Vocation.
        p Il programma delle Giornate Mondiali della Gioventù 2016 si possono scaricare come 
          a(href="/img/wyd_info_program_it.pdf") PDF
          |  o 
          a(href="/img/wyd_info_program_it.png") PNG
          |.
        figure
          div(style="width: 100%;padding-top:46.7%;position:relative")
            img(src="/img/wyd_info_program_it.png", alt="Il programma delle GMG", style="position:absolute;top:0;left:0", data-no-retina="true")
          figcaption Il programma delle GMG 2016
        p.italic.align-right <a href="http://sdm.org.pl/index2.php?k=500">La fonte – sdm.org.pl</a>
    .tile--content#tile_3
      h2
        span Il logo delle GMG
      section.content--text.content--text-w-center
        figure
          .content--image__1_1(style="padding-top:50%;position:relative;margin:0 auto")
            img(src="/img/official-wyd-logo.png", alt="Il logo delle GMG 2016", style="position:absolute;top:0;left:0", data-no-retina="true")
          figcaption Il logo delle GMG 2016
        p.strong Il Logo delle Giornate Mondiali della Gioventu Cracovia 2016 si ispira al motto e il tema principale scelto per l’incontro: “Benedetti misericordiosi perchè trovino misericordia” (Matteo 5,7).
        p Il Logo simboleggia tre elementi:
        h3 Luogo d’incontro
        p <strong>La Polonia</strong> – paese l’ospite dell’evento 2016. Il Logo è stato inserito simbolicamente nel contorno geografico della Polonia, tinto di rosso, colore scelto come uno dei colori della bandiera polacca. Polonia è anche la patria del Santo Giovanni Paolo II che è stato adoratore ed apostolo della Misericordia di Dio, nonchè l’ideatore delle Giornate Mondiali della Gioventù.In Polonia, infine, è nata la Santa Faustina, attraveso la quale Gesù a ricordato al modo il messaggio del Dio Misericordioso.
        p <strong>Cracovia </strong> – come città l’ospite, viene segnata nel logo con un cerchio giallo. E proprio qui che si trova il Santuario del Dio Misericordioso, luogo dei molteplici pellegrinaggi di Karol Wojtyla, dapprima l’operaio, poi il prete, il vescovo ed infine il cardinale.Ed è proprio da qui che è partito, nel lontano 1978, per il conclave a Roma. Diventato il Papa, ritornava nel Santuario durante tutte le Sue visite in Patria. Durante l’ultima di quelle, nel 2002 ha proclamato questo posto Il Centro Mondiale del culto di Dio Misericordioso.
        h3 Principali attori
        p <strong>Cristo</strong> – l’incontro con il Cristo è alla base ideologica dei tutti gli incontri Mondiali della Gioventù. Nel logo viene simbolegiato dalla Croce, l’elemento principale del disegno.
        p <strong>Gioventù</strong> – già nelle precedenti edizioni (a Parigi, Roma e Toronto) per il simbolo della Gioventù era veniva scelto il cerchio colorato. Lo è anche questa volta, per l’edizione di Cracovia 2016. Il cerchio giallo, sullo sfondo della croce, rappresenta non solo la posizione di Cracovia sulla mappa geografica della Polonia, ma anche la gioventù proveniente da tutto il mondo che incontra il Papa, sotto la croce.
        h3 Il tema dell’incontro
        p <strong>La Misericordia</strong> – il tema principale della XXXI edizione delle Giornate Mondiali della Gioventù è la Misericordia di Dio. Viene simboleggiata dalla scintilla, della quale accenna Santa Faustina nel suo Diario.
          blockquote “Quando pregavo per la Polonia ho udito queste parole “La Polonia o scelto, (...) là nascerà la scintilla che preparerà il mondo al mio arrivo.” (Diario 1732)
        p I raggi della scintilla visibili nel logo sono collegate con l’immagine di Gesù Misericordioso. In quell’immagine, da cuore di Gesù emanano due raggi - blu che significa l’acqua e rosso che rimanda al sangue. Così nel logo simboleggia la grazia, la benevolenza che abbraccia e riscalda i giovani di tutto il mondo.
        h3 Colori del logo 
        p I colori del logo della Giornata Mondiale della Gioventù 2016 – <span class="wyd-red">rosso</span>, <span class="wyd-blue">blu</span> e <span class="wyd-yellow">oro</span> – sono legati ai colori ufficiali di Cracovia e il suo stemma.
        p.italic.align-right <a href="http://www.krakow2016.com/ftp/OPIS_SZCZEGOLOWY_LOGO_SDM_KRAKOW_2016.pdf">La fonte – krakow2016.com</a>
    .tile--content#tile_4
      h2
        span Scopri Cracovia
      section.content--text.content--text-w-center
        figure
          div(style="width:100%;padding-top:56.25%;position:relative")
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_kjuG1sqO1w?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Videopromozione delle Giornate Mondiali della Gioventù 2016
        figure
          div(style="width:100%;padding-top:56.25%;position:relative")
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ph5PE7BO6qs?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Videopromozione della città di Cracovia
        p.strong Cracovia è la città millenaria, la vecchia sede dei Re e l’antica capitale del paese, che oggi risulta una importante metropoli europea. La parte antica della città è un’unica tesoreria delle opere d’arte, delle testimonianze storiche e degli edifici che rappresentano tutti i stili architettonici, dal medioevo a tempi moderni.
        p Da secoli il cuore della città era  il Mercato Centrale – ossia la più grande piazza dell’Europa medioevale, mantenuto nella sua forma originale dal 1257 ed inserito nella prima lista del Patrimonio Mondiale UNESCO, stilata nel 1978. Da 600 anni, ad ogni ora, in piazza risuona “hejnał” – l’inno effettuato dal trombettista dalla torre del Duomo verso i quatro punti cardinali del mondo. L’edificio centrale, invece – Sukiennice, ossia l’antio Mercarto, è unoi dei più rappresentaivi monumenti polacchi.
        p Cracovia è fiera di essere la sede della seconda (dopo quella di Praga) più antica Università del Europa Centrale – Università Jagellonica (dove studiavano tra tanti Copernicus e il Papa Giovanni Paolo II), nonchè la sede del Castello Reale nel colle di Wawel (l’inizi degli insediamenti risalgono alla metà del XI secolo). Oggi il Castello funge da museo, ofrendo 71 spazi espositivi all’interno, me attira anche grazie alla corte esterna, considerata la perla dell’architettura rinascimentale polacca.
        p Oltre ai monumenti della Città Vecchia, è interessanteil quartiere Kazimierz – luogo di secolare coesistenza della cultura cristiana ed ebraica. Oggi il quartiere custodisce non soltanto i numerosi monumenti dell’Ebraizmo,  ma anche l’attmosfera, unica nel suo genere, alimentata da eventi, mercatini e la vitalità dei numerosi locali con la musica dal vivo. Nei pressi di Cracovia si trova Nowa Huta – il quartiere operaio, simbolo del concettetto architettonico del socrealismo.
        p Cracovia è anche una città di cultura, nell’anno 2000 scelta come Capitale Culturale Europea. Annualmente ospita circa 100 festival ed eventi culturali di rilievo internazionale. E’ anche la sede dei moderni musei dove i visitatori sono atesi per un particolare incontro con la storia.
        p Senza dubbi Cracovia incanta con un’atmosfera irripetibile – a volte lenta, a volte ricca di eventi, ma sempre particolarmente affascinate e ispirante.
        p.italic.align-right <a href="http://krakow.pl/odwiedz_krakow/12117,artykul,miasto_krakow.html">La fonte – krakow.pl</a>
    .tile--content#tile_5
      h2
        span I Simboli delle Giornate Mondiali della Gioventù
      section.content--text.content--text-w-center
        p Gli incontri della Gioventù sono accompagnati da due simboli donati dal Papa Giovanni Paolo II, i quali sono <strong>La Croce delle Giornate Mondiali della Gioventù e L’immagine di Maria Salus Populi Romani</strong>. Sono anche i simboli che radunano ogni giorno miliaia di giovani uniti nella preghiera.
        figure(style="position:relative;width:100%;padding-top:80.15%")
          img(src="/img/wyd_symbols.jpg", alt="Símbolos de la JMJ", style="position:absolute;top:0;left:0", data-no-retina="true")
          figcaption Simboli della GMG 2016
        p Durante la Domenica delle Palme, il 13 aprile 2014, il Papa a consegnato alla delegazione della Gioventù polacca a Roma i suddetti simboli, i quali hanno comunciato il loro pellegrinaggio nelle diocesi polacche e dei paesi limitrofi.
        figure(style="position:relative;width:100%;padding-top:49.29%")
          img(src="/img/wyd_symbols_receiving.jpg", alt="Símbolos de la JMJ", style="position:absolute;top:0;left:0", data-no-retina="true")
          figcaption La delegazione del Scolopi che riceve i simboli in miniatura
    .tile--content#tile_6
      h2
        span Il Messaggio di Francesco
      section.content--text.content--text-w-center
        h3 GMG – incontri a tema 
        p Ogni edizione delle Giornate Mondiali della Gioventù richiede un’ accurata preparazione dal punto di vista dei temi, che spiritualmente uniscono i giovani nel gruppi linguistici. Il tema degli incontri annuali viene scelto dal Santo Padre e annunciato nel suo Messaggio. Nel corso delle Giornate Mondiali della Gioventù, questi temi vengono approfonditi durante gli incontri chiamati Triduum di Catechesi.
        // http://w2.vatican.va/content/francesco/pl/messages/youth/index.html
        h3 Il Testo del Messaggio
        p.italic «Beati i puri di cuore, perché vedranno Dio» (Mt 5, 8)
        h4 Cari giovani,
        p continuiamo il nostro pellegrinaggio spirituale verso Cracovia, dove nel luglio 2016 si terrà la prossima edizione internazionale della Giornata Mondiale della Gioventù. Come guida del nostro cammino abbiamo scelto le Beatitudini evangeliche. L’anno scorso abbiamo riflettuto sulla Beatitudine dei poveri in spirito, inserita nel contesto più ampio del “discorso della montagna”. Abbiamo scoperto insieme il significato rivoluzionario delle Beatitudini e il forte richiamo di Gesù a lanciarci con coraggio nell’avventura della ricerca della felicità. Quest’anno rifletteremo sulla sesta Beatitudine: «Beati i puri di cuore, perché vedranno Dio» (Mt 5,8).
        h4 1. Il desiderio della felicità
        p La parola beati, ossia felici, compare nove volte in questa che è la prima grande predica di Gesù (cfr Mt 5,1-12). È come un ritornello che ci ricorda la chiamata del Signore a percorrere insieme a Lui una strada che, nonostante tutte le sfide, è la via della vera felicità.
        p Sì, cari giovani, la ricerca della felicità è comune a tutte le persone di tutti i tempi e di tutte le età. Dio ha deposto nel cuore di ogni uomo e di ogni donna un desiderio irreprimibile di felicità, di pienezza. Non avvertite che i vostri cuori sono inquieti e in continua ricerca di un bene che possa saziare la loro sete d’infinito?
        p I primi capitoli del Libro della Genesi ci presentano la splendida beatitudine alla quale siamo chiamati e che consiste in comunione perfetta con Dio, con gli altri, con la natura, con noi stessi. Il libero accesso a Dio, alla sua intimità e visione era presente nel progetto di Dio per l’umanità dalle sue origini e faceva sì che la luce divina permeasse di verità e trasparenza tutte le relazioni umane. In questo stato di purezza originale non esistevano “maschere”, sotterfugi, motivi per nascondersi gli uni agli altri. Tutto era limpido e chiaro.
        p Quando l’uomo e la donna cedono alla tentazione e rompono la relazione di fiduciosa comunione con Dio, il peccato entra nella storia umana (cfr Gen 3). Le conseguenze si fanno subito notare anche nelle loro relazioni con sé stessi, l’uno con l’altro, con la natura. E sono drammatiche! La purezza delle origini è come inquinata. Da quel momento in poi l’accesso diretto alla presenza di Dio non è più possibile. Subentra la tendenza a nascondersi, l’uomo e la donna devono coprire la propria nudità. Privi della luce che proviene dalla visione del Signore, guardano la realtà che li circonda in modo distorto, miope. La “bussola” interiore che li guidava nella ricerca della felicità perde il suo punto di riferimento e i richiami del potere, del possesso e della brama del piacere a tutti i costi li portano nel baratro della tristezza e dell’angoscia.
        p Nei Salmi troviamo il grido che l’umanità rivolge a Dio dal profondo dell’anima: «Chi ci farà vedere il bene, se da noi, Signore, è fuggita la luce del tuo volto?» (Sal 4,7). Il Padre, nella sua infinita bontà, risponde a questa supplica inviando il suo Figlio. In Gesù, Dio assume un volto umano. Con la sua incarnazione, vita, morte e risurrezione Egli ci redime dal peccato e ci apre orizzonti nuovi, finora impensabili.
        p E così, in Cristo, cari giovani, si trova il pieno compimento dei vostri sogni di bontà e felicità. Lui solo può soddisfare le vostre attese tante volte deluse dalle false promesse mondane. Come disse san Giovanni Paolo II: «è Lui la bellezza che tanto vi attrae; è Lui che vi provoca con quella sete di radicalità che non vi permette di adattarvi al compromesso; è Lui che vi spinge a deporre le maschere che rendono falsa la vita; è Lui che vi legge nel cuore le decisioni più vere che altri vorrebbero soffocare. E’ Gesù che suscita in voi il desiderio di fare della vostra vita qualcosa di grande» (Veglia di preghiera a Tor Vergata, 19 agosto 2000: Insegnamenti XXIII/2, [2000], 212).
        h4 2. Beati i puri di cuore…
        p Adesso cerchiamo di approfondire come questa beatitudine passi attraverso la purezza del cuore. Prima di tutto dobbiamo capire il significato biblico della parola cuore. Per la cultura ebraica il cuore è il centro dei sentimenti, dei pensieri e delle intenzioni della persona umana. Se la Bibbia ci insegna che Dio non vede le apparenze, ma il cuore (cfr 1 Sam 16,7), possiamo dire anche che è a partire dal nostro cuore che possiamo vedere Dio. Questo perché il cuore riassume l’essere umano nella sua totalità e unità di corpo e anima, nella sua capacità di amare ed essere amato.
        p Per quanto riguarda invece la definizione di “puro”, la parola greca utilizzata dall’evangelista Matteo è katharos e significa fondamentalmente pulito, limpido, libero da sostanze contaminanti. Nel Vangelo vediamo Gesù scardinare una certa concezione della purezza rituale legata all’esteriorità, che vietava ogni contatto con cose e persone (tra cui i lebbrosi e gli stranieri), considerati impuri. Ai farisei che, come tanti giudei di quel tempo, non mangiavano senza aver fatto le abluzioni e osservavano numerose tradizioni legate al lavaggio di oggetti, Gesù dice in modo categorico: «Non c’è nulla fuori dell’uomo che, entrando in lui, possa renderlo impuro. Ma sono le cose che escono dall’uomo a renderlo impuro. Dal di dentro infatti, cioè dal cuore degli uomini, escono i propositi di male: impurità, furti, omicidi, adultèri, avidità, malvagità, inganno, dissolutezza, invidia, calunnia, superbia, stoltezza» (Mc 7,15.21-22).
        p In che consiste dunque la felicità che scaturisce da un cuore puro? A partire dall’elenco dei mali che rendono l’uomo impuro, enumerati da Gesù, vediamo che la questione tocca soprattutto il campo delle nostre relazioni. Ognuno di noi deve imparare a discernere ciò che può “inquinare” il suo cuore, formarsi una coscienza retta e sensibile, capace di «discernere la volontà di Dio, ciò che è buono, a lui gradito e perfetto» (Rm 12,2). Se è necessaria una sana attenzione per la custodia del creato, per la purezza dell’aria, dell’acqua e del cibo, tanto più dobbiamo custodire la purezza di ciò che abbiamo di più prezioso: i nostri cuori e le nostre relazioni. Questa “ecologia umana” ci aiuterà a respirare l’aria pura che proviene dalle cose belle, dall’amore vero, dalla santità.
        p Una volta vi ho posto la domanda: Dov’è il vostro tesoro? Su quale tesoro riposa il vostro cuore? (cfr Intervista con alcuni giovani del Belgio, 31 marzo 2014). Sì, i nostri cuori possono attaccarsi a veri o falsi tesori, possono trovare un riposo autentico oppure addormentarsi, diventando pigri e intorpiditi. Il bene più prezioso che possiamo avere nella vita è la nostra relazione con Dio. Ne siete convinti? Siete consapevoli del valore inestimabile che avete agli occhi di Dio? Sapete di essere amati e accolti da Lui in modo incondizionato, così come siete? Quando questa percezione viene meno, l’essere umano diventa un enigma incomprensibile, perché proprio il sapere di essere amati da Dio incondizionatamente dà senso alla nostra vita. Ricordate il colloquio di Gesù con il giovane ricco (cfr Mc 10,17-22)? L’evangelista Marco nota che il Signore fissò lo sguardo su di lui e lo amò (cfr v. 21), invitandolo poi a seguirlo per trovare il vero tesoro. Vi auguro, cari giovani, che questo sguardo di Cristo, pieno di amore, vi accompagni per tutta la vostra vita.
        p Il periodo della giovinezza è quello in cui sboccia la grande ricchezza affettiva presente nei vostri cuori, il desiderio profondo di un amore vero, bello e grande. Quanta forza c’è in questa capacità di amare ed essere amati! Non permettete che questo valore prezioso sia falsato, distrutto o deturpato. Questo succede quando nelle nostre relazioni subentra la strumentalizzazione del prossimo per i propri fini egoistici, talvolta come puro oggetto di piacere. Il cuore rimane ferito e triste in seguito a queste esperienze negative. Vi prego: non abbiate paura di un amore vero, quello che ci insegna Gesù e che san Paolo delinea così: «La carità è magnanima, benevola è la carità; non è invidiosa, non si vanta, non si gonfia d’orgoglio, non manca di rispetto, non cerca il proprio interesse, non si adira, non tiene conto del male ricevuto, non gode dell'ingiustizia ma si rallegra della verità. Tutto scusa, tutto crede, tutto spera, tutto sopporta. La carità non avrà mai fine» (1 Cor 13, 4-8).
        p Nell’invitarvi a riscoprire la bellezza della vocazione umana all’amore, vi esorto anche a ribellarvi contro la diffusa tendenza a banalizzare l’amore, soprattutto quando si cerca di ridurlo solamente all’aspetto sessuale, svincolandolo così dalle sue essenziali caratteristiche di bellezza, comunione, fedeltà e responsabilità. Cari giovani, «nella cultura del provvisorio, del relativo, molti predicano che l’importante è “godere” il momento, che non vale la pena di impegnarsi per tutta la vita, di fare scelte definitive, “per sempre”, perché non si sa cosa riserva il domani. Io, invece, vi chiedo di essere rivoluzionari, vi chiedo di andare controcorrente; sì, in questo vi chiedo di ribellarvi a questa cultura del provvisorio, che, in fondo, crede che voi non siate in grado di assumervi responsabilità, crede che voi non siate capaci di amare veramente. Io ho fiducia in voi giovani e prego per voi. Abbiate il coraggio di andare controcorrente. E abbiate il coraggio anche di essere felici» (Incontro con i volontari alla GMG di Rio, 28 luglio 2013).
        p Voi giovani siete dei bravi esploratori! Se vi lanciate alla scoperta del ricco insegnamento della Chiesa in questo campo, scoprirete che il cristianesimo non consiste in una serie di divieti che soffocano i nostri desideri di felicità, ma in un progetto di vita capace di affascinare i nostri cuori!
        h4 3. …perché vedranno Dio
        p Nel cuore di ogni uomo e di ogni donna risuona continuamente l’invito del Signore: «Cercate il mio volto!» (Sal 27,8). Allo stesso tempo ci dobbiamo sempre confrontare con la nostra povera condizione di peccatori. E’ quanto leggiamo per esempio nel Libro dei Salmi: «Chi potrà salire il monte del Signore? Chi potrà stare nel suo luogo santo? Chi ha mani innocenti e cuore puro» (Sal 24,3-4). Ma non dobbiamo avere paura né scoraggiarci: nella Bibbia e nella storia di ognuno di noi vediamo che è sempre Dio che fa il primo passo. E’ Lui che ci purifica affinché possiamo essere ammessi alla sua presenza.
        p Il profeta Isaia, quando ricevette la chiamata del Signore a parlare nel suo nome, si spaventò e disse: «Ohimè! Io sono perduto, perché un uomo dalle labbra impure io sono» (Is 6,5). Eppure il Signore lo purificò, inviandogli un angelo che toccò la sua bocca e gli disse: «E’ scomparsa la tua colpa e il tuo peccato è espiato» (v. 7). Nel Nuovo Testamento, quando sul lago di Gennèsaret Gesù chiamò i suoi primi discepoli e compì il prodigio della pesca miracolosa, Simon Pietro cadde ai suoi piedi dicendo: «Signore, allontanati da me, perché sono un peccatore» (Lc 5,8). La risposta non si fece aspettare: «Non temere; d’ora in poi sarai pescatore di uomini» (v. 10). E quando uno dei discepoli di Gesù gli chiese: «Signore, mostraci il Padre e ci basta», il Maestro rispose: «Chi ha visto me, ha visto il Padre» (Gv 14,8-9).
        p L’invito del Signore a incontrarlo è rivolto perciò ad ognuno di voi, in qualsiasi luogo e situazione si trovi. Basta «prendere la decisione di lasciarsi incontrare da Lui, di cercarlo ogni giorno senza sosta. Non c’è motivo per cui qualcuno possa pensare che questo invito non è per lui» (Esort. ap. Evangelii gaudium, 3). Siamo tutti peccatori, bisognosi di essere purificati dal Signore. Ma basta fare un piccolo passo verso Gesù per scoprire che Lui ci aspetta sempre con le braccia aperte, in particolare nel Sacramento della Riconciliazione, occasione privilegiata di incontro con la misericordia divina che purifica e ricrea i nostri cuori.
        p Sì, cari giovani, il Signore vuole incontrarci, lasciarsi “vedere” da noi. “E come?” – mi potrete domandare. Anche santa Teresa d’Avila, nata in Spagna proprio 500 anni fa, già da piccola diceva ai suoi genitori: «Voglio vedere Dio». Poi ha scoperto la via della preghiera come «un intimo rapporto di amicizia con Colui dal quale ci sentiamo amati» (Libro della vita, 8, 5). Per questo vi domando: voi pregate? Sapete che potete parlare con Gesù, con il Padre, con lo Spirito Santo, come si parla con un amico? E non un amico qualsiasi, ma il vostro migliore e più fidato amico! Provate a farlo, con semplicità. Scoprirete quello che un contadino di Ars diceva al santo Curato del suo paese: quando sono in preghiera davanti al Tabernacolo, «io lo guardo e lui mi guarda» (Catechismo della Chiesa Cattolica, 2715).
        p Ancora una volta vi invito a incontrare il Signore leggendo frequentemente la Sacra Scrittura. Se non avete ancora l’abitudine, iniziate dai Vangeli. Leggete ogni giorno un brano. Lasciate che la Parola di Dio parli ai vostri cuori, illumini i vostri passi (cfr Sal 119,105). Scoprirete che si può “vedere” Dio anche nel volto dei fratelli, specialmente quelli più dimenticati: i poveri, gli affamati, gli assetati, gli stranieri, gli ammalati, i carcerati (cfr Mt 25,31-46). Ne avete mai fatto esperienza? Cari giovani, per entrare nella logica del Regno di Dio bisogna riconoscersi poveri con i poveri. Un cuore puro è necessariamente anche un cuore spogliato, che sa abbassarsi e condividere la propria vita con i più bisognosi.
        p L’incontro con Dio nella preghiera, attraverso la lettura della Bibbia e nella vita fraterna vi aiuterà a conoscere meglio il Signore e voi stessi. Come accadde ai discepoli di Emmaus (cfr Lc 24,13-35), la voce di Gesù farà ardere i vostri cuori e si apriranno i vostri occhi per riconoscere la sua presenza nella vostra storia, scoprendo così il progetto d’amore che Lui ha per la vostra vita.
        p Alcuni di voi sentono o sentiranno la chiamata del Signore al matrimonio, a formare una famiglia. Molti oggi pensano che questa vocazione sia “fuori moda”, ma non è vero! Proprio per questo motivo, l’intera Comunità ecclesiale sta vivendo un periodo speciale di riflessione sulla vocazione e la missione della famiglia nella Chiesa e nel mondo contemporaneo. Inoltre, vi invito a considerare la chiamata alla vita consacrata o al sacerdozio. Quanto è bello vedere giovani che abbracciano la vocazione di donarsi pienamente a Cristo e al servizio della sua Chiesa! Interrogatevi con animo puro e non abbiate paura di quello che Dio vi chiede! A partire dal vostro “sì” alla chiamata del Signore diventerete nuovi semi di speranza nella Chiesa e nella società. Non dimenticate: la volontà di Dio è la nostra felicità!
        h4 4. In cammino verso Cracovia
        p «Beati i puri di cuore, perché vedranno Dio» (Mt 5,8). Cari giovani, come vedete, questa Beatitudine tocca molto da vicino la vostra esistenza ed è una garanzia della vostra felicità. Perciò vi ripeto ancora una volta: abbiate il coraggio di essere felici!
        p La Giornata Mondiale della Gioventù di quest’anno conduce all’ultima tappa del cammino di preparazione verso il prossimo grande appuntamento mondiale dei giovani a Cracovia, nel 2016. Proprio trent’anni fa san Giovanni Paolo II istituì nella Chiesa le Giornate Mondiali della Gioventù. Questo pellegrinaggio giovanile attraverso i continenti sotto la guida del Successore di Pietro è stata veramente un’iniziativa provvidenziale e profetica. Ringraziamo insieme il Signore per i preziosi frutti che essa ha portato nella vita di tanti giovani in tutto il pianeta! Quante scoperte importanti, soprattutto quella di Cristo Via, Verità e Vita, e della Chiesa come una grande e accogliente famiglia! Quanti cambiamenti di vita, quante scelte vocazionali sono scaturiti da questi raduni! Il santo Pontefice, Patrono delle GMG, interceda per il nostro pellegrinaggio verso la sua Cracovia. E lo sguardo materno della Beata Vergine Maria, la piena di grazia, tutta bella e tutta pura, ci accompagni in questo cammino.
        p.italic Dal Vaticano, 31 gennaio 2015
          br/
          | Memoria di san Giovanni Bosco
        p.strong FRANCESCO
        p.italic.align-right <a href="http://www.krakow2016.com/pl/aktualnosci,pokaz,229,oredzie-papieza-franciszka-do-mlodych-na-xxx-swiatowe-dni-mlodziezy-w-2015-roku">La fonte – krakow2016.com</a>
    .tile--content#tile_7
      h2
        span Il progetto L4
      section.content--text.content--text-w-center
        p.strong Il progetto riguarda i malati. Vorremmo in questo modo imitare Giovanni Paolo II: quando doveva affrontare un pellegrinaggio faticoso, un'attività difficile o semplicemente una grande opera, chiedeva ai malati di pregare per lui. Così, preparandoci alla GMG, vogliamo agire nello stesso modo.
        p La Giornata Mondiale della Gioventù non è solo una grande impresa, un’organizzazione a livello internazionale, ma anche un evento che ha un enorme e profondo significato per il destino di tante persone, per la loro preghiera, e per questo esige e richiede sostegno spirituale da parte di tutti i membri della Chiesa. Prendendo in considerazione il messaggio della GMG di Cracovia, e cioè la benedizione dei misericordiosi, desideriamo annunciare insieme la Misericordia con le parole e le opere.
        p Vorremmo che i manifesti riguardanti il progetto L4 arrivassero nelle parrocchie, nelle congregazioni, negli ospedali, nelle cliniche, nelle case di cura e a tutti coloro che si trovano nelle proprie case. I malati di ogni età riceveranno delle lettere con la richiesta di preghiera e offerte di intenzioni per la GMG. E chiediamo proprio ai giovani di portarli in giro (i manifesti) e diffonderli - i giovani volontari, i giovani impegnati nelle parrocchie e nelle comunità. Speriamo che questa organizzazione porti alla nascita e allo sviluppo di gruppi di giovani che si prendano cura costantemente dei malati. Le lettere contengono anche le preghiere per i malati e le testimonianze delle persone che hanno sperimentato la sofferenza nella loro vita, ma non si sono arrese di fronte ai dubbi.
        p Inoltre, in ogni lettera si trova una dichiarazione, che i malati possono compilare e mandare all'ufficio della GMG. In tal modo i nomi di tutti coloro che partecipano al progetto si troveranno nel cosiddetto Libro delle Preghiere, che consegneremo al Santo Padre durante la GMG.
        p Le altre lettere che fanno parte del progetto L4 saranno pubblicate periodicamente sulla pagina ufficiale della GMG.
        h4 La preghiera dei malati
        p.italic Amato Salvatore del mondo, con i cieli e la terra, lodo il Tuo cuore divino che si è lasciato trafiggere dalla lancia del soldato, affinché tutto il mondo venisse purificato con il sangue della Redenzione. In questa fonte di Amore immergo i giovani di tutto il mondo, ragazzi e ragazze, che si stanno preparando alla Giornata Mondiale della Gioventù. Ti offro, Signore, ognuno di loro, affinché il tempo trascorso con il Santo Padre divenga il soffio del Tuo Spirito, il seme della Tua Grazia e Bontà. Fa’ in modo che le loro menti siano aperte alla verità, i loro cuori al Tuo Amore presente nella Parola, nei sacramenti e nella comunità. E perché l'opera che hai iniziato in loro si diffonda e si espanda. Per loro, Signore, ti offro la mia quotidiana croce di sofferenza, dolore e solitudine. Rendici uniti tutti nel Tuo Amore. Tu che vivi e regni e ami nei secoli dei secoli. Amen.
        p.italic.align-right <a href="http://www.krakow2016.com/it/l4-it">La fonte – krakow2016.com</a>
    .tile--content#tile_8
      h2
        span L’inno della GMG
      section.content--text.content--text-w-center
        figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/eZRsoPmeZXk?rel=0" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0"></iframe>
          figcaption L’inno ufficiale delle Giornate Mondiali della Gioventù a Cracovia 2016
        //figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Wr0_x6mc0d8?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Himno oficial de la JMJ Cracovia 2016 en español
        .content--wrapper
          //.content--lyrics
            h3 Letra
            p Levanto mis ojos a los montes
              br/
              |quién me ayudara,
              br/
              |la ayuda me viene del Señor,
              br/
              |por Su gran compasión.
            p Aun cuando estamos en el error
              br/
              |nos abraza con Su amor
              br/
              |Con Su sangre nuestro dolor
              br/
              |Al fin se sanará.
            p.strong Bienaventurados los misericordiosos,
              br/
              |porque ellos alcanzarán misericordia.
            p Si no perdonamos, ¿quién ganará?
              br/
              |¿quién puede sostenerse en pie?
              br/
              |Si El nos perdona, nosotros también
              br/
              |hagamos como nuestro Dios!
            p En la cruz el nos redimió
              br/
              |de la tumba resucitó.
              br/
              |¡Jesucristo es el Señor!
              br/
              |¡Al mundo hay que anunciar!
            p [BRIDGE]
            p Hay que soltar el miedo y ser fiel,
              br/
              |con la mirada en Su amor
              br/
              |confiar porque Él resucitó
              br/
              |Vive el Señor!
          //.content--lyrics
          h3 Scarica
          p
            a(href="http://www.krakow2016.com/media/files/page_attachments/B%C5%82ogos%C5%82awieni%20Mi%C5%82osierni_prymka.pdf") Traccia melodica (PDF)
          p
            a(href="http://www.krakow2016.com/media/files/page_attachments/hymn%20Blogoslawieni.mp3") Plicco con la registrazione (MP3)
          p
            a(href="http://www.krakow2016.com/media/files/page_attachments/hymn%20Blogoslawieni.wav") Plicco con la registrazione (WAV)
        h3 La Storia dell’Inno
        // http://sdmrzeszow.pl/bez-kategorii-en/blessed-are-the-merciful-the-official-hymn-of-xxxi-wyd-krakow-2016/
        p L’autore e compositore dell’inno, Jakub Blycharz, non appena annunciato il verdetto che lo ha nominato il vincitore, ha detto nell’intervista che l’ispirazione l’ha trovata direttamente delle parole di Dio contenute nel Testamento. Leggendo il 31-simo capitolo del Libro del Deuteronimo, ha trovato L’inno come il Testimone che cita le seguenti parole: “Scriviti questo inno, insegnagli gli Israeliti afinchè possa diventare per me un testimone”.
        p L’origine e la canva dell’inno sono strettamente legate alle parole del Testamento, elaborate e poeticamente parafrasate. L’Inizio non è altro che le parole  del Psalm 121 (120), che ci riempie di pace e di certezza che il Dio misericordioso ci protegge e ci accompagna “adesso e per sempre”. Già nella prima strofa- nel mezzo del testo citato dal Vecchio Testamento – il Dio viene chiamato misericordioso.
        p Nella seconda strofa vi troviamo delle tracce della parabola della pecorella smarrita, dal Vangelo di Luca (15,1–7) che ci riempie di speranza nel costante prova di Dio di ricuperare l’uomo e condurlo nella Vita Piena. Nella parabola Gesù afferma la gioia che regna nel cielo dopo la conversione di ogni peccatore. Attraverso la Sua morte sulla Croce ci ha dato l’accesso alla vita nuova - ha inserito l’umanità nell’eterno progetto di salvezza, grazie al Suo sangue versato.
        p Il ritornello e basato sulla quinta benedizione tratta dai sermoni del Vangelo di Matteo (Mt 5,3–10): “Benedetti misericordiosi perchè troveranno misericodia”.
        p Questo è sia il motto delle Giornate Mondiali della Gioventù che si svolgeranno a Cracovia nel 2016 che il messaggio di Santa Faustyna Kowalska.
        p La terza  strofa è costruita parafrasando il Salmo 130 De Profundis “Se mantieni il riccordo dei peccati, Signore/ Signore chi rimarrà?/ Ma sei tu che dai il perdono/ affinchè tu sia servito con timore”. L’esempio di Dio nei nostri confronti è per noi un’ispirazione per adottare gli atteggiamenti di misericordia nei rapporti umani.
        p La strofa successiva è rimanda ai punti cardinali del kerygma, cioè i punti fondamentali del Vangelo, i quali rimandano alla redenzione in Cristo crocifisso, sepolto e risorto e alla fede in Gesù Cristo come Il Salvatore.
        p.italic.align-right <a href="http://www.krakow2016.com/pl/aktualnosci,pokaz,199,premiera-hymnu-xxxi-sdm-krakow-2016-odbyla-sie">La fonte – krakow2016.com</a>
    .tile--content#tile_9
      h2
        span Preghiera per le GMG
      section.content--text.content--text-w-center
        :markdown
          “Dio, Padre misericordioso<br />
          che hai rilevato il tuo amore nel tuo Figlio Gesù Cristo<br /> 
          e lo hai versato su di noi nello Spirito Santo,<br />
          Consolatore,<br />
          in Te abbiamo posto il destino del mondo e di ciascuno di noi”.<br />
          Poniamo alla tua custodia i giovani<br />
          di tutte le nazioni e di tutte le lingue.<br />
          Conducili protetti attraverso i percorsi tortuosi del mondo moderno<br />
          e donali la misericordia del fruttuoso percorso<br />
          durante le Giornate Mondiali della Gioventù a Cracovia.”

          Padre celeste,<br />
          rendici i testimoni della Tua Misericordia,<br />
          insegnaci di portare la fede ai dubitosi,<br />
          la speranza ai rassegnati,<br />
          l’amore ai distaccati,<br />
          il perdono ai colpevoli e la gioia ai tristi.<br />
          Che la scintilla dell’amore misericordioso,<br />
          la quale hai acceso in noi,<br />
          diventi il fuoco che cambia il cuore umano<br />
          e rinnova l’immagine della terra.

          Maria, Madre Misericordiosa, prega per noi.<br />
          Santo Padre Giovanni Paolo II, prega per noi.
        p.italic.align-right <a href="http://www.krakow2016.com/media/files/page_attachments/Modlitwa%20SDM/ORACIÓN%20JMJ%20CRACOVIA%202016.pdf">La fonte – krakow2016.com</a>
    .tile--content#tile_10
      h2
        span Biglietto per il Fratello
      section.content--text.content--text-w-center
        p.strong “Biglietto per il fratello” è un progetto volto ad aiutare i pellegrini dell’Est europeo, iniziato dai volontari polacchi dopo la fine della GMG Rio 2013. L’obiettivo è raccogliere fondi per fare in modo che i giovani dell’Est possano partecipare alla Giornata Mondiale della Gioventù in Polonia nel 2016.
        p.strong Da dove proviene l’idea?
        p Il progetto Biglietto per il fratello è sorto in seguito a due esperienze. La prima è stata l’ospitalità straordinaria con cui noi, pellegrini, siamo stati accolti in Brasile. Sorpresi dall’affetto dimostrato dalle famiglie brasiliane, desideriamo contraccambiare con tutto il cuore e aiutare chi, a causa di problemi economici, è impossibilitato a partecipare alla GMG.
        p L’idea è nata anche in seguito alla VI GMG a Czestochowa. Molti giovani dell’Est Europeo hanno preso parte all’incontro, dando testimonianze toccanti. Preparando la prossima Giornata Mondiale della Gioventù in Polonia desideriamo in modo particolare ricordare i nostri fratelli dell’Est. Per molti di loro l’incontro sarà il primo evento cattolico di portata internazionale al quale avranno modo di partecipare. Se non verranno in Polonia, sarà ancora più difficile e dispendioso per loro partecipare alla GMG successiva.
        p.strong Chi aiutiamo?
        p In particolare i giovani dell’Est Europeo. Gruppi di pellegrini provenienti da 13 paesi dell’Est Europeo e dal Transcaucaso, che si sono iscritti ufficialmente alla Giornata Mondiale della Gioventù 2016. Nel progetto sono inclusi i seguenti paesi: Armenia, Azerbaijan, Bielorussia, Georgia, Kazakistan, Lituania, Moldavia, Russia, Tagikistan, Turkmenistan, Ucraina, Uzbekistan.
        p Desideriamo inoltre aiutare tutti coloro che, anche con un semplice gesto, desiderino essere “co-creatori” della GMG 2016. Tutti possono far parte del progetto Biglietto per il fratello: giovani, famiglie, comunità, artisti, imprese.
        p.strong Cosa offriamo?
        p Vorremmo finanziare il pacchetto pellegrino dei giovani dell’Est, ovvero l’insieme dei benefici che ogni partecipante alla GMG acquista per essere presente in totale sicurezza all’incontro.
        p A chi si prepara alla GMG presentiamo iniziative utili per conoscere l’idea e la storia della GMG, e anche per usare in modo creativo i propri talenti. Invitiamo a creare e comprare oggetti, a partecipare alle attività culturali, sportive, a instaurare rapporti con i giovani dell’Est e a farsi coinvolgere in molte altre forme d’impegno.
        p A chiunque desideri far parte della GMG 2016 auguriamo che, attraverso opere di misericordia, quali l’appoggio ai giovani dell’Europa orientale, accolga personalmente l’invito di Gesù espresso dal tema della Giornata Mondiale della Gioventù: “Beati i misericordiosi, perché troveranno misericordia” (Mt 5,7).
        p Per sostenere il progetto Biglietto per il Fratello, è sufficiente versare un pagamento al seguente conto bancario:
        p <strong>Krajowe Biuro Organizacyjne ŚDM</strong><br />Bank Zachodni WBK, 2 Oddział w Siedlcach<br />51 1500 1663 1216 6009 9321 0000
        p <strong>Ulteriori informazioni disponibili alle pagine:</strong> <a href="http://www.biletdlabrata.pl">www.biletdlabrata.pl</a>