---
title: "Sottoscritto!"
---

extends /layouts/it

block content
  h2
    span Sottoscritto!
  section.content--text.content--text-w-center
    h3 Grazie!
    p Adesso che è iscritto, ogni volta un evento importante sarà pubblicato, riceverà tutte le informazioni per email.
    p
      a(href="/it/") Pagina iniziale…