---
title: "Contact us"
---

extends layout

block content
  h2
    span Contact us
  :markdown
    Should you need to contact us personally or ask any questions, fire off an e-mail to <a href="mailto:wyd@scolopi.net">wyd@scolopi.net</a> or visit our Facebook page <a href="https://www.facebook.com/pages/World-Youth-Day-2016-Calasanz/1563386310596737">World Youth Day 2016 – Calasanz</a>.