---
title: "Contact us"
---

extends layout

block content
  h2
    span Contact us
  section
    :markdown
      Should you need to contact us personally or ask any questions, fire off an e-mail to <a href="mailto:wyd@scolopi.net">wyd@scolopi.net</a>.

      Also, there are many ways to keep up with all the news about Calasantian part of World Youth Days in 2016:

      - Facebook – <a href="https://www.facebook.com/pages/World-Youth-Day-2016-Calasanz/1563386310596737">Calasanz 2016 – World Youth Day</a>
      - Youtube – <a href="https://www.youtube.com/channel/UC0sZy2upruPPYfRGX6ykw1Q">Calasanz2016</a>
      - Twitter – <a href="http://twitter.com/Calasanz2016">@Calasanz2016</a>
      - Instagram – <a href="http://instagram.com/calasanz2016">@calasanz2016</a>
      - Google+ – <a href="https://plus.google.com/117562131475477776496" rel="publisher">Calasanz2016</a>