---
title: 'WYD Info'
---

extends layout

block content
  h2
    span WYD Info

  .media
    figure.wyd-logo
      img(src="img/official-wyd-logo.png")
      figcaption Official WYD Logo
    h3 Logo explanation
    p The red outline of the logo is the outline of the country hosting WYD 2016 – Poland. The yellow dot is placed exactly over Cracow, the city where the main celebrations will be held. The dot also represents youth. The cross symbolizes Jesus Christ and the flames emerging from Cracow represent God's Mercy.
  hr/
  h3 Official hymn of the World Youth Day
  <iframe width="560" height="315" src="https://www.youtube.com/embed/eZRsoPmeZXk?rel=0" frameborder="0" allowfullscreen></iframe>