---
title: 'Hymn ŚDM'
description: "Symbolika loga – Czerwona linia w tle loga to obrys Polski, kraju w którym odbędzie się ten Światowy Dzień Młodzieży. Żółta kropka została umieszczona dokładnie nad Krakowem, miastem…"
body_class: 'page--blue'
---

extends /layouts/pl

block content
  h2
    span Hymn ŚDM
  .content--text.content--text-w-center
    figure
      <iframe width="560" height="315" src="http://www.youtube.com/embed/eZRsoPmeZXk?rel=0" frameborder="0" allowfullscreen></iframe>
    .content--lyrics
      h4 Polski
      p Wznoszę swe oczy ku górom
        br/
        |skąd przyjdzie mi pomoc,
        br/
        |pomoc od Pana, wszak Bogiem On
        br/
        |Miłosiernym jest!
      p Kiedy zbłądzimy Sam szuka nas,
        br/
        |by w swe ramiona wziąć,
        br/
        |rany uleczyć Krwią Swoich Ran,
        br/
        |nowe życie tchnąć!
        br/
        | 
      p.strong Błogosławieni miłosierni,
        br/
        |Albowiem oni miłosierdzia dostąpią!
      p Gdyby nam Pan nie odpuścił win,
        br/
        |Któż ostać by się mógł?
        br/
        |Lecz On przebacza, przeto i my
        br/
        |Czyńmy jak nasz Bóg!
      p Pan Syna Krwią zmazał wszelki dług,
        br/
        |Syn z grobu żywy wstał,
        br/
        |„Panem jest Jezus!” – mówi w nas Duch,
        br/
        |niech to widzi świat!
        br/
        | 
      p [PRZEJŚCIE]
      p Więc odrzuć lęk i wiernym bądź,
        br/
        |swe troski w Panu złóż,
        br/
        |i ufaj, bo zmartwychwstał i wciąż
        br/
        |żyje Pan, Twój Bóg!