---
title: "In Cracow"
description: "We invite you to our common celebration of the Calasantian Day in Cracow on July 27th 2016. On this day the Calasantian Youth from all over the world shall meet from 15:00 to 22:00."
body_class: 'page--yellow'
---

extends /layouts/en

block content
  h2
    span In Cracow
  .content--wrapper
    .content--65
      figure
        img(src="/img/youth_festival.jpg", data-no-retina="true")
    .content--35
      h1 Youth Festival
  section.content--text.content--text-w-center
    p In addition to calasantian Days in Diocese we are preparing <strong>one and only</strong> meeting during Central Celebrations in Kraków. We would like to invite all the Calasantian Youth gathered in Kraków during WYD 2016 to <strong>Calasantian Town</strong> on July 27th 2016 for a beautiful Holy Mass, great deal of fun, breathtaking concerts and common experience of this Calasantian Day as one big community. Special guests will include Our Father of the Piarist Order along with Monastic Superiors of all the Orders created with inspiration of St. Joseph Calasanz.
    p
      strong Time: 
      | July 27<sup>th</sup>, 2016, 15:00 – 22:00
    p
      strong Place: 
      | Cracow “Wieczysta” – Calasantian Town (Sports Club “Wieczysta” and the Parish of Our Lady of the Gate of Dawn, 20 Meissner's Street).
    p
      strong Program: 
      | common Eucharist, Calasantian Youth Festival (concerts, testimonials, pantomimes), christian games and dances.
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2560.5862246684765!2d19.978588404229736!3d50.075310300899574!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x70570a68f023f9e2!2zS2_Fm2Npw7PFgiBNQiBPc3Ryb2JyYW1za2llag!5e0!3m2!1spl!2spl!4v1423588538126" frameborder="0" style="border:0" class="content--map"></iframe>
    figure
      img(src="/img/rio2.jpg", data-no-retina="true")
      figcaption Calasantian Day during WYD in Rio
    p <strong>Note:</strong> in Cracow we shall meet only this once as a whole Calasantian group. Apart from this event we take part in official World Youth Day program (catechesises, vigils and the Holy Mass with the Pope). The Calasantian Day will be held in Sports Club “Wieczysta” facilities.
    p.italic
      a(href=loc._days_in_diocese_in_bolszewo+".html").pull-right Days in Diocese in Bolszewo &raquo;