---
title: "Days in Diocese"
description: "Dni w Diecezji podczas Światowego Dnia Młodzieży 2016 to czas, podczas którego młodzi ludzie z całego świata są goszczeni w Polskich diecezjach. Chcielibyśmy zaprosić kalasantyńską młodzież do spędzenia Dni w Diecezjach w pijarskiej Parafii w Bolszewie."
body_class: 'page--yellow'
---

extends /layouts/en

block content
  h2
    span In Diocese
  br/
  a.tile.tile--3-2.tile--mobile-ending(href="#tile_1", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_1@2x.png")
    .tile--caption Calasanz 2016 in Bolszewo
  a.tile.tile--2-2.tile--wide-ending(href="#tile_2", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_2@2x.jpg")
    .tile--caption Days in Diocese program
  a.tile.tile--1-1.tile--mobile-ending(href="#tile_3", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_3@2x.png")
    .tile--caption How to get to Bolszewo?
  a.tile.tile--2-1.tile--mobile-ending(href="#tile_4", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_4@2x.jpg")
    .tile--caption Discover region
  a.tile.tile--2-1.tile--wide-ending(href="#tile_5", data-lightbox-type="inline")
    .tile--image
      img(src="/img/in_diocese_tile_5@2x.jpg")
    .tile--caption Days in Diocese concept
  .js-hide
    .tile--content#tile_1
      h2
        span Calasanz 2016 in Bolszewo
      section.content--text.content--text-w-center
        p The <strong>Days in Diocese</strong> during World Youth Days 2016 is a time, when young people from all over the world are hosted in all Polish dioceses. This stage <strong>begins on 20<sup>th</sup> July and ends on 25<sup>th</sup> July</strong> 2016. We would like to invite calasantian youth to spend Days in Diocese in <a href="http://www.bolszewo.pijarzy.pl">Piarist Parish in Bolszewo</a> (Archdiocese of Gdańsk).
        p <strong>Bolszewo</strong> is a town located in north Poland, beautiful region of Kashubia. It's very conveniently located: not far away is the Baltic Sea and one of the most marvelous cities in the world – Gdańsk. Bolszewo is also very close to Wejherowo and Gdynia, appealing cities connected with tradition and Christianity.
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d147844.13645111403!2d18.17318635!3d54.62046894999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fdb84dc14cfb71%3A0x3d01e0f67a21708f!2sBolszewo!5e0!3m2!1spl!2spl!4v1423584367424" frameborder="0" style="border:0" class="content--map"></iframe>
        p The main place of our meeting in Bolszewo will be <strong>the Parish of The Assumption of the Blessed Virgin Mary</strong>, where Piarists work. The youth will be hosted by families living in the parish.
        figure(style="position:relative;width:100%;padding-top:37.33%")
          img(src="/img/bolszewo.jpg", style="position:absolute;top:0;left:0")
          figcaption The church in Bolszewo
        p During Days in Diocese (also called the Missionary Week) we want to organize for the calasantian youth <strong>special events, which will help in getting to know each other</strong>. We will also take part in Diocese's program.
    .tile--content#tile_2
      h2
        span Days in Diocese program
      section.content--text.content--text-w-center
        p Overview plan:
        ul
          li July 20<sup>th</sup> – The day of arrival
          li July 21<sup>th</sup> – The day of exploring the region
          li July 22<sup>th</sup> – The day of exploring the region
          li July 23<sup>th</sup> – The day of group meetings hosted in diocese (Gdańsk)
            ul
              li Litany of Nations
              li Mass of Sending Forth
              li Youth Festival
          li July 24<sup>th</sup> – The day in parish
          li July 25<sup>th</sup> – The day of sending to Cracow
    .tile--content#tile_3
      h2
        span How to get to Bolszewo?
      section.content--text.content--text-w-center
        p Bolszewo is a town situated near the Baltic Sea coast and the city of Trójmiasto (agglomeration of three cities: Gdańsk, Gdynia and Sopot). It is located in the heart of the Kashubian, only 5 km from Wejherowo – the bigger city which is well connected with Gdańsk, where the airport is located (GDN). It is possible to reach Wejhorowo by the train as well.
        p Wejherowo is connected with Trójmiasto by “Szybka Kolej Miejska” (SKM, <em>Quick Town Rail</em>) and with Gdańsk and Sopot by bypass road (obwodnica trójmiejska, <em>bypass road</em>).
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d147844.13645111403!2d18.17318635!3d54.62046894999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fdb84dc14cfb71%3A0x3d01e0f67a21708f!2sBolszewo!5e0!3m2!1spl!2spl!4v1423584367424" frameborder="0" style="border:0" class="content--map"></iframe>
        figure(style="position:relative;width:100%;padding-top:98.5%")
          img(src="/img/bolszewo_map.jpg", alt="Bolszewo map", style="position:absolute;top:0;left:0")
          figcaption Access map of Bolszewo and surroundings
    .tile--content#tile_4
      h2
        span Discover region
      section.content--text.content--text-w-center
        p This tile hasn't been translated yet… We're sorry, check back soon!
    .tile--content#tile_5
      h2
        span Days in Diocese concept
      section.content--text.content--text-w-center
        p.strong WYD meeting formula has obviously developed in the succeeding years. Currently, WYD runs in two stages: at first pilgrims come to the all of dioceses of the host country, where they experience so-called “Days in the Dioceses”. After that they go to the city designated for the meeting with the Pope, where they participate in the “Central Events”.
        p WYD pilgrims come to all the dioceses of the host country, where they learn about its history, culture and the life of the  community of the local Church. It is a priceless time, when participants of the meeting can get to know each other and make valuable contacts and relationships. This week is filled with plenty of great tours, fun and engagement in the social projects prepared by the organizers. Plan according to which the meeting takes place as well as its nature is different in each of the dioceses and depends on their specific features. During WYD in 2016 “Days in the Dioceses” will last from 20 to 25 July.
  script(type="text/javascript", src="/js/jquery.min.js")
  script(type="text/javascript", src="/js/nivo-lightbox.min.js")
  script.
    $(document).ready(function(){
        $('a.tile').nivoLightbox();
        $('.js-hide').css('display', 'none');
    });
