---
title: "Subscribed!"
---

extends /layouts/en

block content
  h2
    span Subscribed!
  section.content--text.content--text-w-center
    h3 Thank you!
    p You have been subscribed and every time an important information is published, we will send it to you via e-mail!
    p
      a(href="/en/") Take me to homepage.