---
title: "Our program"
description: "We would like to experience the World Youth Days as a Calasanz group, gathering all the youth related to St. Joseph Calasanz, Piarist ministries and the Calasantian Family Community."
body_class: 'page--yellow'
---

extends /layouts/en

block content
  h2
    span Our program
  section.content--text.content--text-w-center
    p We would like to experience the World Youth Days as a <strong>Calasanz group</strong>, gathering all the youth related to St. Joseph Calasanz, Piarist ministries and the Calasantian Family Community. We want to continue the tradition of calasantian youth's meetings, which had been held during previous World Youth Days in Madrit and Rio de Janeiro.
    p This is why we are preparing a <strong>special program for you</strong>, for which we invite you already. Our proposal consists of two stages:
    ul
      li July 20<sup>th</sup> – 25<sup>th</sup>, 2016 — 
        a(href=loc._program+"/"+loc._days_in_diocese_in_bolszewo+".html")
          strong Days in Diocese
          |  in Bolszewo
        |  (Archdiocese of Gdańsk)
      li July 27<sup>th</sup> 2016 — 
        a(href=loc._program+"/"+loc._calasantian_day_in_cracow+".html")
          strong Calasantian Day
          |  in Cracow
