---
title: 'WYD Info'
description: "Symbolika loga – Czerwona linia w tle loga to obrys Polski, kraju w którym odbędzie się ten Światowy Dzień Młodzieży. Żółta kropka została umieszczona dokładnie nad Krakowem, miastem…"
body_class: 'page--blue'
---

extends /layouts/pl

block content
  h2
    span WYD Info
  br/
  a.tile.tile--3-2.tile--mobile-ending(href="#tile_1", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_1_pl@2x.png")
    .tile--caption World Youth Days concept
  a.tile.tile--2-2.tile--wide-ending(href="#tile_2", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_2_pl@2x.png")
    .tile--caption WYD program
  a.tile.tile--1-1.tile--mobile-ending(href="#tile_3", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_3@2x.png")
    .tile--caption WYD logo
  a.tile.tile--2-1.tile--mobile-ending(href="#tile_4", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_4@2x.jpg")
    .tile--caption Discover Cracow
  a.tile.tile--2-1.tile--wide-ending.tile--mobile-ending(href="#tile_5", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_5@2x.jpg")
    .tile--caption WYD symbols
  .tile--row.fs-0
    .tile--column.tile--column--1
      a.tile.tile--1-1(href="#tile_6", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_6@2x.jpg")
        .tile--caption Francis’s Message
      a.tile.tile--1-1.tile--mobile-ending(href="#tile_7", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_7@2x.png")
        .tile--caption L4 program
    .tile--column.tile--column--2
      a.tile.tile--2-2.tile--mobile-ending(href="#tile_8", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_8@2x.jpg")
        .tile--caption Hymn of WYD
    .tile--column.tile--column--2
      a.tile.tile--2-1.tile--mobile-ending(href="#tile_9", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_9@2x.jpg")
        .tile--caption Prayer for WYD
      a.tile.tile--2-1.tile--mobile-ending(href="#tile_10", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_10@2x.png")
        .tile--caption Ticket for a Brother
  .js-hide
    .tile--content#tile_1
      h2
        span Idea ŚDM
      section.content--text.content--text-w-center
        h3 Czym są Światowe Dni Młodzieży?
        p Światowe Dni Młodzieży to międzynarodowe spotkania młodych całego świata, którzy razem ze swoimi katechetami, duszpasterzami, biskupami i papieżem gromadzą się w jednym miejscu, by wyznać wiarę w Jezusa Chrystusa.
        h3 Kto jest ich autorem?
        p Pomysłodawcą i pierwszym gospodarzem tych Dni był święty Jan Paweł II, który zgromadził młodych w Rzymie (1984, 1985, 2000), Buenos Aires (1987), Santiago de Compostela (1989), Częstochowie (1991), Denver (1993), Manili (1995), Paryżu (1997) i Toronto (2002).
        h3 ŚDM – Papież i Młodzi. Razem.
        p Po śmierci Jana Pawła II kontynuatorem pięknego dialogu Kościoła z młodymi i wielkim orędownikiem Światowych Dni Młodzieży stał się papież Benedykt XVI, który przewodniczył kolejno spotkaniom w Kolonii (2005), Sydney (2008) i Madrycie (2011). Dzięki posłudze Benedykta XVI Chrystus był ciągle głoszony i adorowany przez młodych całego świata, a Kościół mógł dostrzegać swoje młode i radosne oblicze tak bardzo potrzebne współczesnemu światu.
        p W lipcu 2013 r. (Rio de Janeiro) z młodzieżą spotkał się papież Franciszek. On także ogłosił, że następne spotkanie młodych odbędzie się w 2016 roku w Krakowie, w Polsce.
        h3 Ustanowienie ŚDM
        p Jako datę ustanowienia Światowych Dni Młodzieży przyjmuje się dzień 20 grudnia 1985 r., kiedy to Jan Paweł II na spotkaniu opłatkowym, wobec Kardynałów i Pracowników Kurii Rzymskiej, wyraził pragnienie, by Światowe Dni Młodzieży odbywały się co roku w Niedzielę Palmową jako spotkanie diecezjalne, a co dwa lub trzy lata w wyznaczonym przez niego miejscu jako spotkanie międzynarodowe.
        h3 Wspólnota, formacja i radość wiary
        p Celem organizowanych Dni jest przeżycie wielkiej wspólnoty Kościoła Powszechnego, słuchanie słowa Bożego, sprawowanie sakramentów Pokuty i Eucharystii oraz radosne głoszenie Jezusa Chrystusa jako Pana i Zbawiciela.
        p.italic.align-right <a href="http://sdm.org.pl/index2.php?k=500">Źródło – sdm.org.pl</a>
    .tile--content#tile_2
      h2
        span Program ŚDM
      section.content--text.content--text-w-center
        p Po zakończeniu „Dni w Diecezjach”, wszyscy udają się do diecezji, którą Ojciec Święty wyznaczył jako miejsce przeżywania wydarzeń centralnych (jest to Kraków). Młodzież gromadzi się tam na okres całego tygodnia. W poniedziałek przyjeżdża w dane miejsce, we wtorek uczestniczy w ceremonii otwarcia, w środę, czwartek i piątek bierze udział w katechezach i festiwalu młodych, w sobotę pielgrzymuje na miejsce czuwania i uczestniczy w wieczornym spotkaniu z Papieżem, a w niedzielę bierze udział w uroczystej Mszy św. kończącej dany ŚDM. Wydarzeniom centralnym towarzyszą specjalne strefy spotkań, zwane Strefą Pojednania oraz Expo-vocation.
        p Program Światowego Dnia Młodzieży w Krakowie w 2016 roku można pobrać jako 
          a(href="/img/wyd_info_program_pl.pdf") PDF
          |  lub 
          a(href="/img/wyd_info_program_pl.png") PNG
          |.
        figure
          div(style="width: 100%;padding-top:46.7%;position:relative")
            img(src="/img/wyd_info_program_pl.png", alt="Program ŚDM", style="position:absolute;top:0;left:0")
          figcaption Program ŚDM 2016
        p.italic.align-right <a href="http://sdm.org.pl/index2.php?k=500">Źródło – sdm.org.pl</a>
    .tile--content#tile_3
      h2
        span Logo of WYD
      section.content--text.content--text-w-center
        figure
          .content--image__1_1(style="padding-top:50%;position:relative;margin:0 auto")
            img(src="/img/official-wyd-logo.png", alt="Oficjalne Logo Światowego Dnia Młodzieży 2016 w Krakowie", style="position:absolute;top:0;left:0")
          figcaption Program ŚDM 2016
        p.strong Logo XXXI Światowego Dnia Młodzieży Kraków 2016 jest ilustracją słów „Błogosławieni miłosierni, albowiem oni miłosierdzia dostąpią” (Mt 5,7), które zostały wybrane na temat przewodni spotkania.
        p Symbolika logotypu łączy w sobie trzy elementy:
        h3 Miejsce spotkania
        p <strong>Polska</strong> – gospodarzem spotkania młodych w 2016 roku jest Polska. Logo zostało wpisane w czerwony kontur Polski (czerwień jest jedną z barw narodowych). Polska to ojczyzna św. Jana Pawła II, gorliwego czciciela i apostoła Bożego Miłosierdzia, inicjatora ŚDM. Tutaj także przyszła na świat św. Siostra Faustyna, przez którą Pan Jezus przypomniał światu orędzie o Bożym Miłosierdziu.
        p <strong>Kraków</strong> – w konturach Polski, w formie żółtego koła, zaznaczono Kraków. To tutaj znajduje się Sanktuarium Bożego Miłosierdzia, do którego od lat młodości pielgrzymował Karol Wojtyła – robotnik, potem ksiądz, biskup i kardynał. Stąd wyruszył on w 1978 roku do Rzymu na konklawe. Jako Jan Paweł II powracał tu podczas wszystkich pielgrzymek do Ojczyzny. W ostatniej z nich, w 2002 roku nazwał to miejsce światowym centrum kultu Bożego Miłosierdzia i tutaj zawierzył świat miłosiernej miłości Boga.
        h3 Główni bohaterowie
        p <strong>Chrystus</strong> – istotą każdego Światowego Dnia Młodzieży jest spotkanie z Chrystusem. Symbolizuje Go krzyż, który stanowi jeden z głównych elementów logo.
        p <strong>Młodzież</strong> – parokrotnie podczas wcześniejszych edycji ŚDM (m.in. w Paryżu, Rzymie i Toronto) symbolem młodzieży w logotypie było kolorowe koło. Podobnie jest w przypadku logo ŚDM Kraków 2016. Żółte koło wpisane w krzyż oznacza więc nie tylko położenie Krakowa na mapie Polski, ale także młodzież całego świata, która zgromadzi się tutaj razem z papieżem Franciszkiem u stóp krzyża.
        h3 Temat spotkania
        p <strong>Miłosierdzie</strong> – głównym tematem XXXI ŚDM jest Boże Miłosierdzie. Jego symbolem jest iskra, o której wspomina św. Faustyna w swoim Dzienniczku:
          blockquote „Gdy modliłam się za Polskę, usłyszałam te słowa: «Polskę szczególnie umiłowałem, […] z niej wyjdzie iskra, która przygotuje świat na ostateczne przyjście moje.»” [Dz. 1732]
        p Promienie iskry widoczne w logotypie nawiązują do znanego obrazu Jezusa Miłosiernego. Z serca Jezusa w tym wizerunku wychodzą dwa promienie: niebieski, który oznacza wodę i czerwony, symbolizujący krew. Podobnie i w logo symbolizują one łaskę, która obejmuje i rozgrzewa młodych z całego świata.
        h3 Barwy logo
        p Kolorystyka logo ŚDM 2016 – <span class="wyd-red">czerwony</span>, <span class="wyd-blue">niebieski</span> i <span class="wyd-yellow">żółty</span> – nawiązuje do oficjalnych barw miasta Krakowa i jego herbu.
        p.italic.align-right <a href="http://www.krakow2016.com/ftp/OPIS_SZCZEGOLOWY_LOGO_SDM_KRAKOW_2016.pdf">Źródło – krakow2016.com</a>
    .tile--content#tile_4
      h2
        span Poznaj Kraków
      section.content--text.content--text-w-center
        figure
          div(style="width:100%;padding-top:56.25%;position:relative")
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_kjuG1sqO1w?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Filmik promujący Światowy Dzień Młodzieży 2016
        figure
          div(style="width:100%;padding-top:56.25%;position:relative")
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ph5PE7BO6qs?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Filmik promujący Kraków
        p.strong Kraków to miasto o tysiącletniej tradycji, dawna siedziba polskich królów i stolica kraju, a dzisiaj ważna europejska metropolia. Krakowskie Stare Miasto jest wyjątkową skarbnicą dzieł sztuki, pamiątek historycznych i zabytkowych obiektów reprezentujących niemal wszystkie style architektoniczne od średniowiecza po współczesność.
        p Sercem miasta od setek lat pozostaje Rynek Główny− największy plac miejski średniowiecznej Europy, zachowany w niezmienionym kształcie od 1257 roku i wpisany na  pierwszą listę Światowego Dziedzictwa UNESCO w roku 1978. Od 600 lat, z wieży Bazyliki Mariackiej, co godzinę, rozlega się też hejnał grany na cztery strony świata. Natomiast stojące pośrodku rynku Sukiennice– średniowieczna hala targowa – są jednym z najlepiej rozpoznawalnych polskich zabytków.
        p Kraków może się również poszczycić drugą (po uniwersytecie praskim) najstarszą w Europie Środkowej uczelnią wyższą – Uniwersytetem Jagiellońskim (studiowali tu m.in.: Mikołaj Kopernik i papież Jan Paweł II) oraz Zamkiem Królewskim na Wawelu − początki rezydencji polskich władców na wzgórzu wawelskim sięgają połowy XI w. Obecnie zamek pełni funkcje muzealne − udostępniając aż 71 sal wystawowych, kryjących m.in. unikatowe zabytki sztuki odrodzenia. Zachwyt wzbudza arkadowy dziedziniec zamku − perła renesansowej architektury.
        p Poza zabytkami Starego Miasta niezmiennie intryguje Kazimierz − miejsce wielowiekowego współistnienia dwóch kultur – chrześcijańskiej i żydowskiej. Przestrzeń wypełniona zabytkami judaizmu o światowym znaczeniu, ale przede wszystkim obszar tętniący życiem − gdzie odbywają się targi staroci i dzieł sztuki, a w klimatycznych knajpkach, restauracjach i pubach pobrzmiewa muzyka na żywo. Monumentalnością  i niezwykłą symetrią wciąż zaskakuje Nowa Huta − najciekawsza i najpełniejsza realizacja zamierzeń architektów epoki socrealizmu.
        p Kraków to również miasto tętniące życiem kulturalnym, w 2000 r. wybrane na Europejską Stolicę Kultury. Rocznie odbywa się tutaj blisko 100 festiwali i innych wydarzeń kulturalnych o międzynarodowej renomie. To także miasto nowoczesnych muzeów, w których zwiedzający mogą stanąć oko w oko z historią.
        p Bez wątpienia Kraków urzeka niepowtarzalną atmosferą − chwilami leniwą, chwilami pełną wydarzeń, ale zawsze wyjątkową i inspirującą.
        p.italic.align-right <a href="http://krakow.pl/odwiedz_krakow/12117,artykul,miasto_krakow.html">Źródło – krakow.pl</a>
    .tile--content#tile_5
      h2
        span Symbole ŚDM
      section.content--text.content--text-w-center
        p Spotkaniom towarzyszą dwa szczególne znaki podarowane przez Jana Pawła II, którymi są <strong>Krzyż Światowych Dni Młodzieży oraz Ikona Matki Bożej Salus Populi Romani</strong>. Znaki te nie tylko są z młodymi podczas ŚDM, ale non-stop krążą po świecie, gromadząc na modlitwie i adoracji setki, a nawet tysiące młodych każdego dnia.
        figure(style="position:relative;width:100%;padding-top:80.15%")
          img(src="/img/wyd_symbols.jpg", alt="Symbole ŚDM", style="position:absolute;top:0;left:0")
          figcaption Symbole Światowego Dnia Młodzieży Kraków 2016
        p W Niedzielę Palmową, 13 kwietnia 2014 r., znaki te Ojciec Święty przekazał w Rzymie polskiej młodzieży i rozpoczęła się peregrynacja Krzyża ŚDM i Ikony MB po polskich diecezjach oraz kilkunastu krajach Europy Wschodniej.
        figure(style="position:relative;width:100%;padding-top:49.29%")
          img(src="/img/wyd_symbols_receiving.jpg", alt="Symbole ŚDM", style="position:absolute;top:0;left:0")
          figcaption Pijarskie reprezentacje odbierające miniaturowe symbole ŚDM w Krakowie
    .tile--content#tile_6
      h2
        span Francis’s Message
      section.content--text.content--text-w-center
        h3 WYD – meetings on purpose
        p Every World Youth Day requires thorough preparation on the message which will be the topic of meetings in language groups throughout Days. The topic of every year’s meeting describes the Pope in <strong>the Message</strong>. During WYD celebrations these texts are explored on Cathesises.
        // http://w2.vatican.va/content/francesco/pl/messages/youth/index.html
        h3 Message for WYD 2015
        p.italic Blessed are the pure in heart, for they shall see God (Mt 5: 8)
        h4 Dear Young Friends,
        p We continue our spiritual pilgrimage toward Krakow, where in July 2016 the next international World Youth Day will be held. As our guide for the journey we have chosen the Beatitudes. Last year we reflected on the beatitude of the poor in spirit, within the greater context of the Sermon on the Mount. Together we discovered the revolutionary meaning of the Beatitudes and the powerful summons of Jesus to embark courageously upon the exciting quest for happiness. This year we will reflect on the sixth beatitude: “Blessed are the pure in heart, for they shall see God” (Mt 5:8).
        h4 1. The desire for happiness
        p The word “blessed”, or “happy”, occurs nine times in this, Jesus’ first great sermon (cf. Mt 5:1-12). It is like a refrain reminding us of the Lord’s call to advance together with him on a road which, for all its many challenges, leads to true happiness.
        p Dear young friends, this search for happiness is shared by people of all times and all ages. God has placed in the heart of every man and woman an irrepressible desire for happiness, for fulfillment. Have you not noticed that your hearts are restless, always searching for a treasure which can satisfy their thirst for the infinite?
        p The first chapters of the Book of Genesis show us the splendid “beatitude” to which we are called. It consists in perfect communion with God, with others, with nature, and with ourselves. To approach God freely, to see him and to be close to him, was part of his plan for us from the beginning; his divine light was meant to illumine every human relationship with truth and transparency. In the state of original purity, there was no need to put on masks, to engage in ploys or to attempt to conceal ourselves from one another. Everything was clear and pure.
        p When Adam and Eve yielded to temptation and broke off this relationship of trusting communion with God, sin entered into human history (cf. Gen 3). The effects were immediately evident, within themselves, in their relationship with each other and with nature. And how dramatic the effects are! Our original purity as defiled. From that time on, we were no longer capable of closeness to God. Men and women began to conceal themselves, to cover their nakedness. Lacking the light which comes from seeing the Lord, they saw everything around them in a distorted fashion, myopically. The inner compass which had guided them in their quest for happiness lost its point of reference, and the attractions of power, wealth, possessions, and a desire for pleasure at all costs, led them to the abyss of sorrow and anguish.
        p In the Psalms we hear the heartfelt plea which mankind makes to God: “What can bring us happiness? Let the light of your face shine on us, O Lord” (Ps 4:7). The Father, in his infinite goodness, responded to this plea by sending his Son. In Jesus, God has taken on a human face. Through his Incarnation, life, death and resurrection, Jesus frees us from sin and opens new and hitherto unimaginable horizons.
        p Dear young men and women, in Christ you find fulfilled your every desire for goodness and happiness. He alone can satisfy your deepest longings, which are so often clouded by deceptive worldly promises. As Saint John Paul II said: “He is the beauty to which you are so attracted; it is he who provokes you with that thirst for fullness that will not let you settle for compromise; it is he who urges you to shed the masks of a false life; it is he who reads in your hearts your most genuine choices, the choices that others try to stifle. It is Jesus who stirs in you the desire to do something great with your lives” (cf. Discourse at the Prayer Vigil at Tor Vergata, 19 August 2000: Insegnamenti XXIII/2, [2000], 212).
        h4 2. Blessed are the pure in heart…
        p Let us now try to understand more fully how this blessedness comes about through purity of heart. First of all, we need to appreciate the biblical meaning of the word heart. In Hebrew thought, the heart is the centre of the emotions, thoughts and intentions of the human person. Since the Bible teaches us that God does not look to appearances, but to the heart (cf. 1 Sam 16:7), we can also say that it is from the heart that we see God. This is because the heart is really the human being in his or her totality as a unity of body and soul, in his or her ability to love and to be loved.
        p As for the definition of the word pure, however, the Greek word used by the evangelist Matthew is katharos, which basically means clean, pure, undefiled. In the Gospel we see Jesus reject a certain conception of ritual purity bound to exterior practices, one which forbade all contact with things and people (including lepers and strangers) considered impure. To the Pharisees who, like so many Jews of their time, ate nothing without first performing ritual ablutions and observing the many traditions associated with cleansing vessels, Jesus responds categorically: “There is nothing outside a man which by going into him can defile him; but the things which come out of a man are what defile him. For from within, out of the heart of man, come evil thoughts, fornication, theft, murder, adultery, coveting, wickedness, deceit, licentiousness, envy, slander, pride, foolishness” (Mk 7:15, 21-22).
        p In what, then, does the happiness born of a pure heart consist? From Jesus’ list of the evils which make someone impure, we see that the question has to do above all with the area of our relationships. Each one of us must learn to discern what can “defile” his or her heart and to form his or her conscience rightly and sensibly, so as to be capable of “discerning the will of God, what is good and acceptable and perfect” (Rom 12:2). We need to show a healthy concern for creation, for the purity of our air, water and food, but how much more do we need to protect the purity of what is most precious of all: our heart and our relationships. This “human ecology” will help us to breathe the pure air that comes from beauty, from true love, and from holiness.
        p Once I asked you the question: “Where is your treasure? In what does your heart find its rest?” (cf. Interview with Young People from Belgium, 31 March 2014). Our hearts can be attached to true or false treasures, they can find genuine rest or they can simply slumber, becoming lazy and lethargic. The greatest good we can have in life is our relationship with God. Are you convinced of this? Do you realize how much you are worth in the eyes of God? Do you know that you are loved and welcomed by him unconditionally, as indeed you are? Once we lose our sense of this, we human beings become an incomprehensible enigma, for it is the knowledge that we are loved unconditionally by God which gives meaning to our lives. Do you remember the conversation that Jesus had with the rich young man (cf. Mk 10:17-22)? The evangelist Mark observes that the Lord looked upon him and loved him (v. 21), and invited him to follow him and thus to find true riches. I hope, dear young friends, that this loving gaze of Christ will accompany each of you throughout life.
        p Youth is a time of life when your desire for a love which is genuine, beautiful and expansive begins to blossom in your hearts. How powerful is this ability to love and to be loved! Do not let this precious treasure be debased, destroyed or spoiled. That is what happens when we start to use our neighbours for our own selfish ends, even as objects of pleasure. Hearts are broken and sadness follows upon these negative experiences. I urge you: Do not be afraid of true love, the love that Jesus teaches us and which Saint Paul describes as “patient and kind”. Paul says: “Love is not jealous or boastful; it is not arrogant or rude. Love does not insist on its own way; it is not irritable or resentful; it does not rejoice at wrong, but rejoices in the right. Love bears all things, believes all things, hopes all things, endures all things” (1 Cor 13:4-8).
        p In encouraging you to rediscover the beauty of the human vocation to love, I also urge you to rebel against the widespread tendency to reduce love to something banal, reducing it to its sexual aspect alone, deprived of its essential characteristics of beauty, communion, fidelity and responsibility. Dear young friends, “in a culture of relativism and the ephemeral, many preach the importance of ‘enjoying’ the moment. They say that it is not worth making a life-long commitment, making a definitive decision, ‘for ever’, because we do not know what tomorrow will bring. I ask you, instead, to be revolutionaries, I ask you to swim against the tide; yes, I am asking you to rebel against this culture that sees everything as temporary and that ultimately believes you are incapable of responsibility, that believes you are incapable of true love. I have confidence in you and I pray for you. Have the courage to ‘swim against the tide’. And also have the courage to be happy” (Meeting with the Volunteers of the XXVIII Word Youth Day, 28 July 2013).
        p You young people are brave adventurers! If you allow yourselves to discover the rich teachings of the Church on love, you will discover that Christianity does not consist of a series of prohibitions which stifle our desire for happiness, but rather a project for life capable of captivating our hearts.
        h4 3. …for they shall see God
        p In the heart of each man and woman, the Lord’s invitation constantly resounds: “Seek my face!” (Ps 27:8). At the same time, we must always realize that we are poor sinners. For example, we read in the Book of Psalms: “Who can climb the mountain of the Lord? Who shall stand in his holy place? The one who has clean hands and a pure heart” (Ps 24:3-4). But we must never be afraid or discouraged: throughout the Bible and in the history of each one of us we see that it is always God who takes the first step. He purifies us so that we can come into his presence.
        p When the prophet Isaiah heard the Lord’s call to speak in his name, he was terrified and said: “Woe is me! For I am lost; for I am a man of unclean lips” (Is 6:5). And yet the Lord purified him, sending to him an angel who touched his lips, saying: “Your guilt is taken away, and your sin is forgiven” (v. 7). In the New Testament, when on the shores of lake Genessaret Jesus called his first disciples and performed the sign of the miraculous catch of fish, Simon Peter fell at his feet, exclaiming: “Depart from me, for I am a sinful man, O Lord” (Lk 5:8). Jesus’ reply was immediate: “Do not be afraid; henceforth you will be fishers of men” (v. 10). And when one of the disciples of Jesus asked him: “Lord, show us the Father, and we shall be satisfied”, the Master replied: “He who has seen me has seen the Father (Jn 14:8-9).
        p The Lord’s invitation to encounter him is made to each of you, in whatever place or situation you find yourself. It suffices to have the desire for “a renewed personal encounter with Jesus Christ, or at least an openness to letting him encounter you; I ask all of you to do this unfailingly each day” (cf. Evangelii Gaudium, 3). We are all sinners, needing to be purified by the Lord. But it is enough to take a small step towards Jesus to realize that he awaits us always with open arms, particularly in the sacrament of Reconciliation, a privileged opportunity to encounter that divine mercy which purifies us and renews our hearts.
        p Dear young people, the Lord wants to meet us, to let himself “be seen” by us. “And how?”, you might ask me. Saint Teresa of Avila, born in Spain five hundred years ago, even as a young girl, said to her parents, “I want to see God”. She subsequently discovered the way of prayer as “an intimate friendship with the One who makes us feel loved” (Autobiography, 8,5). So my question to you is this: “Are you praying?” Do you know that you can speak with Jesus, with the Father, with the Holy Spirit, as you speak to a friend? And not just any friend, but the greatest and most trusted of your friends! You will discover what one of his parishioners told the Curé of Ars: “When I pray before the tabernacle, ‘I look at him, and he looks at me’” (Catechism of the Catholic Church, 2715).
        p Once again I invite you to encounter the Lord by frequently reading sacred Scripture. If you are not already in the habit of doing so, begin with the Gospels. Read a line or two each day. Let God’s word speak to your heart and enlighten your path (cf. Ps 119:105). You will discover that God can be “seen” also in the face of your brothers and sisters, especially those who are most forgotten: the poor, the hungry, those who thirst, strangers, the sick, those imprisoned (cf. Mt 25:31-46). Have you ever had this experience? Dear young people, in order to enter into the logic of the Kingdom of Heaven, we must recognize that we are poor with the poor. A pure heart is necessarily one which has been stripped bare, a heart that knows how to bend down and share its life with those most in need.
        p Encountering God in prayer, the reading of the Bible and in the fraternal life will help you better to know the Lord and yourselves. Like the disciples on the way to Emmaus (cf. Lk 24:13-35), the Lord’s voice will make your hearts burn within you. He will open your eyes to recognize his presence and to discover the loving plan he has for your life.
        p Some of you feel, or will soon feel, the Lord’s call to married life, to forming a family. Many people today think that this vocation is “outdated”, but that is not true! For this very reason, the ecclesial community has been engaged in a special period of reflection on the vocation and the mission of the family in the Church and the contemporary world. I also ask you to consider whether you are being called to the consecrated life or the priesthood. How beautiful it is to see young people who embrace the call to dedicate themselves fully to Christ and to the service of his Church! Challenge yourselves, and with a pure heart do not be afraid of what God is asking of you! From your “yes” to the Lord’s call, you will become new seeds of hope in the Church and in society. Never forget: God’s will is our happiness!
        h4 4. On the way to Krakow
        p “Blessed are the pure in heart, for they shall see God” (Mt 5:8). Dear young men and women, as you see, this beatitude speaks directly to your lives and is a guarantee of your happiness. So once more I urge you: Have the courage to be happy!
        p This year’s World Youth Day begins the final stage of preparations for the great gathering of young people from around the world in Krakow in 2016. Thirty years ago Saint John Paul II instituted World Youth Days in the Church. This pilgrimage of young people from every continent under the guidance of the Successor of Peter has truly been a providential and prophetic initiative. Together let us thank the Lord for the precious fruits which these World Youth Days have produced in the lives of countless young people in every part of the globe! How many amazing discoveries have been made, especially the discovery that Christ is the Way, the Truth and the Life! How many people have realized that the Church is a big and welcoming family! How many conversions, how many vocations have these gatherings produced! May the saintly Pope, the Patron of World Youth Day, intercede on behalf of our pilgrimage toward his beloved Krakow. And may the maternal gaze of the Blessed Virgin Mary, full of grace, all-beautiful and all-pure, accompany us at every step along the way.
        p.italic From the Vatican, 31 January 2015 
          br/
          | Memorial of Saint John Bosco
        p.strong Francis
        p.italic.align-right <a href="http://w2.vatican.va/content/francesco/en/messages/youth/documents/papa-francesco_20150131_messaggio-giovani_2015.html">Source – vatican.va</a>
    .tile--content#tile_7
      h2
        span Program L4
      section.content--text.content--text-w-center
        p.strong Projekt, jak sama nazwa wskazuje, dotyczy chorych. Pragniemy naśladować w ten sposób Jana Pawła II: kiedy czekała go trudna pielgrzymka, wymagające zadanie czy po prostu – wielkie dzieło, prosił o modlitwę osoby chore. Przygotowując Światowe Dni Młodzieży chcemy czynić podobnie.
        p Światowe Dni Młodzieży to nie tylko wielkie przedsięwzięcie organizacyjne, ale też wydarzenie mające ogromne znaczenie dla losów ludzi, dla ich wiary i dlatego – wymagające duchowego wsparcia wszystkich członków Kościoła. Biorąc pod uwagę hasło ŚDM w Krakowie, czyli błogosławieństwo o miłosiernych, pragniemy wspólnie głosić miłosierdzie słowem i czynem.
        p Pragniemy, by plakaty mówiące o projekcie L4 dotarły do parafii i zgromadzeń zakonnych, do szpitali, przychodni, domów opieki i osób przebywających w domach. Chorzy w każdym wieku – otrzymają listy z prośbą o modlitwę i ofiarę w intencji ŚDM. O ich rozniesienie prosimy właśnie młodych: wolontariuszy, młodzież zaangażowaną przy parafiach we wspólnotach. Mamy nadzieję, że efektem tej akcji będzie powstanie przy parafiach grup młodych opiekujących się chorymi systematycznie. W listach zawarta jest też modlitwa dla chorych oraz świadectwa osób, które w swoim życiu cierpienia doświadczyły, ale – nie poddały się zwątpieniu.
        p Oprócz tego, w każdym liście znajduje się deklaracja, którą chorzy mogą wypełnić i odesłać do Biura ŚDM. W ten sposób nazwiska wszystkich biorących udział w projekcie – znajdą się w tzw. Księdze Modlitwy, którą przekażemy Ojcu Świętemu w trakcie Światowych Dni Młodzieży.
        p Kolejne listy w ramach projektu L4 umieszczane będą cyklicznie na stronie internetowej ŚDM.
        h4 Modlitwa Chorych
        p.italic Umiłowany Zbawicielu świata, wraz z niebem i ziemią uwielbiam Twoje Boskie Serce, które pozwoliło się przebić włócznią żołnierza, aby obmyć świat cały Krwią Odkupienia. W tym zdroju Miłości zanurzam młodych całego świata, dziewczęta i chłopców, przygotowujących się do Światowych Dni Młodzieży.
        p.italic Powierzam Ci, Panie, każdego z nich, prosząc, by czas spotkania z Ojcem Świętym był powiewem Twojego Ducha, posiewem łaski i zaczynem dobra. Spraw, by ich umysły były otwarte na prawdę, a serca na Twoją miłość obecną w Słowie, sakramentach, we wspólnocie. Niech to dzieło, które w nich rozpocząłeś, rozszerza się i rośnie. Za nich, Jezu, ofiaruję Ci mój codzienny krzyż cierpienia, bólu i samotności. Zjednocz nas wszystkich w Twojej miłości. Który żyjesz, królujesz i kochasz na wieki wieków. Amen.
        p.italic.align-right <a href="http://www.krakow2016.com/pl/aktualnosci,pokaz,228,czym-jest-tajemniczy-program-l4">Źródło – krakow2016.com</a>
    .tile--content#tile_8
      h2
        span Hymn of WYD
      section.content--text.content--text-w-center
        figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/eZRsoPmeZXk?rel=0" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0"></iframe>
          figcaption Official hymn of World Youth Days 2016
        figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/5BrV6IvTBEc?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Movie of making of hymn of WYD Kraków 2016
        .content--wrapper
          .content--lyrics
            h3 Polish lyrics
            p Wznoszę swe oczy ku górom
              br/
              |skąd przyjdzie mi pomoc,
              br/
              |pomoc od Pana, wszak Bogiem On
              br/
              |Miłosiernym jest!
            p Kiedy zbłądzimy Sam szuka nas,
              br/
              |by w swe ramiona wziąć,
              br/
              |rany uleczyć Krwią Swoich Ran,
              br/
              |nowe życie tchnąć!
              br/
              | 
            p.strong Błogosławieni miłosierni,
              br/
              |Albowiem oni miłosierdzia dostąpią!
            p Gdyby nam Pan nie odpuścił win,
              br/
              |Któż ostać by się mógł?
              br/
              |Lecz On przebacza, przeto i my
              br/
              |Czyńmy jak nasz Bóg!
            p Pan Syna Krwią zmazał wszelki dług,
              br/
              |Syn z grobu żywy wstał,
              br/
              |„Panem jest Jezus!” – mówi w nas Duch,
              br/
              |niech to widzi świat!
              br/
              | 
            p [BRIDGE]
            p Więc odrzuć lęk i wiernym bądź,
              br/
              |swe troski w Panu złóż,
              br/
              |i ufaj, bo zmartwychwstał i wciąż
              br/
              |żyje Pan, Twój Bóg!
          .content--lyrics
            h3 English lyrics
            p I raise my eyes to the mountains,
              br/
              |from where help will come
              br/
              |from the Lord, because He
              br/
              |is a merciful God!

            p When we are lost, He looks for us,
              br/
              |so as to take us in His arms,
              br/
              |healing our wounds with the blood of His wounds,
              br/
              |breathing new life into us.

            p.strong Blessed are the merciful
              br/
              |For they shall receive mercy!
              br/
              | 
            p If the Lord did not forgive us our sins
              br/
              |who could survive alone?
              br/
              |But He forgives, so too
              br/
              |should we do as our God!
            p By His own Son’s blood God erased every debt
              br/
              |His Son rose alive from the tomb;
              br/
              |“Jesus is Lord” – the Spirit tells us from within.
              br/
              |Let the world see this!
            p [BRIDGE]
            p So throw away your fear and have faith,
              br/
              |confide your problems in the Lord
              br/
              |and trust in Him, for He is risen
              br/
              |and is alive, your God!
            p.italic By Henryk Michael Kurylewski – 
              a(href="http://catholicleader.com.au/youth/english-translation-of-wyd-krakow-2016-hymn") Source
        h3 Download
        ul
          li 
            a(href="http://www.krakow2016.com/upload/files/Błogosławieni%20Miłosierni_prymka.pdf") Melodic line (PDF)
          li 
            a(href="http://www.krakow2016.com/audio/hymn.mp3") Audio file (MP3)
          li 
            a(href="http://www.krakow2016.com/audio/hymn.wav") Audio file (WAV)
          li 
            a(href="http://www.krakow2016.com/upload/files/BŁOGOSŁAWIENI%20MIŁOSIERNI_TEKST.pdf") Hymn lyrics in Polish (PDF)
        h3 Story behind composing of the hymn
        p After winning the competition for writing the World Youth Day 2016 hymn, Jakub Blycharz sat down with us for an interview. He mentioned that before he began composing the lyrics, he looked to the Bible for some inspiring words. There he then found promise in the 31st chapter from the book of Deuteronomy; the part entitled “The hymn as a witness”: “Write out this song then for yourselves. Teach it to the Israelites and have them recite it, so that this song may be a witness for me against the Israelites”.
        p These words commenced work on the hymn and also became the character for the lyrics throughout the song; the text is rooted in the words of the Holy Scriptures and written into poetic paraphrases. The hymn starts with an excerpt from Psalm 121 (120), which pours into our hearts peace and confidence that the merciful Lord is watching over us and will fulfil the promise that he will accompany humankind “now and forever”. Right in the first verse, in the middle of the quotation from the Old Testament, God is described as merciful.
        p In the second verse we find references to the parable of the lost sheep from St. Luke’s Gospel (Lk 15: 1–7), which raises hope to God’s untiring efforts to bring just one man back to the fullness of life. In the parable Jesus assures of the great joy that is brought about in heaven from the conversion of each and every sinner. Through His death on the cross, Jesus gave us access to a new life – he brought mankind to the eternal plan of salvation thanks to his Holy Blood poured out for us.
        p The chorus consists of the words from the fifth Beatitude, first heard during the Sermon on the Mount from St Matthew’s Gospel (Mt 5:3-10): “Blessed are the merciful for they shall be shown mercy”. This is also the message of the World Youth Days which will take place in Krakow – the city of the message of mercy that was given to St. Faustyna Kowalska.
        p The third verse is a paraphrase of the excerpt from Psalm 130 “De Profundis”: “If you, O Lord, should mark iniquities, / Lord, who could stand? / But there is forgiveness with you, / that you may be feared”. God’s attitude towards us is our inspiration to embrace an attitude of mercy in our relationships with others.
        p The next verse conveys a meaning of some important points of Kerygma (a set of the basic truths of the Gospel), which refer to our ultimate deliverance in the crucified, buried and resurrected Christ; as well as accepting him through faith as one’s Lord and Saviour.
        p.italic.align-right <a href="http://sdmrzeszow.pl/bez-kategorii-en/blessed-are-the-merciful-the-official-hymn-of-xxxi-wyd-krakow-2016/">Source – sdmrzeszow.pl</a>
    .tile--content#tile_9
      h2
        span Prayer for WYD
      section.content--text.content--text-w-center
        :markdown
          “‘God, merciful father,<br />
          in your son, Jesus Christ, you have revealed your love<br />
          and poured it out upon us in the Holy Spirit, the comforter,<br />
          we entrust to you today the destiny of the world and of every man and woman.’<br />
          We entrust to you in a special way<br />
          young people of every language, people and nation:<br />
          guide and protect them as they walk the complex paths of the world today<br />
          and give them the grace to reap abundant fruits<br />
          from their experience of the Krakow World Youth Day.<br />

          Heavenly Father,<br />
          grant that we may bear witness to your mercy.<br />
          Teach us how to convey the faith to those in doubt,<br />
          hope to those who are discouraged,<br />
          love to those who feel indifferent,<br />
          forgiveness to those who have done wrong<br />
          and joy to those who are unhappy.<br />
          Allow the spark of merciful love that you have en-kindled within us<br />
          become a fire that can transform hearts<br />
          and renew the face of the earth.

          Mary, Mother of Mercy, pray for us.<br />
          St. John Paul II, pray for us.”
        p.italic.align-right <a href="https://cnsblog.wordpress.com/2014/07/03/official-prayer-logo-for-world-youth-day-2016/">Source – cnsblog.wordpress.com</a>
    .tile--content#tile_10
      h2
        span Ticket for a Brother
      section.content--text.content--text-w-center
        p.strong Ticket for a brother (TfB) is an outreach project for pilgrims living in the East that was initiated by Polish volunteers shortly after 2013 WYD in Rio de Janeiro. Its goal is to raise funds for the Eastern youth to allow them to participate in the WYD in Poland in 2016.
        h3 Where did the idea come from?
        p TfB resulted from two experiences. The first was the extraordinary hospitality that we came across as WYD pilgrims during our stay in Brazil. We want to return the favor by opening our hearts and helping those for whom participation in WYD is too expensive.
        p The second experience was testimonies of faith during the WYD in Częstochowa. Many young people from the East of Europe participated in this meeting. In preparation for the next WYD in Poland, we particularly want to remember our peers from the East.  For many of them, WYD may be the first experience of the international Church community. If they do not attend WYD in Poland, the next WYD will be even more distant and expensive for them.
        h3 Who do we help?
        p First of all, we want to help the youth from the East. Our support is intended for groups of pilgrims from 13 East European and Transcaucasia countries, who will officially register for the WYD 2016. Countries taken into account for our project are: Armenia, Azerbaijan, Belarus, Georgia, Kazakhstan, Kyrgyzstan, Lithuania, Moldova, Russia, Tajikistan, Turkmenistan, Ukraine and Uzbekistan.
        p We want to give the opportunity to people who would like to attend WYD 2016 by offering help, even if only by this one-time gesture. We invite you to join TfB’s action - families, communities, artists and companies. Everyone together!
        h3 What do we offer?
        p We want to give financial support to the youth from the East by funding their pilgrim’s package, which is a set of services that each participant at WYD is obligated to buy in order to participate in the event safely and fully.
        p For those preparing for WYD, we offer initiatives that will help them understand the intention and history of WYD, as well as learn how to use one’s talents creatively. Among others, we offer: creating and buying valuable donations, participation in cultural and sports events, establishing contacts with the youth from the East and many, many others. 
        p We hope that everyone who would like to join in the preparation of WYD 2016 through charitable works, such as supporting the young people from the East, personally reads the invitation of Jesus expressed in the topic of The World Youth Day: “Blessed are the merciful, for they shall obtain mercy” (Mt 5,7).
        h3 How to support the idea?
        p To support TfB, payments may be made on a bank account:
          address Krajowe Biuro Organizacyjne ŚDM
            | Bank Zachodni WBK, 2 Oddział w Siedlcach  <br />
            | 51 1500 1663 1216 6009 9321 0000
        p For more details please check: <a href="http://www.biletdlabrata.pl">www.biletdlabrata.pl</a> and <a href="http://facebook.com/biletdlabrata">facebook.com/biletdlabrata</a>
        p.italic.align-right <a href="http://www.krakow2016.com/en/news,view,162,ticket-for-a-brother-tfb">Source – krakow2016.com</a>

  script(type="text/javascript", src="/js/jquery.min.js")
  script(type="text/javascript", src="/js/nivo-lightbox.min.js")
  script.
    $(document).ready(function(){
        $('a.tile').nivoLightbox();
        $('.js-hide').css('display', 'none');
    });
    
    
    