---
title: 'WYD Info'
description: "Logo explanation — he red outline of the logo is the outline of the country hosting WYD 2016 – Poland. The yellow dot is placed…"
body_class: 'page--blue'
---

extends /layouts/en

block content
  h2
    span WYD Info

  .media
    figure.wyd-logo
      img(src="/img/official-wyd-logo.png").content--image__1_1
      figcaption Official WYD Logo
    h3 Logo explanation
    p The red outline of the logo is the outline of the country hosting WYD 2016 – Poland. The yellow dot is placed exactly over Cracow, the city where the main celebrations will be held. The dot also represents youth. The cross symbolizes Jesus Christ and the flames emerging from Cracow represent God's Mercy. You can also see the three official WYD colours: <span class="wyd-red">red</span>, <span class="wyd-blue">blue</span> and <span class="wyd-yellow">yellow</span>.
  hr/
  .content--text.content--text-w-center
    h3 Official World Youth Day 2016 Hymn
    figure
      <iframe width="560" height="315" src="http://www.youtube.com/embed/eZRsoPmeZXk?rel=0" frameborder="0" allowfullscreen></iframe>
    .content--lyrics
      h4 Polish
      p Wznoszę swe oczy ku górom
        br/
        |skąd przyjdzie mi pomoc,
        br/
        |pomoc od Pana, wszak Bogiem On
        br/
        |Miłosiernym jest!
      p Kiedy zbłądzimy Sam szuka nas,
        br/
        |by w swe ramiona wziąć,
        br/
        |rany uleczyć Krwią Swoich Ran,
        br/
        |nowe życie tchnąć!
        br/
        | 
      p.strong Błogosławieni miłosierni,
        br/
        |Albowiem oni miłosierdzia dostąpią!
      p Gdyby nam Pan nie odpuścił win,
        br/
        |Któż ostać by się mógł?
        br/
        |Lecz On przebacza, przeto i my
        br/
        |Czyńmy jak nasz Bóg!
      p Pan Syna Krwią zmazał wszelki dług,
        br/
        |Syn z grobu żywy wstał,
        br/
        |„Panem jest Jezus!” – mówi w nas Duch,
        br/
        |niech to widzi świat!
        br/
        | 
      p [BRIDGE]
      p Więc odrzuć lęk i wiernym bądź,
        br/
        |swe troski w Panu złóż,
        br/
        |i ufaj, bo zmartwychwstał i wciąż
        br/
        |żyje Pan, Twój Bóg!
    .content--lyrics
      h4 English
      p I raise my eyes to the mountains,
        br/
        |from where help will come
        br/
        |from the Lord, because He
        br/
        |is a merciful God!

      p When we are lost, He looks for us,
        br/
        |so as to take us in His arms,
        br/
        |healing our wounds with the blood of His wounds,
        br/
        |breathing new life into us.

      p.strong Blessed are the merciful
        br/
        |For they shall receive mercy!
        br/
        | 
      p If the Lord did not forgive us our sins
        br/
        |who could survive alone?
        br/
        |But He forgives, so too
        br/
        |should we do as our God!
      p By His own Son’s blood God erased every debt
        br/
        |His Son rose alive from the tomb;
        br/
        |“Jesus is Lord” – the Spirit tells us from within.
        br/
        |Let the world see this!
      p [BRIDGE]
      p So throw away your fear and have faith,
        br/
        |confide your problems in the Lord
        br/
        |and trust in Him, for He is risen
        br/
        |and is alive, your God!
      p.italic By Henryk Michael Kurylewski – 
        a(href="http://catholicleader.com.au/youth/english-translation-of-wyd-krakow-2016-hymn") Source

    
    
    