// Axis Settings (http://roots.cx/axis)

// font stack (add your own!)
lato = "Lato", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif

// default font stack
font-stack = georgia
font-size = 16
font-color = #555

// colors (via http://clrs.cc - slightly modded)
navy = #001F3F
blue = #0074D9
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #D13F19
maroon = #85144B
fuchsia = #F012BE
purple = #B10DC9
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
dark-gray = #888
black = #222222
wyd-yellow = #F9B00B
wyd-red = #ED1C24
wyd-blue = #0E87C5
wyd-orange = #D6820F
wyd-violet = #5B0EC5
wyd-lyellow = #FAF711
wyd-green = #58DC05


// default color
default-color = blue

// text highlight color
highlight-color = blue

// ligatures
ligatures = true

// vertical rhythm
base-line-height = 24px
default-rhythm-border-style = solid
relative-font-sizing = true
round-to-nearest-half-line = false
min-line-padding = 2px

// custom image base path for roots mixins
img-path = ''

// support for old IE
support-for-ie = false

// progressive IE (http://css3pie.com/)
pie-enabled = false
pie-path = '/pie.htc'
