@import '_settings'
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic&subset=latin-ext,latin');

// http://www.modularscale.com/?16&px&1.618,1.236&web&text

normalize-css()

html, body
  background #fff

body
  font-size 100%
  font-family lato
  color #333
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing 0.01rem
  padding 0
  margin 0

hr
  border: 0;
  height: 1px;
  margin 1em 0
  background: linear-gradient(left, white, #aaa, white);
  width 100%
hr.wyd-violet
  background: linear-gradient(left, white, wyd-violet, white);
a
  reset-link()
.italic
  font-style italic
.straight
  font-style normal
.nav--lang
  margin 0 1rem
  padding 0.2rem 0
  fs: 0.809rem
  text-align right
  line-height 1rem
  color gray
  border-bottom 1px solid lighten(gray, 10)
  li
    display inline-block
  a
    color gray
    font-weight bold
    padding 0 0.429rem
    &.is-current
      color black
  li:last-child a
    padding-right 0

#cookies-message
  padding 0.618rem 1rem
  box-sizing: border-box
  fs: 1rem
  line-height 1.618em
  border-bottom: 1px solid gray
  text-align: center;
  position: fixed;
  top: 0px;
  background-color: silver
  background: rgba(221,221,221,0.93);
  width: 100%;
  z-index: 999;
  box-shadow 0 0 1rem gray
#accept-cookies-checkbox
  button: green
  font-family lato
  margin-left 1rem
h1
  fs 1.888rem
  text-rendering optimizelegibility
  line-height 1em
  text-align center
  font-weight normal
  font-feature-settings "liga", "dlig"
  margin 1.618rem 1rem

.nav--main
  margin 1rem 1rem
  fs 0.9rem
  ul
    padding 0
  li
    display inline-block
    a
      font-weight bold
      color dark-gray
      margin 0
      margin-right 0.858rem
      padding-bottom 2px
      &.is-current
        color wyd-red
        border-bottom 2px solid wyd-red
  li:first-child a
    margin-left 0
  li:last-child a
    margin-right 0

.content--main
  margin 1.618rem 1rem
  clear: both;
.content--main, .tile--content
  p, li, label, figcaption, address
    a
      link(wyd-blue)

.content--wrapper
  clear both
  overflow hidden

.footer--main
  clear both
  margin 1.618rem 1rem
  p
    text-align center
    font-style italic
    fs 0.809rem
  p, a
    color dark-gray

h2
  fs 1.528rem
  font-weight 300
  line-height 0
  margin 0 auto
  padding-top 0.794rem
  color wyd-red
  border-bottom 1px solid wyd-red
  span
    background white
    padding-right 1rem

h3
  fs: 1.236rem
  font-weight bold
  line-height 1.618em
  margin 0 auto
  padding-top 0.794rem

p, address
  fs 1rem
  margin 0.655rem 0
blockquote
  fs 1rem
  margin 0.655rem 2.618rem
h2+section
  padding-top 0.794rem
p, li, address, blockquote
  line-height 1.618rem

.tile--row
  width 100%
  clear both
  margin-top 1em
  display block
  margin-bottom 1em
  text-align center
.tile--row.tile--row
    margin 0
.tile
  display block
  text-align left
  overflow hidden
  position relative
  margin-bottom 1rem
.tile--image
  height 100%
  width 100%
  min-height 100%
  max-height 100%
  display block
  position absolute
  top 0
  left 0
  overflow hidden
  vertical-align middle
  img
    width 100%
    height auto
    display block
    vertical-align middle
.tile--caption
  display table
  clear both
  position absolute
  bottom 0
  left 0
  right 0
  margin 0
  color white
  font-size 1.236rem
  text-shadow: 0 0 0.25em #000;
  text-shadow: 0 0 0.25em rgba(0,0,0,0.9);
  width 100%
  padding 2rem 1rem 1rem
  box-sizing border-box
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 75%,rgba(0,0,0,0.3) 100%)
.tile:hover .tile--caption
    text-decoration underline
.tile--3-2
  padding-top 65.74%
  .tile--caption
    fs: 1.618rem
    font-weight 700
.tile--1-1 .tile--caption
  fs: 1rem
.tile--2-2
  padding-top 100%
  .tile--caption
    font-weight 700
.tile--2-1
  padding-top 47.82%
.tile--3-2
  padding-top 65.74%
.tile--1-1, .tile--2-2
  width 47.5%
  padding-top 47.5%
  display inline-block
  margin-right 5%
.tile--2-2.tile--mobile-ending
  width 100%
  padding-top 100%
.tile--mobile-ending
  margin-right 0
.tile--content
  float none
  display block
.js-hide .tile--content
  margin-top 1.618em

.link--tile
  display block
  width 100%
  padding-top 56.25%
  overflow hidden
  position relative
  margin-bottom 1rem
  .link--tile__image
    height 100%
    width 100%
    min-height 100%
    max-height 100%
    display block
    position absolute
    left 0
    top 0
    overflow hidden
    vertical-align middle
    img
      width 100%
      height auto
      display block
      vertical-align middle
  .link--tile__caption
    display table
    clear both
    position absolute
    bottom 0
    left 0
    right 0
    margin 0
    color white
    font-size 1.236rem
    text-shadow: 1px 1px 2px #000;
    width 100%
    padding 2rem 1rem 1rem
    box-sizing border-box
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 100%)
  .link--tile__caption.no-shadow
    background: white
  &:hover .link--tile__caption
    text-decoration underline

figure
  margin 1.618rem 0 0.618rem
  text-align center
  figcaption
    font-style italic
    margin-top 1rem
  img
    margin 0 auto

.content--lyrics
  overflow hidden
  float left
  width 47.5%
  &+.content--lyrics
    margin-left 5%
  p
    padding-left 1rem
    text-indent -1rem

.italic
  italic()
.strong
  bold()
.pull-right
  float right
.align-right
  text-align right
.align-center
  text-align center
.wyd-red
  color wyd-red
.wyd-yellow
  color wyd-yellow
.wyd-blue
  color wyd-blue
.wyd-violet
  color wyd-violet

.content--news
  background lighten(wyd-yellow, 97%)
  border 1px solid wyd-yellow
  box-shadow 0 0 0.655em lighten(wyd-yellow, 10%)
  box-sizing border-box
  padding 0 1em
  margin 1em 0.655em 0 0.655em
  ul
    list-style-type none
    padding-left 0

.news--dates li
  font-weight 700
  font-size 0.809em
  text-transform uppercase
  letter-spacing 1px
  color #888
  border-bottom 1px solid #aaa

.news--links li
  font-weight 400
  font-size 1em
  text-transform none
  letter-spacing 0
  color #333
  padding 0.382em 0
  border-bottom none

iframe, img
  max-width 100%

form
  margin-top 0.802rem
.content--map
  width 100%

+html5-inputs()
  input(wyd-blue, 100%)
  font-family lato
  transition none
  box-sizing border-box

label
  label: block
  text-transform uppercase
  letter-spacing 0.3px
  fs: 0.9rem
  line-height 1.618rem
  color #555

input[type=submit]
  button: green 'large'
  font-family lato

.actions
  text-align right

input[type="checkbox"], input[type="radio"]
  margin-right 0.618rem
  margin 0.618rem 0.618rem 0.618rem 0

.field+.field, .field+.actions
  margin-top 1rem

p.news--date
  padding-bottom 1em
  font-style italic
  color #999
  border-bottom 1px solid #bbb

.page--violet
  h2, .nav--main a.is-current
    color wyd-violet
    border-color wyd-violet
.page--blue
  h2, .nav--main a.is-current
    color wyd-blue
    border-color wyd-blue
.page--yellow
  h2, .nav--main a.is-current
    color wyd-yellow
    border-color wyd-yellow

.content--image__1_1
  max-width 40%

.registration-option
  border 1px solid wyd-violet
  border-radius 1em
  padding 0 1em 1em 1em
  margin 1em auto
  h4
    text-align center
  .registration-option--details p
    font-size 0.809em
  .registration-option--linkWrapper
    text-align center
    font-weight bold

.registration-form
  p
    text-align center
    font-size 1.382em
    margin-top 1.618em
    line-height 1.618em
  label
    text-transform none
    font-size 1em
  input[type=text]
    text-align center
  .registration-form-options label, input[type=text]
    border-radius 0.2em
    border 1px solid wyd-violet
    text-transform none
    padding 1em
    margin 1em auto
    cursor pointer
    transition all 0.1s
  .registration-form-options label:hover, input[type=text]:hover
    box-shadow 0 0.056em 0.382em rgba(91,14,197,0.7)
    transition all 0.1s
  .registration-form-options
    text-align center
    vertical-align 0
    input[type=radio]
      display none
    input[type=radio]:checked + label
      box-shadow inset 0 0.09em 0.382em rgba(91,14,197,0.7)
      transition all 0.1s
    input[type=radio]:checked + label:hover
      box-shadow inset 0 0.09em 0.382em rgba(91,14,197,0.4)
      transition all 0.1s


+above(30rem)
  .nav--sidebar
    overflow hidden
    .link--tile
      width 47.5%
      padding-top 26%
      float left
      &:nth-child(2n)
        margin-left 5%

+above(37rem)
  .registration-form .registration-form-options label
    box-sizing border-box
    display inline-block
    width 47%
    margin-right 2.5%
  .registration-form .registration-form-options-wrapper
    display flex
    justify-content space-between

  .nav--lang, .content--main, .nav--main, .header--main
    width 35rem
    margin 0 auto
  .nav--main
    text-align center
  h2
    text-align center
    margin-bottom 0.618rem
    span
      padding-left 1rem
  .content--main
    overflow hidden
  .content--text
    width 33rem
    float none
    margin 0 auto
  .nivo-lightbox-wrap
    left 7%
    right 7%
  .nivo-lightbox-content .content--text
    width 29rem
  .content--text-w-center
    float none
    margin 0 auto
  .tile
    display inline-block
    margin-right 1em
  .tile:last-child
    margin-right 0
  .tile--3-2
    width 20.6rem
    padding-top 13.4rem
  .tile--2-2, .tile--2-2.tile--mobile-ending
    width 13.4rem
    padding-top 13.4rem
  .tile--2-1
    width 13.4rem
    padding-top 6.2rem
  .tile--1-1
    width 6.2rem
    padding-top 6.2rem
  .fs-0
    fs: 0
  .tile--column
    display inline-block
    margin-right 0.99em
    fs: 1rem
  .tile--column:last-child
    margin-right 0
  .tile--column .tile
    display block
    margin-right 0
  .tile--column--1
    width 6.2rem
  .tile--column--2
    width 13.4em
  .tile--wide-ending
    clear right
    margin-right 0
+above(41rem)
  .nav--lang, .content--main, .nav--main, .header--main
    width 39rem
    margin 0 auto
  .tile--3-2
    width 23rem
    padding-top 15rem
  .tile--2-2, .tile--2-2.tile--mobile-ending
    width 15rem
    padding-top 15rem
  .tile--2-1
    width 15rem
    padding-top 7rem
  .tile--1-1
    width 7rem
    padding-top 7rem
  .tile--column--1
    width 7rem
  .tile--column--2
    width 15rem

+above(53rem)
  .content--65
    width 60%
    padding-right 5%
    display table-cell
  .content--35
    width 35%
    display table-cell
    vertical-align middle
  .content--75
    width 75%
    padding-right 5%
    display table-cell
  .content--25
    width 25%
    display table-cell
    vertical-align middle
  .nav--lang, .content--main, .header--main
    width 51rem
    clear both
  h1
    width auto
    float left
    margin-left 0
    text-align left
  .nav--main
    margin-top 1.5rem
    float right
    width auto
  .content--text
    float left
  .content--text.content--text-w-center
    float none
  .nav--sidebar
    width 16rem
    margin-left 2rem
    margin-top 1.794rem
    float left
    .link--tile
      width 100%
      padding-top 56.25%
      &:nth-child(2n)
        margin-left 0
  .media
    media: 1rem
    figure
      margin-top 1rem
    h3
        margin-top 0
        margin-bottom 0
    > p
        display block
        float none !important
        margin-top 0
  .tile
    display inline-block
    margin-right 1em
  .tile:last-child
    margin-right 0
  .tile--3-2
    width 30.2em
    padding-top 19.8em
  .tile--2-2, .tile--2-2.tile--mobile-ending
    width 19.8em
    padding-top 19.8em
  .tile--2-1
    width 19.8em
    padding-top 9.4em
  .tile--1-1
    width 9.4em
    padding-top 9.4em
  .fs-0
    fs: 0
  .tile--column
    display inline-block
    margin-right 0.99em
    fs: 1rem
  .tile--column:last-child
    margin-right 0
  .tile--column .tile
    display block
    margin-right 0
  .tile--column--1
    width 9.4em
  .tile--column--2
    width 19.8em
  .tile--wide-ending
    clear right
    margin-right 0

+above(59em)
  .nivo-lightbox-wrap
    left 10%
    right 10%
  .nav--lang, .content--main, .header--main
    width 57rem
  .content--text, .nivo-lightbox-content .content--text
    width 35rem
  .nav--sidebar
    width 20rem
  .content--map
    height 20rem
  .tile--3-2
    width 33.8em
    padding-top 22.2em
  .tile--2-2, .tile--2-2.tile--mobile-ending
    width 22.2em
    padding-top 22.2em
  .tile--2-1
    width 22.2em
    padding-top 10.6em
  .tile--1-1
    width 10.6em
    padding-top 10.6em
  .tile--column--1
    width 10.6em
  .tile--column--2
    width 22.2em


@media print {
  .nav--lang,  .nav--main, .footer--main {
    visibility: hidden;
  }
  .content--main {
    visibility: visible;
  }
  @page {
    margin-top: .75in;
    margin-bottom: .75in;
  }
  .content--main {
    max-width: 4.95in;
    margin: 0 auto;
  }
  body {
    color: black;
    orphans: 2;
    widows: 2;
  }
  figure, img, a {
    page-break-inside: avoid
  }
}

.es {
  .header--main h1 {
    float: none;
    text-align: center;
    width: 100%;
  }
  nav.nav--main {
    display: none
  }
}
