---
title: "Dni w Diecezji"
---

extends /layouts/pl

block content
  h2
    span Dni w Diecezji
  section.content--text.content--text-w-center
    p.italic
      a(href="../"+loc._program+".html")!=" &laquo; "+loc._Our_Program
      a(href=loc._calasantian_day_in_cracow+".html").pull-right Dzień Kalasantyński w Krakowie &raquo;
    p <strong>Dni w Diecezji</strong> podczas Światowego Dnia Młodzieży 2016 to czas, podczas którego młodzi ludzie z całego świata są goszczeni w Polskich diecezjach. Ten etap <strong>rozpoczyna się 20 lipca, a kończy 25 lipca 2016 roku</strong>. Chcielibyśmy zaprosić kalasantyńską młodzież do spędzenia Dni w Diecezjach w <a href="http://bolszewo.pijarzy.pl/">pijarskiej Parafii w Bolszewie</a> (Archidiecezji Gdańskiej).
    p <strong>Bolszewo</strong> to miejscowość znajdująca się na północy Polski, w pięknym regionie Kaszub. Jest atrakcyjnie położona: niedaleko są Morze Bałtyckie i jedno z najpiękniejszych miast świata – Gdańsk. Bolszewo jest blisko do Wejherowa i Gdyni, urokliwych miast, związanych z tradycją i Chrześcijaństwem.
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d147844.13645111403!2d18.17318635!3d54.62046894999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fdb84dc14cfb71%3A0x3d01e0f67a21708f!2sBolszewo!5e0!3m2!1spl!2spl!4v1423584367424" frameborder="0" style="border:0" class="content--map"></iframe>
    p Gdańsk posiada port lotniczy (GDN), dzięki czemu <strong>łatwo można dotrzeć do tego miasta</strong> z każdego miejsca na świecie. 
    p Miejscem naszego spotkania w Bolszewie będzie <strong>Parafia Wniebowzięcia Najświętszej Maryi Panny</strong>, gdzie pracują pijarzy. Młodzież będzie goszczona w rodzinach parafii. 
    figure
      img(src="/img/bolszewo.jpg")
      figcaption Kościół w Bolszewie
    p W czasie Dni w Diecezji czyli tzw. tygodnia misyjnego, chcemy zorganizować dla młodzieży kalasantyńskiej specjalne wydarzenia, które <strong>pomogą we wzajemnym poznaniu się młodych z całego świata</strong>. Włączymy się także w program, jaki zaproponuje Archidiecezja Gdańska.
    h3 Ogólny plan Dni w Diecezji
    ul
      li 20 lipca – Dzień przyjazdu
      li 21 lipca – Dzień poznawania regionu
      li 22 lipca – Dzień miłosierdzia
      li 23 lipca – Dzień spotkania grup
      li 24 lipca – Dzień w parafii
      li 25 lipca – Dzień posłania do Krakowa
    p.italic
      a(href="../"+loc._program+".html")!=" &laquo; "+loc._Our_Program
      a(href=loc._calasantian_day_in_cracow+".html").pull-right Dzień Kalasantyński w Krakowie &raquo;