---
title: "Dzień Kalasantyński w Krakowie"
---

extends /layouts/pl

block content
  h2
    span Dzień Kalasantyński
  section.content--text.content--text-w-center
    p.italic
      a(href="../"+loc._program+".html")!=" &laquo; "+loc._Our_Program
      a(href=loc._days_in_diocese_in_bolszewo+".html").pull-right Dni w Diecezji w Bolszewie &raquo;
    p
      strong Czas: 
      | 27 lipca 2016 roku, 15:00 – 22:00
    p
      strong Miejsce: 
      | Kraków „Wieczysta” – Miasteczko Kalasantyńskie (Klub Sportowy “Wieczysta” oraz Parafia Matki Bożej Ostrobramskiej, ul. Meissnera 20).
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2560.5862246684765!2d19.978588404229736!3d50.075310300899574!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x70570a68f023f9e2!2zS2_Fm2Npw7PFgiBNQiBPc3Ryb2JyYW1za2llag!5e0!3m2!1spl!2spl!4v1423588538126" frameborder="0" style="border:0" class="content--map"></iframe>
    p Zapraszamy na wspólne świętowanie Dnia Kalasantyńskiego w Krakowie 27 lipca 2016 r. Tego dnia Młodzież Kalasantyńska z całego świata spotka się w godzinach od 14.00 do 22.00. Obecni będą Przełożeni Generalni wspólnot zakonnych, które powstały, zainspirowane dziełem św. Józefa Kalasancjusza, na czele z Ojcem Generałem Zakonu Pijarów. 
    figure
      img(src="/img/rio2.jpg")
      figcaption Dzień Kalasantyński podczas ŚDM w Rio
    p <strong>Uwaga:</strong> w Krakowie jako Grupa Kalasantyńska spotykamy się oficjalnie w całości tylko ten jeden raz. Poza tym bierzemy udział w ogólnym programie ŚDM 2016 (katechezy, nabożeństwa, czuwanie i Msza św. z Ojcem Świętym). Dzień Kalasantyński odbędzie się w Miasteczku Kalasancjusza na obiektach sportowych KS Wieczysta.
    p.italic
      a(href="../"+loc._program+".html")!=" &laquo; "+loc._Our_Program
      a(href=loc._days_in_diocese_in_bolszewo+".html").pull-right Dni w Diecezji w Bolszewie &raquo;