---
lang: "en"
main_title: "Calasanz WYD 2016"
main_title_1: "Calasanz "
main_title_2: "WYD "
main_title_3: "2016"
main_description: "Information site for Calasantian Pilgrims coming to World Youth Day in 2016"
contact_mail: "wyd@calasanz2016.com"
_index: "index"
_program: "program"
_wyd_info: "wyd_info"
_contact: "contact"
_days_in_diocese_in_bolszewo: "in_diocese"
_calasantian_day_in_cracow: "in_cracow"
_organisers_form: "organisers_form"
_Home: "Home"
_In_Diocese: "In Diocese"
_In_Cracow: "In Cracow"
_WYD_Info: "WYD Info"
_Contact: "Contact"
_Piarists_in_Poland: "Piarists in Poland"
_organiser_subscribe: "organiser_subscribe"
---

extends main