---
lang: "es"
main_title: "Calasanz JMJ 2016"
main_title_1: "Calasanz "
main_title_2: "JMJ "
main_title_3: "2016"
main_description: "La página informativa para los peregrinos que vienen a Jornada Mundial de la Juventud en Cracovia 2016"
contact_mail: "jmj@calasanz2016.com"
_index: "index"
_program: "program"
_wyd_info: "jmj_info"
_contact: "contacto"
_days_in_diocese_in_bolszewo: "en_la_diocesis"
_calasantian_day_in_cracow: "en_cracovia"
_organisers_form: "suscripcion_del_organizador"
_Home: "Inicio"
_In_Diocese: "En la diócesis"
_In_Cracow: "En Cracovia"
_WYD_Info: "JMJ Info"
_Contact: "Contacto"
_Piarists_in_Poland: "Escolapios en Polonia"
_organiser_subscribe: "suscribe_organizador"
---

extends main