---
lang: "fr"
main_title: "Calasanz JMJ 2016"
main_title_1: "Calasanz "
main_title_2: "JMJ "
main_title_3: "2016"
main_description: "Strona informacyjna dla Młodzieży Kalasantyńskiej, wybierającej się na ŚDM 2016 w Krakowie"
contact_mail: "jmj@calasanz2016.com"
_index: "index"
_program: "program"
_wyd_info: "sdm_info"
_contact: "kontakt"
_days_in_diocese_in_bolszewo: "du_diocese"
_calasantian_day_in_cracow: "a_cracovie"
_organisers_form: "formularz_rejestracji"
_Home: "Page d'accueil"
_Our_Program: "Nasz program"
_In_Diocese: "Du diocèse"
_In_Cracow: "À Cracovie"
_WYD_Info: "JMJ"
_Contact: "Contact"
_Piarists_in_Poland: "Piaristes"
_organiser_subscribe: "organizator_zapisz"
---

extends main