---
lang: "it"
main_title: "Calasanz GMG 2016"
main_title_1: "Calasanz "
main_title_2: "GMG "
main_title_3: "2016"
main_description: "Sito di informazione per la Gioventù di Calasanzio, partecipante alla Giornata Mondiale della Gioventù 2016 a Cracovia."
contact_mail: "gmg@calasanz2016.com"
_index: "index"
_news: "notizie"
_message_for_wyd: "la_presentazione_del_messaggio_del_papa_per_i_giovani_per_la_xxxi_gmg"
_wyd_info: "gmg_info"
_contact: "contatti"
_days_in_diocese_in_bolszewo: "nella_diocesi"
_calasantian_day_in_cracow: "a_cracovia"
_organisers_form: "iscrizione_dell_organizzatore"
_Home: "Inizio"
_In_Diocese: "Nella Diocesi"
_In_Cracow: "A Cracovia"
_WYD_Info: "GMG Info"
_Contact: "Contatti"
_Piarists_in_Poland: "Scolopi nella Polonia"
_organiser_subscribe: "iscrivi"
---

extends main