---
lang: "pl"
main_title: "Kalasantyński ŚDM 2016"
main_title_1: "Kalasantyński "
main_title_2: "ŚDM "
main_title_3: "2016"
main_description: "Strona informacyjna dla Młodzieży Kalasantyńskiej, wybierającej się na ŚDM 2016 w Krakowie"
contact_mail: "sdm@calasanz2016.com"
_index: "index"
_program: "program"
_wyd_info: "sdm_info"
_contact: "kontakt"
_days_in_diocese_in_bolszewo: "dni_w_diecezji_w_bolszewie"
_calasantian_day_in_cracow: "dzien_kalasantynski_w_krakowie"
_organisers_form: "formularz_rejestracji"
_Home: "Strona główna"
_Our_Program: "Nasz program"
_In_Diocese: "W Diecezji"
_In_Cracow: "W Krakowie"
_WYD_Info: "ŚDM"
_Contact: "Kontakt"
_Piarists_in_Poland: "Pijarzy"
---

extends main