---
title: "Calasantian Day in Cracow"
description: "We invite you to our common celebration of the Calasantian Day in Cracow on July 27th 2016. On this day the Calasantian Youth from all over the world shall meet from 15:00 to 22:00."
---

extends /layouts/en

block content
  h2
    span Calasantian Day
  section.content--text.content--text-w-center
    p.italic
      a(href="../"+loc._program+".html") &laquo; Program
      a(href=loc._days_in_diocese_in_bolszewo+".html").pull-right Days in Diocese in Bolszewo &raquo;
    p
      strong Time: 
      | July 27<sup>th</sup>, 2016, 15:00 – 22:00
    p
      strong Place: 
      | Cracow “Wieczysta” – Calasantian Town (Sports Club “Wieczysta” and the Parish of Our Lady of the Gate of Dawn, 20 Meissner's Street).
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2560.5862246684765!2d19.978588404229736!3d50.075310300899574!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x70570a68f023f9e2!2zS2_Fm2Npw7PFgiBNQiBPc3Ryb2JyYW1za2llag!5e0!3m2!1spl!2spl!4v1423588538126" frameborder="0" style="border:0" class="content--map"></iframe>
    p We invite you to our common celebration of the Calasantian Day in Cracow on July 27<sup>th</sup> 2016. On this day the Calasantian Youth from all over the world shall meet from 15:00 to 22:00. Special guests will include Our Father of the Piarist Order along with Monastic Superiors of all the Orders created with inspiration of St. Joseph Calasanz.
    figure
      img(src="/img/rio2.jpg")
      figcaption Calasantian Day during WYD in Rio
    p <strong>Note:</strong> in Cracow we shall meet only this once as a whole Calasantian group. Apart from this event we take part in official World Youth Day program (catechesises, vigils and the Holy Mass with the Pope). The Calasantian Day will be held in Sports Club “Wieczysta” facilities.
    p.italic
      a(href="../"+loc._program+".html") &laquo; Program
      a(href=loc._days_in_diocese_in_bolszewo+".html").pull-right Days in Diocese in Bolszewo &raquo;