---
title: "En Cracovia"
description: "Invitamos a toda la juventud calasancia a inscribirse al Festival de la Juventud Calasancia, congregada en la JMJ Cracovia 2016, que se llevará a cabo el día 27 de julio de 2016, en la Ciudad Calasancia."
body_class: 'page--yellow'
---

extends /layouts/es

block content
  h2
    span En Cracovia
  .content--wrapper
    .content--75
      figure
        div(style="width: 100%;padding-top:43.14%;position:relative")
          img(src="/img/youth_festival.jpg", data-no-retina="true", style="position:absolute;top:0;left:0")
    .content--35
      h1 Festival de la Juventud
  section.content--text.content--text-w-center
    p Además de los Días en las Diócesis, preparamos también <strong>un encuentro único</strong> durante las Ceremonias Centrales en Cracovia. Invitamos a toda la juventud calasancia a inscribirse al <strong>Festival de la Juventud Calasancia</strong>, congregada en la JMJ Cracovia 2016, que se llevará a cabo el día 27 de julio de 2016, en la Ciudad Calasancia. El mismo contará con la Eucaristía, una fiesta magnífica, conciertos entretenidos y la convivencia común del Día Calasancio. Además, estarán presentes los Superiores Generales de las congregaciones religiosas que fueron inspiradas por la obra de San José de Calazanz. Entre ellos estará el Padre General de la Orden de las Escuelas Pías.
    p
      strong Fecha: 
      | 27 de julio de 2016, 15:00 – 22:00
    p
      strong Lugar: 
      | Cracovia, “Wieczysta” – Ciudad Calasancia (Sociedad Deportiva “KS Wieczysta” y la Parroquia de la Madre Divina de Ostrobramska, Calle Meissnera 20).
    p
      strong Programa: 
      | celebración Eucarística en común, el Festival de la Juventud Calasancia (conciertos, testimonios, pantomimas, etc.), en fin, una gran fiesta cristiana.
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2560.5862246684765!2d19.978588404229736!3d50.075310300899574!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x70570a68f023f9e2!2zS2_Fm2Npw7PFgiBNQiBPc3Ryb2JyYW1za2llag!5e0!3m2!1spl!2spl!4v1423588538126" frameborder="0" style="border:0" class="content--map"></iframe>
    figure
      img(src="/img/rio2.jpg", data-no-retina="true")
      figcaption Día Calasancio durante la JMJ en Río
    p <strong>Nota Importante:</strong> en Cracovia nos encontramos de manera oficialy exclusiva como “Grupa Kalasantyńska” (Grupo Calasancio). Además participamos en el programa oficial general de la JMJ 2016 (catequesis, oficios, Vigilia y Eucaristía con el Santo Padre). El día Calasancio tendrá lugar en el “Pueblo Calasancio,” en los gimnasios de KS Wieczysta.
    p.italic
      a(href=loc._days_in_diocese_in_bolszewo+".html").pull-right Los días en las Diócesis en Bolszewio &raquo;