---
title: "Bienvenido"
body_class: "es"
---

extends /layouts/es

block content
  h2
    span Lo sentimos!
  section.content--text.content--text-w-center
    p Lo siento pero la página web no está traducida. Nuestros traductoros están aplicado para traducirla. Queremos daros el mejor texto. La traducción completa va a estar pronto.
    p Hasta ese día le invitamos a utilizar <a href="/en/">la página Inglés</a>.