---
title: "Bienvenido"
body_class: "es"
---

extends /layouts/es

block content
  h2
    span Lo sentimos!
  section.content--text.content--text-w-center
    p Lo sentimos, pero la página en español aún no funciona. Esperamos que estará disponible el <strong>14 de marzo</strong>.
    p Hasta ese día le invitamos a utilizar <a href="/en/">la página Inglés</a>.