---
title: "Bienvenido"
body_class: "es"
---

extends /layouts/es

block content
  h2
    span ¡Bienvenido!
  section.content--text.content--text-w-center
    h3 Przepraszamy!
    p Strona jeszcze nie jest dostępna w języku hiszpańskim. Zamierzamy ją przetłumaczyć do <strong>14 marca 2015</strong>.
    p Przepraszamy za problemy, do zobaczenia za tydzień!