---
title: 'JMJ Info'
description: "¿Qué es la Jornada Mundial de la Juventud? Las Jornadas Mundiales de la Juventud son los encuentros internacionales de jóvenes de todo el mundo que juntos con sus catequistas, pastores, obispos y el Papa se congregan en un lugar, para profesar juntos la fe en Jesucristo…"
body_class: 'page--blue'
---

extends /layouts/es

block content
  h2
    span JMJ Info
  br/
  a.tile.tile--3-2.tile--mobile-ending(href="#tile_1", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_1_es.png")
    .tile--caption Sobre la JMJ
  a.tile.tile--2-2.tile--wide-ending(href="#tile_2", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_2_es.png")
    .tile--caption Programa de la JMJ
  a.tile.tile--1-1.tile--mobile-ending(href="#tile_3", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_3.png")
    .tile--caption Logo de la JMJ
  a.tile.tile--2-1.tile--mobile-ending(href="#tile_4", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_4.jpg")
    .tile--caption Conoce Cracovia
  a.tile.tile--2-1.tile--wide-ending.tile--mobile-ending(href="#tile_5", data-lightbox-type="inline")
    .tile--image
      img(src="/img/wyd_info_tile_5.jpg")
    .tile--caption Símbolos de la JMJ
  .tile--row.fs-0
    .tile--column.tile--column--1
      a.tile.tile--1-1(href="#tile_6", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_6.jpg")
        .tile--caption Manifiesto de Francesco
      a.tile.tile--1-1.tile--mobile-ending(href="#tile_7", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_7.png")
        .tile--caption Programa L4
    .tile--column.tile--column--2
      a.tile.tile--2-2.tile--mobile-ending(href="#tile_8", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_8.jpg")
        .tile--caption Himno de la JMJ
    .tile--column.tile--column--2
      a.tile.tile--2-1.tile--mobile-ending(href="#tile_9", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_9.jpg")
        .tile--caption Oración de la JMJ
      a.tile.tile--2-1.tile--mobile-ending(href="#tile_10", data-lightbox-type="inline")
        .tile--image
          img(src="/img/wyd_info_tile_10.png")
        .tile--caption Billete para un Hermano
  .js-hide
    .tile--content#tile_1
      h2
        span Sobre la JMJ
      section.content--text.content--text-w-center
        h3 ¿Qué es la Jornada Mundial de la Juventud?
        p Las Jornadas Mundiales de la Juventud son los encuentros internacionales de jóvenes de todo el mundo  que juntos con sus catequistas, pastores, obispos y el Papa se congregan en un lugar, para profesar juntos la fe en Jesucristo.
        h3 ¿Quién es su autor? 
        p El autor de la JMJ y su primer anfitrión fue san Juan Pablo II, que congregó jóvenes en Roma (1984, 1985, 2000), Buenos Aires (1987), Santiago de Compostela (1989), Częstochowa (1991), Denver (1993), Manila (1995), París (1997) y Toronto (2002).
        h3 JMJ – El Papa y los Jóvenes. ¡Juntos!
        p Después de la muerte de Juan Pablo II, el papa Benedicto XVI continuó este bello diálogo entre la Iglesiay los jóvenes por medio de las Jornadas Mundiales de la Juventud. Benedicto XVI presidió los encuentros en Colonia (2005), Sydney (2008) y Madrid (2011). Gracias al esfuerzo de Benedicto XVI, Cristo sigue siendo proclamado y adorado por jóvenes de todo el mundo, y la Iglesia puede ver su rostro joven y alegre, tan necesario en el mundo actual.
        p En julio de 2013  (Río de Janeiro), la juventud de todo el mundo se encontró con el papa Francisco. Él anunció, además, que el siguiente encuentro de jóvenes tendría lugar en Cracovia, Polonia, en el 2016.
        h3 Fundación de la JMJ
        p Se reconoce el día 20 de diciembre de 1985 como el día de la fundación o constitución del Día Mundial de la Juventud, cuando el Papa Juan Pablo II en la reunión de Navidad con los cardenales y empleados de la Curia Romana expresó el deseo de instaurar la Jornada Mundial de la Juventud, a celebrarse cada año el Domingo de Ramos en la diócesis de Roma, y cada dos o tres años en un lugar designado por él, como lugar de encuentro internacional.
        h3 Comunidad, formación y alegría de la fe
        p El fin de estas Jornadas es vivir juntos como  comunidad de fe (la gran comunidad de la Iglesia Católica), escuchar la palabra de Dios, celebrar los sacramentos de la Penitencia y la Eucaristía y proclamar la alegría de Jesucristo, nuestro Señor y Salvador.
        p.italic.align-right <a href="http://sdm.org.pl/index2.php?k=500">Fuente – sdm.org.pl</a>
    .tile--content#tile_2
      h2
        span Programa de la JMJ
      section.content--text.content--text-w-center
        p Al finalizar los Días en las Diócesis, todos se movilizarán a la diócesis que el Padre Santo designó como sede de los eventos centrales (Cracovia). La juventud se congregará allí durante toda la semana. El lunes será el día de llegada a Cracovia; el martes participarán en la ceremonia de la apertura; miércoles, jueves y viernes participarán de la catequesis y el festival de jóvenes. El sábado los peregrinos se reunirán en el lugar de la Vigilia y participarán en el encuentro vespertino con el Papa, y el domingo se llevará a cabo la Solemne Misa con el Santo Padre al final de esta JMJ. Adicional a los eventos centrales, habrá zonas especiales de encuentros, como la Zona de la Reconciliación y la Expo-vocación.
        p El programa oficial de la Jornada Mundial de la Juventud Cracovia 2016 se puede bajar como 
          a(href="/img/wyd_info_program_es.pdf") PDF
          |  o 
          a(href="/img/wyd_info_program_es.png") PNG
          |.
        figure
          div(style="width: 100%;padding-top:46.7%;position:relative")
            img(src="/img/wyd_info_program_es.png", alt="Programa de la JMJ", style="position:absolute;top:0;left:0", data-no-retina="true")
          figcaption Programa de la JMJ 2016
        p.italic.align-right <a href="http://sdm.org.pl/index2.php?k=500">Fuente – sdm.org.pl</a>
    .tile--content#tile_3
      h2
        span Logo de la JMJ
      section.content--text.content--text-w-center
        figure
          .content--image__1_1(style="padding-top:50%;position:relative;margin:0 auto")
            img(src="/img/official-wyd-logo.png", alt="Logo de la JMJ 2016", style="position:absolute;top:0;left:0", data-no-retina="true")
          figcaption Logo de la JMJ 2016
        p.strong El logo de la XXXI Jornada Mundial de la Juventud Cracovia 2016 es la ilustración de las palabras “Dichosos los misericordiosos, porque alcanzarán misericordia” (Mt 5,7)  que fue escogido como el lema principal del encuentro.
        p El simbolismo del logotipo une en sí tres elementos:
        h3 Lugar del encuentro
        p <strong>Polonia</strong> – el lugar de encuentro de los jóvenes en el año 2016 es Polonia. El logotipo ha sido inscrito en el contorno rojo polaco (el rojo es uno de los colores nacionales). Polonia es el hogar de San Juan Pablo II, un adorador ferviente y apóstol de la Divina Misericordia, iniciador de la JMJ. Aquí, también, nació Santa Faustina, a través de quien el Señor Jesús recordó al mundo el mensaje de la misericordia de Dios.
        p <strong>Cracovia </strong> – alrededor de los colores de Polonia, en forma de círculo amarillo, está simbolizada Cracovia. Aquí está el Santuario de la Divina Misericordia, al que peregrinaba Karol Wojtyla desde su juventud – luego cuando fue obrero, después cura, obispo y cardenal. Desde aquí rumbo a Roma al conclave de 1978. Como Papa, Juan Pablo II retornó varias veces a modo de peregrinación a su patria. En la última de sus vivistas, en el 2002, se refirió a este lugar como centro mundial de culto a la Divina Misericordia y aquí confió al mundo al amor caritativo de Dios.
        h3 Personajes Principales
        p <strong>Cristo</strong> – centro y razón de ser de cada Jornada Mundial de la Juventud es el encuentro con Cristo. Lo simboliza la Cruz, destacada como uno de los elementos principales del logo.
        p <strong>La juventud</strong> – durante varias ediciones anteriores de la JMJ (París, Roma y Toronto, entre otros) el símbolo de la juventud en el logotipo era el círculo de color amarillo. De manera parecida es en caso del logo de JMJ Cracovia 2016. El círculo amarillo inscrito en la cruz significa pues no sólo la posición de Cracovia en el mapa de Polonia, sino también representa a la juventud de todo el mundo  que se reunirá aquí junto al papa Francesco, al pie de la cruz.
        h3 Tema del encuentro
        p <strong>La Misericordia</strong> – tema principal de la XXXI JMJ es la Divina Misericordia. Su símbolo es la chispa, de la cual recuerda santa Faustina en su Diario:
          blockquote “Mientras rezaba por Polonia, oí estas palabras: «He amado a Polonia de modo especial, […] de ella saldrá una chispa que preparará el mundo para Mi última venida.»” [Diario 1732]
        p Los rayos de la chispa visibles en el logotipo se refieren al cuadro conocido de Jesús Misericordioso. En esta imagen salen dos rayos del corazón de Jesús: el azul, que simboliza el agua, y el rojo, que simboliza la sangre. De manera parecida, en el logo ellas simbolizan la gracia que abraza y arde en los jóvenes de todo el mundo.
        h3 Colores del logo
        p Los colores del logo de la JMJ 2016 – <span class="wyd-red">rojo</span>, <span class="wyd-blue">azul</span> y <span class="wyd-yellow">amarillo</span> – se refiere a los colores oficiales de la ciudad de Cracovia y su escudo.
        p.italic.align-right <a href="http://www.krakow2016.com/ftp/OPIS_SZCZEGOLOWY_LOGO_SDM_KRAKOW_2016.pdf">Fuente – krakow2016.com</a>
    .tile--content#tile_4
      h2
        span Conoce Cracovia
      section.content--text.content--text-w-center
        figure
          div(style="width:100%;padding-top:56.25%;position:relative")
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_kjuG1sqO1w?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Película que promociona a la JMJ 2016
        figure
          div(style="width:100%;padding-top:56.25%;position:relative")
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ph5PE7BO6qs?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption La película que promociona a Cracovia
        p.strong Cracovia es una ciudad de tradición milenaria, sede antigua de los reyes polacos y capital del país. Hoy es una importante metrópolis europea. La Ciudad Vieja de Cracovia es un tesoro excepcional de obras de arte, recuerdos de objetos históricos y antiguos que representan casi todos los estilos arquitectónicos desde la Edad Media hasta la actualidad.
        p En el corazón de la ciudad se encuentra la centenaria Plaza Mayor − la mayor plaza municipal de la Europa medieval, preservada de forma intacta desde el año 1257 y fue inscrita en la primera lista de Patrimonio Mundial de la UNESCO en el año 1978. Desde hace 600 años, resuena a cada hora desde la torre de la Basílica de Santa María el toque de trompeta a los cuatro vientos. En cambio, el “Sukiennice” – el mercado medieval – localizado en medio de la plaza mayor, es uno de los monumentos polacos más reconocidos.
        p Cracovia es también reconocida por la segunda mayor universidad de Centroeuropa (después de la universidad de Praga) – La Universidad Jagielloński (aquí estudiaron, entre otros: Mikołaj Kopernik y el papa Juan Pablo II) Además, muy reconocido es Wawel – El Castillo Real sobre la colina. Fue residencia de los soberanos polacos en Wawel desde mediados del siglo XI. Actualmente el castillo es un museo que contiene 71 salas de exposición, que contienen monumentos únicos de arte del renacimiento. Despierta la admiración el patio porticado del castillo – considerado la perla de la arquitectura renacentista.
        p Entre los lugares de interés del casco antiguo, destacan el “Kazimierz” - el lugar de siglos de convivencia de dos culturas - cristiana y judía. Espacio lleno de monumentos del judaísmo de importancia mundial, pero sobre todo una zona vibrante - que alberga a los mercados de pulgas y el arte, restaurantes y pubs. La monumentalidad y la simetría inusual de “Nowa Huta” aún sorprenden - la parte socialista de Cracovia, con las edificaciones más curiosas y adelantadas de la época socialista.
        p Cracovia es también una ciudad que vibra en vida cultural. En el año 2000, fue designada como Capital Europea de la Cultura. Anualmente, aquí se realizan cerca de 100 festivales y otros actos culturales de fama internacional. También es sede de museos modernos, en la que los visitantes pueden encontrarse frente a frente con la historia.
        p Sin duda Cracovia encanta por su atmósfera inigualable – por momentos silenciosa, por momentos llena de acontecimientos, pero siempre excepcional e inspiradora.
        p.italic.align-right <a href="http://krakow.pl/odwiedz_krakow/12117,artykul,miasto_krakow.html">Fuente – krakow.pl</a>
    .tile--content#tile_5
      h2
        span Símbolos de la JMJ
      section.content--text.content--text-w-center
        p Las Jornadas son acompañadas por los dos signos particulares regalados por Juan Pablo II, que son <strong>la Cruz de la Jornada Mundial de la Juventud y el Icono de nuestra Madre “Salus Populi Romani”</strong>. Estos signos no solo acompañan a los jóvenes durante la JMJ, sino que también viajan sin parar por el mundo, siendo diariamente fermento de oración y adoración de miles de jóvenes.
        figure(style="position:relative;width:100%;padding-top:80.15%")
          img(src="/img/wyd_symbols.jpg", alt="Símbolos de la JMJ", style="position:absolute;top:0;left:0", data-no-retina="true")
          figcaption Símbolos de la JMJ
        p El 13 abril de 2014, Domingo de Ramos, el Santo Padre entregó estos signos en Roma a la juventud polaca y se inició la peregrinación de la Cruz de la JMJ y el Icono de nuestra Madre por las diócesis polacas y de diez a veinte países de Europa del Este.
        figure(style="position:relative;width:100%;padding-top:49.29%")
          img(src="/img/wyd_symbols_receiving.jpg", alt="Símbolos de la JMJ", style="position:absolute;top:0;left:0", data-no-retina="true")
          figcaption Representaciones escolapias que recibirán los símbolos en miniatura de la JMJ en Cracovia
    .tile--content#tile_6
      h2
        span Manifiesto de Francesco
      section.content--text.content--text-w-center
        h3 JMJ – acerca de los encuentros
        p Cada JMJ requiere una buena preparación en términos de contenido, sobre el cual se apoya la reunión de jóvenes en grupos lingüísticos durante varios días. El tema del encuentro anual lo determina el mismo Santo Padre, dirigiendo el mensaje a los jóvenes. El contenido de la JMJ durante tres días conocidos como el Triduo catequético.
        // http://w2.vatican.va/content/francesco/pl/messages/youth/index.html
        h3 Mensajes de Texto
        p.italic «Bienaventurados los limpios de corazón, porque ellos verán a Dios» (Mt 5,8)
        h4 Queridos jóvenes:
        p Seguimos avanzando en nuestra peregrinación espiritual a Cracovia, donde tendrá lugar la próxima edición internacional de la Jornada Mundial de la Juventud, en julio de 2016. Como guía en nuestro camino, hemos elegido el texto evangélico de las Bienaventuranzas. El año pasado reflexionamos sobre la bienaventuranza de los pobres de espíritu, situándola en el contexto más amplio del “sermón de la montaña”. Descubrimos el significado revolucionario de las Bienaventuranzas y el fuerte llamamiento de Jesús a lanzarnos decididamente a la aventura de la búsqueda de la felicidad. Este año reflexionaremos sobre la sexta Bienaventuranza: «Bienaventurados los limpios de corazón, porque ellos verán a Dios» (Mt 5,8).
        h4 1. El deseo de felicidad
        p La palabra bienaventurados (felices), aparece nueve veces en esta primera gran predicación de Jesús (cf. Mt 5,1-12). Es como un estribillo que nos recuerda la llamada del Señor a recorrer con Él un camino que, a pesar de todas las dificultades, conduce a la verdadera felicidad.
        p Queridos jóvenes, todas las personas de todos los tiempos y de cualquier edad buscan la felicidad. Dios ha puesto en el corazón del hombre y de la mujer un profundo anhelo de felicidad, de plenitud. ¿No notáis que vuestros corazones están inquietos y en continua búsqueda de un bien que pueda saciar su sed de infinito?
        p Los primeros capítulos del libro del Génesis nos presentan la espléndida bienaventuranza a la que estamos llamados y que consiste en la comunión perfecta con Dios, con los otros, con la naturaleza, con nosotros mismos. El libre acceso a Dios, a su presencia e intimidad, formaba parte de su proyecto sobre la humanidad desde los orígenes y hacía que la luz divina permease de verdad y trasparencia todas las relaciones humanas. En este estado de pureza original, no había “máscaras”, subterfugios, ni motivos para esconderse unos de otros. Todo era limpio y claro.
        p Cuando el hombre y la mujer ceden a la tentación y rompen la relación de comunión y confianza con Dios, el pecado entra en la historia humana (cf. Gn 3). Las consecuencias se hacen notar enseguida en las relaciones consigo mismos, de los unos con los otros, con la naturaleza. Y son dramáticas. La pureza de los orígenes queda como contaminada. Desde ese momento, el acceso directo a la presencia de Dios ya no es posible. Aparece la tendencia a esconderse, el hombre y la mujer tienen que cubrir su desnudez. Sin la luz que proviene de la visión del Señor, ven la realidad que los rodea de manera distorsionada, miope. La “brújula” interior que los guiaba en la búsqueda de la felicidad pierde su punto de orientación y la tentación del poder, del tener y el deseo del placer a toda costa los lleva al abismo de la tristeza y de la angustia.
        p En los Salmos encontramos el grito de la humanidad que, desde lo hondo de su alma, clama a Dios: «¿Quién nos hará ver la dicha si la luz de tu rostro ha huido de nosotros?» (Sal 4,7). El Padre, en su bondad infinita, responde a esta súplica enviando a su Hijo. En Jesús, Dios asume un rostro humano. Con su encarnación, vida, muerte y resurrección, nos redime del pecado y nos descubre nuevos horizontes, impensables hasta entonces.
        p Y así, en Cristo, queridos jóvenes, encontrarán el pleno cumplimiento de sus sueños de bondad y felicidad. Sólo Él puede satisfacer sus expectativas, muchas veces frustradas por las falsas promesas mundanas. Como dijo san Juan Pablo II: «Es Él la belleza que tanto les atrae; es Él quien les provoca con esa sed de radicalidad que no les permite dejarse llevar del conformismo; es Él quien les empuja a dejar las máscaras que falsean la vida; es Él quien les lee en el corazón las decisiones más auténticas que otros querrían sofocar. Es Jesús el que suscita en ustedes el deseo de hacer de su vida algo grande» (Vigilia de oración en Tor Vergata, 19 agosto 2000).
        h4 2. Bienaventurados los limpios de corazón…
        p Ahora intentemos profundizar en por qué esta bienaventuranza pasa a través de la pureza del corazón. Antes que nada, hay que comprender el significado bíblico de la palabra corazón. Para la cultura semita el corazón es el centro de los sentimientos, de los pensamientos y de las intenciones de la persona humana. Si la Biblia nos enseña que Dios no mira las apariencias, sino al corazón (cf. 1 Sam 16,7), también podríamos decir que es desde nuestro corazón desde donde podemos ver a Dios. Esto es así porque nuestro corazón concentra al ser humano en su totalidad y unidad de cuerpo y alma, su capacidad de amar y ser amado.
        p En cuanto a la definición de limpio, la palabra griega utilizada por el evangelista Mateo es katharos, que significa fundamentalmente puro, libre de sustancias contaminantes. En el Evangelio, vemos que Jesús rechaza una determinada concepción de pureza ritual ligada a la exterioridad, que prohíbe el contacto con cosas y personas (entre ellas, los leprosos y los extranjeros) consideradas impuras. A los fariseos que, como otros muchos judíos de entonces, no comían sin haber hecho las abluciones y observaban muchas tradiciones sobre la limpieza de los objetos, Jesús les dijo categóricamente: «Nada que entre de fuera puede hacer al hombre impuro; lo que sale de dentro es lo que hace impuro al hombre. Porque de dentro, del corazón del hombre, salen los malos propósitos, las fornicaciones, robos, homicidios, adulterios, codicias, injusticias, fraudes, desenfreno, envidia, difamación, orgullo, frivolidad» (Mc 7,15.21-22).
        p Por tanto, ¿en qué consiste la felicidad que sale de un corazón puro? Por la lista que hace Jesús de los males que vuelven al hombre impuro, vemos que se trata sobre todo de algo que tiene que ver con el campo de nuestras relaciones. Cada uno tiene que aprender a descubrir lo que puede “contaminar” su corazón, formarse una conciencia recta y sensible, capaz de «discernir lo que es la voluntad de Dios, lo bueno, lo que agrada, lo perfecto» (Rm 12,2). Si hemos de estar atentos y cuidar adecuadamente la creación, para que el aire, el agua, los alimentos no estén contaminados, mucho más tenemos que cuidar la pureza de lo más precioso que tenemos: nuestros corazones y nuestras relaciones. Esta “ecología humana” nos ayudará a respirar el aire puro que proviene de las cosas bellas, del amor verdadero, de la santidad.
        p Una vez les pregunté: ¿Dónde está su tesoro? ¿en qué descansa su corazón? (cf. Entrevista con algunos jóvenes de Bélgica, 31 marzo 2014). Sí, nuestros corazones pueden apegarse a tesoros verdaderos o falsos, en los que pueden encontrar auténtico reposo o adormecerse, haciéndose perezosos e insensibles. El bien más precioso que podemos tener en la vida es nuestra relación con Dios. ¿Lo creen así de verdad? ¿Son conscientes del valor inestimable que tienen a los ojos de Dios? ¿Saben que Él los valora y los ama incondicionalmente? Cuando esta convicción desaparece, el ser humano se convierte en un enigma incomprensible, porque precisamente lo que da sentido a nuestra vida es sabernos amados incondicionalmente por Dios. ¿Recuerdan el diálogo de Jesús con el joven rico (cf. Mc 10,17-22)? El evangelista Marcos dice que Jesús lo miró con cariño (cf. v. 21), y después lo invitó a seguirle para encontrar el verdadero tesoro. Les deseo, queridos jóvenes, que esta mirada de Cristo, llena de amor, les acompañe durante toda su vida.
        p Durante la juventud, emerge la gran riqueza afectiva que hay en sus corazones, el deseo profundo de un amor verdadero, maravilloso, grande. ¡Cuánta energía hay en esta capacidad de amar y ser amado! No permitan que este valor tan precioso sea falseado, destruido o menoscabado. Esto sucede cuando nuestras relaciones están marcadas por la instrumentalización del prójimo para los propios fines egoístas, en ocasiones como mero objeto de placer. El corazón queda herido y triste tras esas experiencias negativas. Se lo ruego: no tengan miedo al amor verdadero, aquel que nos enseña Jesús y que San Pablo describe así: «El amor es paciente, afable; no tiene envidia; no presume ni se engríe; no es mal educado ni egoísta; no se irrita; no lleva cuentas del mal; no se alegra de la injusticia, sino que goza con la verdad. Disculpa sin límites, cree sin límites, espera sin límites, aguanta sin límites. El amor no pasa nunca» (1 Co 13,4-8).
        p Al mismo tiempo que les invito a descubrir la belleza de la vocación humana al amor, les pido que se rebelen contra esa tendencia tan extendida de banalizar el amor, sobre todo cuando se intenta reducirlo solamente al aspecto sexual, privándolo así de sus características esenciales de belleza, comunión, fidelidad y responsabilidad. Queridos jóvenes, «en la cultura de lo provisional, de lo relativo, muchos predican que lo importante es “disfrutar” el momento, que no vale la pena comprometerse para toda la vida, hacer opciones definitivas, “para siempre”, porque no se sabe lo que pasará mañana. Yo, en cambio, les pido que sean revolucionarios, les pido que vayan contracorriente; sí, en esto les pido que se rebelen contra esta cultura de lo provisional, que, en el fondo, cree que ustedes no son capaces de asumir responsabilidades, cree que ustedes no son capaces de amar verdaderamente. Yo tengo confianza en ustedes, jóvenes, y pido por ustedes. Atrévanse a “ir contracorriente”. Y atrévanse también a ser felices» (Encuentro con los voluntarios de la JMJ de Río de Janeiro, 28 julio 2013).
        p Ustedes, jóvenes, son expertos exploradores. Si se deciden a descubrir el rico magisterio de la Iglesia en este campo, verán que el cristianismo no consiste en una serie de prohibiciones que apagan sus ansias de felicidad, sino en un proyecto de vida capaz de atraer nuestros corazones.
        h4 3. …porque verán a Dios
        p En el corazón de todo hombre y mujer, resuena continuamente la invitación del Señor: «Busquen mi rostro» (Sal 27,8). Al mismo tiempo, tenemos que confrontarnos siempre con nuestra pobre condición de pecadores. Es lo que leemos, por ejemplo, en el Libro de los Salmos: «¿Quién puede subir al monte del Señor? ¿Quién puede estar en el recinto sacro? El hombre de manos inocentes y puro corazón» (Sal 24,3-4). Pero no tengamos miedo ni nos desanimemos: en la Biblia y en la historia de cada uno de nosotros vemos que Dios siempre da el primer paso. Él es quien nos purifica para que seamos dignos de estar en su presencia.
        p El profeta Isaías, cuando recibió la llamada del Señor para que hablase en su nombre, se asustó: «¡Ay de mí, estoy perdido, pues soy un hombre de labios impuros!» (Is 6,5). Pero el Señor lo purificó por medio de un ángel que le tocó la boca y le dijo: «Ha desaparecido tu culpa, está perdonado tu pecado» (v. 7). En el Nuevo Testamento, cuando Jesús llamó a sus primeros discípulos en el lago de Genesaret y realizó el prodigio de la pesca milagrosa, Simón Pedro se echó a sus pies diciendo: «Apártate de mí, Señor, que soy un pecador» (Lc 5,8). La respuesta no se hizo esperar: «No temas; desde ahora serás pescador de hombres» (v. 10). Y cuando uno de los discípulos de Jesús le preguntó: «Señor, muéstranos al Padre y nos basta», el Maestro respondió: «Quien me ha visto a mí, ha visto al Padre» (Jn 14,8-9).
        p La invitación del Señor a encontrarse con Él se dirige a cada uno de ustedes, en cualquier lugar o situación en que se encuentre. Basta «tomar la decisión de dejarse encontrar por Él, de intentarlo cada día sin descanso. No hay razón para que alguien piense que esta invitación no es para él » (Exhort. ap. Evangelii gaudium, 3). Todos somos pecadores, necesitados de ser purificados por el Señor. Pero basta dar un pequeño paso hacia Jesús para descubrir que Él nos espera siempre con los brazos abiertos, sobre todo en el Sacramento de la Reconciliación, ocasión privilegiada para encontrar la misericordia divina que purifica y recrea nuestros corazones.
        p Sí, queridos jóvenes, el Señor quiere encontrarse con nosotros, quiere dejarnos “ver” su rostro. Me preguntarán: “Pero, ¿cómo?”. También Santa Teresa de Ávila, que nació hace ahora precisamente 500 años en España, desde pequeña decía a sus padres: «Quiero ver a Dios». Después descubrió el camino de la oración, que describió como «tratar de amistad, estando muchas veces tratando a solas con quien sabemos nos ama» (Libro de la vida, 8, 5). Por eso, les pregunto: ¿rezan? ¿saben que pueden hablar con Jesús, con el Padre, con el Espíritu Santo, como se habla con un amigo? Y no un amigo cualquiera, sino el mejor amigo, el amigo de más confianza. Prueben a hacerlo, con sencillez. Descubrirán lo que un campesino de Ars decía a su santo Cura: Cuando estoy rezando ante el Sagrario, «yo le miro y Él me mira» (Catecismo de la Iglesia Católica, 2715).
        p También les invito a encontrarse con el Señor leyendo frecuentemente la Sagrada Escritura. Si no están acostumbrados todavía, comiencen por los Evangelios. Lean cada día un pasaje. Dejen que la Palabra de Dios hable a sus corazones, que sea luz para sus pasos (cf. Sal 119,105). Descubran que se puede “ver” a Dios también en el rostro de los hermanos, especialmente de los más olvidados: los pobres, los hambrientos, los sedientos, los extranjeros, los encarcelados (cf. Mt 25,31-46). ¿Han tenido alguna experiencia? Queridos jóvenes, para entrar en la lógica del Reino de Dios es necesario reconocerse pobre con los pobres. Un corazón puro es necesariamente también un corazón despojado, que sabe abajarse y compartir la vida con los más necesitados.
        p El encuentro con Dios en la oración, mediante la lectura de la Biblia y en la vida fraterna les ayudará a conocer mejor al Señor y a ustedes mismos. Como les sucedió a los discípulos de Emaús (cf. Lc 24,13-35), la voz de Jesús hará arder su corazón y les abrirá los ojos para reconocer su presencia en la historia personal de cada uno de ustedes, descubriendo así el proyecto de amor que tiene para sus vidas.
        p Algunos de ustedes sienten o sentirán la llamada del Señor al matrimonio, a formar una familia. Hoy muchos piensan que esta vocación está “pasada de moda”, pero no es verdad. Precisamente por eso, toda la Comunidad eclesial está viviendo un período especial de reflexión sobre la vocación y la misión de la familia en la Iglesia y en el mundo contemporáneo. Además, les invito a considerar la llamada a la vida consagrada y al sacerdocio. Qué maravilla ver jóvenes que abrazan la vocación de entregarse plenamente a Cristo y al servicio de su Iglesia. Háganse la pregunta con corazón limpio y no tengan miedo a lo que Dios les pida. A partir de su “sí” a la llamada del Señor se convertirán en nuevas semillas de esperanza en la Iglesia y en la sociedad. No lo olviden: La voluntad de Dios es nuestra felicidad.
        h4 4. En camino a Cracovia
        p «Bienaventurados los limpios de corazón, porque ellos verán a Dios» (Mt 5,8). Queridos jóvenes, como ven, esta Bienaventuranza toca muy de cerca su vida y es una garantía de su felicidad. Por eso, se lo repito una vez más: atrévanse a ser felices.
        p Con la Jornada Mundial de la Juventud de este año comienza la última etapa del camino de preparación de la próxima gran cita mundial de los jóvenes en Cracovia, en 2016. Se cumplen ahora 30 años desde que san Juan Pablo II instituyó en la Iglesia las Jornadas Mundiales de la Juventud. Esta peregrinación juvenil a través de los continentes, bajo la guía del Sucesor de Pedro, ha sido verdaderamente una iniciativa providencial y profética. Demos gracias al Señor por los abundantes frutos que ha dado en la vida de muchos jóvenes en todo el mundo. Cuántos descubrimientos importantes, sobre todo el de Cristo Camino, Verdad y Vida, y de la Iglesia como una familia grande y acogedora. Cuántos cambios de vida, cuántas decisiones vocacionales han tenido lugar en estos encuentros. Que el santo Pontífice, Patrono de la JMJ, interceda por nuestra peregrinación a su querida Cracovia. Y que la mirada maternal de la Bienaventurada Virgen María, la llena de gracia, toda belleza y toda pureza, nos acompañe en este camino.
        p.italic Vaticano, 31 de enero de 2015
          br/
          | Memoria de San Juan Bosco
        p.strong FRANCISCUS
        p.italic.align-right <a href="http://www.krakow2016.com/pl/aktualnosci,pokaz,229,oredzie-papieza-franciszka-do-mlodych-na-xxx-swiatowe-dni-mlodziezy-w-2015-roku">Fuente – krakow2016.com</a>
    .tile--content#tile_7
      h2
        span Programa L4
      section.content--text.content--text-w-center
        p.strong El proyecto concierne a los enfermos - nos gustaría seguir de esta manera a San Juan Pablo II cuando le esperaba una peregrinación difícil, una tarea exigente o simplemente un gran trabajo, siempre pedía a los enfermos una oración. Y nosotros, a la hora de prepararnos para JMJ queremos hacer igual.
        p La Jornada Mundial de Juventud no es solo una gran empresa organizativa, sino también un acontecimiento que tiene mucha importancia para la vida de gente, para su fe y por eso exige el apoyo espiritual de todos los miembros de la Iglesia. Teniendo en cuenta el lema de JMJ en Cracovia, la bienaventuranza de los misericordiosos, nos gustaría proclamar conjuntamente la misericordia con palabras y hechos.
        p Nos gustaría que los carteles del proyecto L4 llegaran a las parroquias, a los claustros monásticos, a los hospitales, a las residencias de ancianos y la gente que está en casa. Enfermos de todas las edades recibirán una carta pidiendo que colaboren rezando por los frutos de la JMJ. Pedimos a los jóvenes para que los repartan: los voluntarios, la gente joven de las comunidades parroquiales. Espero que el fruto de esta acción sea la creación de los grupos nuevos que van a cuidar a los enfermos de forma sistemática. Las cartas incluyen la oración para los enfermos como también los testimonios de las personas que padecían dolor y sufrimiento pero que no perdieron la esperanza.
        p Además, en cada carta hay una declaración que los enfermos pueden rellenar y mandar a la oficina de JMJ. Así todos los nombres de los participantes del nuestro proyecto estarán apuntados en El libro de Oración, que después entregaremos al Santo Padre durante la Jornada Mundial de Juventud.
        p Las siguientes cartas del proyecto L4 estarán puestas periódicamente en la página web de JMJ.
        h4 Oración de los enfermos
        p.italic Umiłowany Zbawicielu świata, wraz z niebem i ziemią uwielbiam Twoje Boskie Serce, które pozwoliło się przebić włócznią żołnierza, aby obmyć świat cały Krwią Odkupienia. W tym zdroju Miłości zanurzam młodych całego świata, dziewczęta i chłopców, przygotowujących się do Światowych Dni Młodzieży.
        p.italic Apreciado Salvador del mundo, junto con el cielo y la tierra adoro tu corazón divino, que permitió perforarse con la lanza del soldado, para lavar el mundo con tu Sangre Redentora. En esta fuente del Amor sumerjo a los jóvenes del mundo, los chicos y las chicas que se están preparando a La Jornada Mundial de Juventud. Te los encargo, cada uno de ellos, pidiéndote para que el encuentro con el Santo Padre sea como el soplo de tu Espíritu, la siembra de la gracia y la incercia de lo bueno. Haz sus mentes abiertas a la verdad, y sus corazones a tu Amor presente en la Palabra, en los sacramentos y en la comunidad. Que tu obra que has empezado en ellos amplíe y crezca. Por ellos, Jesús, Te ofrezco mi cruz diaria de sufrimiento, dolor y soledad. Únenos a todos nosotros en Tu Amor. Tú que vives, reinas y amas por los siglos de los siglos. Amén.
        p.italic.align-right <a href="http://www.krakow2016.com/es/l4-es">Fuente – krakow2016.com</a>
    .tile--content#tile_8
      h2
        span Himno de la JMJ
      section.content--text.content--text-w-center
        figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/eZRsoPmeZXk?rel=0" frameborder="0" allowfullscreen  style="position:absolute;top:0;left:0"></iframe>
          figcaption Himno oficial de la JMJ Cracovia 2016 en polaco
        figure(style="width:100%;padding-top:56.25%;position:relative")
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Wr0_x6mc0d8?rel=0" frameborder="0" allowfullscreen style="position:absolute;top:0;left:0"></iframe>
          figcaption Himno oficial de la JMJ Cracovia 2016 en español
        .content--wrapper
          .content--lyrics
            h3 Letra
            p Levanto mis ojos a los montes
              br/
              |quién me ayudara,
              br/
              |la ayuda me viene del Señor,
              br/
              |por Su gran compasión.
            p Aun cuando estamos en el error
              br/
              |nos abraza con Su amor
              br/
              |Con Su sangre nuestro dolor
              br/
              |Al fin se sanará.
            p.strong Bienaventurados los misericordiosos,
              br/
              |porque ellos alcanzarán misericordia.
            p Si no perdonamos, ¿quién ganará?
              br/
              |¿quién puede sostenerse en pie?
              br/
              |Si El nos perdona, nosotros también
              br/
              |hagamos como nuestro Dios!
            p En la cruz el nos redimió
              br/
              |de la tumba resucitó.
              br/
              |¡Jesucristo es el Señor!
              br/
              |¡Al mundo hay que anunciar!
            p [BRIDGE]
            p Hay que soltar el miedo y ser fiel,
              br/
              |con la mirada en Su amor
              br/
              |confiar porque Él resucitó
              br/
              |Vive el Señor!
          .content--lyrics
            h3 Descarga
            p
              a(href="http://www.krakow2016.com/media/files/page_attachments/B%C5%82ogos%C5%82awieni%20Mi%C5%82osierni_prymka.pdf") Descargar archivo con línea melódica (en formato PDF)
            p
              a(href="http://www.krakow2016.com/media/files/page_attachments/hymn%20Blogoslawieni.mp3") Descarga archivo (MP3)
            p
              a(href="http://www.krakow2016.com/media/files/page_attachments/hymn%20Blogoslawieni.wav") Descarga archivo (WAV)
        h3 Historia del himno
        // http://sdmrzeszow.pl/bez-kategorii-en/blessed-are-the-merciful-the-official-hymn-of-xxxi-wyd-krakow-2016/
        p Jakub Blycharz, compositor y autor del himno de la Jornada Mundial de la Juventud Cracovia 2016, justo después del anuncio de su victoria en el concurso, nos dijo en la entrevista que antes de comenzar la composición del himno, buscaba inspiración en la Sagrada Escritura. Fue en aquel momento cuando recibió una inspiración del Libro del Deuteronomio (31, 19) bajo el título “Himno como testigo”: “Ahora pues, escriban este cántico y enséñenselo a los israelitas, para que lo canten y me sirva de testimonio contra ellos.”
        p Ese fue el inicio del trabajo sobre el himno pero el carácter de todo el canto mantiene ese espíritu- profundamente arraigado en la Sagrada Escritura y lo expresa tras paráfrasis poéticas. El himno empieza con las palabras del Salmo 121, que pone en nuestros corazones la paz y la certeza de que nuestro Señor misericordioso vela sobre nosotros y cumplirá su promesa de acompañar al ser humano “desde ahora y por siempre”. Ya en la primera estrofa – en medio de la cita del Antiguo Testamento – Dios es definido como misericordioso.
        p En la segunda estrofa encontramos referencia a la parábola de la oveja perdida del Evangelio según san Lucas (15,1-7) la cual nos da esperanza de que Dios no se cansa de intentar llevar al hombre a la vida plena. En esta parábola, Jesús nos asegura que la conversión de un pecador llena al cielo de gran alegría. Por medio de su muerte en la cruz nos ha dado la posibilidad de alcanzar una vida nueva y así ha puesto al ser humano en su eterno plan de salvación gracias a su preciosa Sangre derramada por nosotros.
        p En el estribillo encontramos palabras de la quinta bienaventuranza del Sermón de la Montaña (evangelio según san Mateo 5,3-10): “Bienaventurados los misericordiosos, porque ellos alcanzarán misericordia”.
        p Éste es también el mensaje de la JMJ en Cracovia – la ciudad de donde salió el mensaje de la misericordia de Santa Faustina Kowalska.
        p La tercera estrofa es una paráfrasis del Salmo 130, “De profundis”: “Si llevas cuentas de los delitos, Señor, ¿quién podrá resistir? Pero de ti procede el perdón, y así infundes respeto.” La actitud de Dios para con nosotros es nuestra fuente de inspiración para actuar misericordiosamente con los demás.
        p La siguiente estrofa expresa los puntos más importantes del kerigma (o sea, el conjunto de las verdades más básicas del Evangelio): la salvación en Cristo crucificado, sepultado y resucitado pero también la necesidad de aceptar a Jesucristo como nuestro Señor y Redentor.
        p.italic.align-right <a href="http://www.krakow2016.com/pl/aktualnosci,pokaz,199,premiera-hymnu-xxxi-sdm-krakow-2016-odbyla-sie">Fuente – krakow2016.com</a>
    .tile--content#tile_9
      h2
        span Oración de la JMJ
      section.content--text.content--text-w-center
        :markdown
          Dios, Padre misericordioso,<br />
          que has revelado tu amor en tu Hijo Jesucristo<br />
          y lo has derramado sobre nosotros<br />
          en el Espíritu Santo, Consolador,<br />
          te encomendamos hoy el destino del mundo y de todo hombre.<br />
          Te encomendamos en modo particular los jóvenes<br />
          de toda lengua, pueblo y nación.<br />
          Guíales y protégeles en los complejos caminos de hoy<br />
          y dales la gracia de poder cosechar abundantes frutos<br />
          de la experiencia de la<br />
          Jornada Mundial de la Juventud de Cracovia.

          Padre celestial,<br />
          haznos testigos de tu misericordia.<br />
          Enséñanos a llevar la fe a los que dudan,<br />
          la esperanza a los desanimados,<br />
          el amor a los indiferentes,<br />
          el perdón a quien ha obrado el mal<br />
          y la alegría a los infelices.<br />
          Haz que la chispa del amor misericordioso<br />
          que has encendido dentro de nosotros<br />
          se convierta en un fuego que transforma los corazones<br />
          y renueva la faz de la tierra.

          María, Madre de Misericordia, ruega por nosotros<br />
          San Juan Pablo II, ruega por nosotros<br />
          Santa Faustina, ruega por nosotros
        p.italic.align-right <a href="http://www.krakow2016.com/media/files/page_attachments/Modlitwa%20SDM/ORACIÓN%20JMJ%20CRACOVIA%202016.pdf">Fuente – krakow2016.com</a>
    .tile--content#tile_10
      h2
        span Billete para un Hermano
      section.content--text.content--text-w-center
        p.strong “Billete para un Hermano,” la obra de apoyo a peregrinos de Europa del Este, es un proyecto iniciado por voluntarios de Polonia justo después de la JMJ Río 2013. Tiene como objetivo reunir los fondos necesarios para que jóvenes de Europa del Este puedan participar de la Jornada Mundial de la Juventud en Polonia 2016.
        p.strong ¿De dónde viene la idea?
        p “Billete para un Hermano” nació a partir de dos experiencias. La primera, es la cálida hospitalidad con la que los peregrinos nos encontramos en Brasil. Al estar encantados por la cordialidad de las familias brasileñas, nos gustaría devolverla con corazones abiertos y ayudar a aquellos para los que la participación en la JMJ es demasiado costosa.
        p La segunda experiencia son los testimonios de la  sexta JMJ en Częstochowa. Esta reunión contó con una presencia muy numerosa de jóvenes de Europa del Este que hasta hoy sienten sus frutos. Al preparar la siguiente Jornada Mundial de la Juventud en Polonia, queremos recordar de una manera especial a nuestros hermanos del Este. Para muchos de ellos, este encuentro puede ser la primera experiencia de comunidad internacional dentro de la Iglesia. Si no vienen a Polonia en 2016, la siguiente JMJ será para ellos aún más distante y más costosa.
        p.strong ¿A quién ayudamos?
        p Sobre todo, a los jóvenes de Europa del Este. Con nuestra ayuda, jóvenes peregrinos de 13 países de Europa del Este y el Cáucaso Meridional podrán inscribirse oficialmente a la Jornada Mundial de la Juventud Cracovia 2016. Los países incluidos en nuestro proyecto son: Armenia, Azerbaiyán, Belarús, Georgia, Kazajstán, Kirguistán, Lituania, Moldavia, Rusia, Tayikistán, Turkmenistán, Ucrania y Uzbekistán.
        p Al mismo tiempo, nos gustaría apoyar a cualquier persona que, tan solo por un gesto, quiera ser uno de los autores de la JMJ 2016. Invitamos a participar de la iniciativa de “Billete para un Hermano” a jóvenes, familias, comunidades, artistas, sociedades; o simplemente, ¡a todo el mundo!
        p.strong ¿Qué es lo que ofrecemos?
        p A los jóvenes del Este queremos comprarles los paquetes de peregrino, es decir, un conjunto de prestaciones que cada participante de la JMJ adquiere para asistir de manera plena y segura al encuentro.
        p A los que se preparan para la JMJ, les proponemos participar en las iniciativas que ayudan a entender la idea de la JMJ y conocer su historia, así como utilizar de forma creativa sus talentos. Entre otros, les ofrecemos: crear objetos valiosos para la venta y adquirirlos, participar en eventos culturales y deportivos, entablar contactos con los jóvenes de Europa del Este, y muchas otras formas de compromiso.
        p A cualquier persona que quiera participar en las preparaciones de la JMJ 2016, le sugerimos que a través de las obras de caridad, tales como apoyo a los jóvenes de Europa del Este, acepte personalmente la invitación escondida de Jesús en el tema de la Jornada Mundial de la Juventud: Bienaventurados los misericordiosos, porque ellos recibirán misericordia (Mt 5:7).
        p Con el fin de apoyar el programa “Billete para un Hermano,” puede hacer una donación en la siguiente cuenta bancaria:
        p <strong>Krajowe Biuro Organizacyjne ŚDM</strong><br />Bank Zachodni WBK, 2 Oddział w Siedlcach<br />51 1500 1663 1216 6009 9321 0000
        p <strong>Para más detalles consulte:</strong> <a href="http://www.biletdlabrata.pl">www.biletdlabrata.pl</a>