---
title: "Has sido suscrito"
---

extends /layouts/es

block content
  h2
    span Has sido suscrito
  section.content--text.content--text-w-center
    h3 ¡Gracias!
    p Tú has suscrito y cada vez quando la información importante aparece, te la enviaremos.
    p
      a(href="/es/") Ir a la página principal.