---
title: "Te has suscrito."
---

extends /layouts/es

block content
  h2
    span Te has suscrito.
  section.content--text.content--text-w-center
    h3 ¡Gracias!
    p Te has suscrito y cada vez que una información importante aparece se lo notificaremos.
    p
      a(href="/es/") Ir a la página principal.