---
title: "Suscripción del organizador"
description: "¿Eres organizador de un grupo calasancio local? ¿Llegarás con un grupo de jóvenes a Polonia en el 2016? ¿Quisieras recibir actualizaciones de información y anuncios a tu cuenta de correo electrónico?"
---

extends /layouts/es

block content
  h2
    span Suscripción del organizador
  section.content--text.content--text-w-center
    figure
      div(style="width: 100%;padding-top:76.60%;position:relative")
        img(src="/img/exemplary_group.jpg", alt="Exemplary Group Photo", style="position:absolute;top:0;left:0", data-no-retina="true")
      figcaption Ejemplo de grupo con su organizador - P. Rafael Capo SchP (<a href="http://instagram.com/p/y8hm-jyoFm/">la Fuente</a>)
    p ¿Eres organizador de un grupo calasancio local? ¿Llegarás con un grupo de jóvenes a Polonia en el 2016? ¿Quisieras <strong>recibir actualizaciones de información y anuncios a tu cuenta de correo electrónico</strong>?
    p Llena el formulario siguiente y recibirás informes después de cada actualización informática – <strong>enviaremos estas informaciones por medio del correo electrónico</strong>.
    p.italic Además, podremos saber a cuánta gente esperar y cuánto preparar. ;)
    form(action=loc._organiser_subscribe+".php", method="post")
      .field
        label(for="form--name") ¿Cómo te llamas?
        input(type="text", name="name", id="form--name", placeholder="Padre Juana Pérez SP", required)
      .field
        label(for="form--email") ¿Cuál es tu dirección de correo electrónico?
        input(type="email", name="email", id="form--emails", placeholder="perezsp@gmail.com", required)
      .field
        label(for="form--city") ¿QUÉ CIUDAD Y QUÉ PAÍS REPRESENTARÁS DURANTE LA JMJ 2016?
        input(type="text", name="city", id="form--city", placeholder="Peralta de la Sal, España", required)
      .field
        label(for="form--people") ¿CON CUÁNTA GENTE ESPERAS LLEGAR A LA JMJ 2016 (APROXIMÁDAMENTE)?
        input(type="text", name="people", id="form--people", placeholder="50", required)
      .field
        label ¿EN CUÁLES ACONTECIMIENTOS PLANEAS PARTICIPAR?
        label(for="form--days_in_diocese")
          input(type="checkbox", name="days_in_diocese", id="form--days_in_diocese", value="1")
          |LOS DÍAS EN LA DIÓCESIS (20 – 25 de julio de 2016)
        label(for="form--calasantian_day")
          input(type="checkbox", name="calasantian_day", id="form--calasantian_day", value="1")
          |Día Calasancio (27 de julio de 2016).
      .actions
        input(type="submit", value="Suscríbeme")
